@if(!loaded()) {
<app-page-load-spinner [delay]="1000" />
}
<article [class.open]="loaded()">
  @if(hasError()) {
  <app-page-error
    errorTitle="Event Site not available."
    errorMessage="We're sorry. The requested event was not found."
    routerLink="/home"
    routerLinkText="Click here to go back to the home page"
  ></app-page-error>
  <footer>
    <app-footer />
  </footer>
  } @else {
  <header [style.backgroundImage]="backgroundImage()">
    <app-event-header></app-event-header>
  </header>
  <main class="content-container">
    <app-event-navbar
      class="event-navbar content-container"
      [class.logged-in]="isAuthenticated()"
      (setFocus)="setFocusChild($event)"
    ></app-event-navbar>
    <section class="event-panels">
      <app-event-overview [focusChild]="focusChild" />
      <app-event-opportunities />
    </section>
  </main>
  <footer>
    <app-footer />
  </footer>
  }
</article>
