@if(resizedImage()) {
<img
  [ngSrc]="resizedImage()!.src"
  sizes="100vw"
  [alt]="event()?.description"
  [class.grok]="xAi()"
  [width]="resizedImage()?.image?.width"
  [height]="resizedImage()?.image?.height"
  [style.objectPosition]="event()?.image?.position"
  priority
  placeholder
/>
}
<div class="banner-bar">
  <div class="banner-title break-word">
    {{ event()?.eventTitle }}
  </div>
  <div class="event-desc">
    @if(eventDateRange()) {
    <!-- date range start -->
    <span class="material-icons">event_note</span>
    <span>{{ eventDateRange()!.minDate | date }}</span>
    @if(eventDateRange()?.maxDate) { -
    <span>{{ eventDateRange()!.maxDate | date }}</span>
    }
    <!-- date range end -->
    } @else {
    <div class="flex-column">
      {{ event()?.description }}
      <div class="flex-row">
        <span class="material-icons">campaign</span>
        Coming Soon
      </div>
    </div>
    }
  </div>
  @if(locationCount()) {
  <div class="event-desc" [class.open]="locationCount()">
    <span class="material-icons">place</span>
    <span>
      {{ locationCount() | displayCount }}
      @if(locationCount() !== 1) {
      <span>Locations</span>
      } @else {
      <span>Location</span>
      }
    </span>
  </div>
  }
</div>
