@if(!loaded()) {
<app-page-load-spinner [delay]="1000" />
}
<article class="nx-flex col al-c" [class.open]="loaded()">
  <header class="component-box">
    <!-- @if(heroImage()) {
    <img [ngSrc]="heroImage()!" alt="Hero Image" fill placeholder priority />
    } -->
    <app-event-hero />
  </header>
  <main class="component-box nx-flex col al-c">
    <app-event-navbar (setFocus)="setFocusChild($event)"></app-event-navbar>
    <div class="event-panels cb-content pad nx-flex row jc-sb">
      <div class="overview">
        <app-event-overview [focusChild]="focusChild" />
      </div>
      <div>
        @if(loaded()) {
        <app-event-opportunities />
        }
      </div>
    </div>
  </main>
</article>
@if(showRegistrationDialog()) {
<app-registration-dialog (close)="closeRegistrationDialog()" />
}
