@if(!loaded()) {
<app-loading-spinner [delay]="500" />
}
<article [class.open]="loaded()">
  <header [style.backgroundImage]="backgroundImage()">
    <app-event-header></app-event-header>
  </header>
  <main class="content-container">
    <app-event-navbar (setFocus)="setFocusChild($event)"></app-event-navbar>
    <section class="event-panels">
      <app-event-overview [focusChild]="focusChild" />
      <app-event-opportunities />
    </section>
  </main>
</article>
@if(showRegistrationDialog()) {
<app-registration-dialog (close)="closeRegistrationDialog()" />
}
<app-opportunity-request-footer />
