<app-page-load-spinner [remove]="loaded()" [delay]="1000" />
<article class="nx-flex col al-c" [class.open]="loaded()">
  <header class="component-box">
    <!-- @if(heroImage()) {
    <img [ngSrc]="heroImage()!" alt="Hero Image" fill placeholder priority />
    } -->
    <app-event-hero />
  </header>
  <main class="component-box">
    <div class="cb-content pad">
      <mat-tab-group
        dynamicHeight
        [selectedIndex]="selectedIndex()"
        (selectedTabChange)="onTabChange($event)"
      >
        <mat-tab label="Overview">
          <div class="tab-content pre-wrap">{{ event()?.fullDescription }}</div>
        </mat-tab>
        <mat-tab label="Upcoming Opportunities">
          <div class="tab-content">
            @if(loaded()) {
            <app-event-opportunities />
            }
          </div>
        </mat-tab>
        <mat-tab label="Locations">
          <div class="tab-content">
            <app-location-overview></app-location-overview>
          </div>
        </mat-tab>
        <mat-tab label="Event Coordinators">
          <div class="tab-content">
            <app-coordinator-overview />
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </main>
</article>
@if(showRegistrationDialog()) {
<app-registration-dialog (close)="closeRegistrationDialog()" />
}
