:host {
  display: block;
  width: 100%;
  height: 100%;
}

article {
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--next-surface);

  header,
  main {
    opacity: 0;
    transition: opacity 0.25s ease-in;
  }

  &.open {
    background-color: inherit;
    header,
    main {
      opacity: 1;
    }
  }
}

header {
  width: 100%;
  overflow: hidden;
  img {
    object-fit: cover;
    filter: brightness(50%) blur(5px);
  }
  position: relative;
}

.mat-mdc-tab-group {
  width: 100%;
  margin: 12px 0;
}

.tab-content {
  padding: 24px 0;
  width: 100%;
}

.event-panels {
  .overview {
    flex: 1;
  }
}

@media (min-width: 992px) {
  .tab-content {
    min-height: 400px;
  }
}
