<article class="nx-flex col al-c gap-20">
  <header class="component-box">
    <img
      [ngSrc]="backgroundImage()!"
      alt="Hero Image"
      fill
      placeholder
      priority
    />
    <app-ai-event-header
      [event]="dreamEvent()!"
      [savedEvent]="savedEvent()"
    ></app-ai-event-header>
  </header>
  <main class="component-box">
    <section class="cb-content pad nx-flex col gap-20">
      <header class="subhead">Description</header>
      <main class="pre-wrap">{{ dreamEvent()!.fullDescription }}</main>
    </section>
  </main>
  <footer>
    <a type="button" class="app-button app-button-outlined" routerLink="..">
      <span class="material-icons">arrow_back_ios_new</span>
      Go Back
    </a>
    @if(!savedEvent()) {
    <button
      class="app-button app-button-filled"
      type="button"
      (click)="saveEvent()"
      [disabled]="busy() || savedEvent()"
    >
      @if(busy()) { Saving... } @else { Save This Event }
    </button>
    } @else {
    <a
      type="button"
      class="app-button app-button-filled fade-in"
      [class.open]="savedEvent()"
      [routerLink]="'/event/' + savedEvent()?.eventId"
    >
      Visit the Event Page
    </a>
    }
  </footer>
  <div class="progress" [class.open]="busy()">
    <mat-progress-bar mode="indeterminate" class="blue-spin"></mat-progress-bar>
  </div>
</article>
