<app-modal (close)="onDialogClose()">
  <header class="dialog">
    <span>{{ headerText() }}</span>
    <button
      type="button"
      class="dialog-close"
      mat-icon-button
      (click)="onDialogClose()"
    >
      <span class="material-symbols-outlined"> close </span>
    </button>
  </header>
  <main class="dialog">
    <ng-content />
  </main>
  <footer class="dialog">
    <button
      matRipple
      class="app-button dialog-button app-button-filled priority"
      (click)="onConfirm()"
    >
      Yes, I'm sure
    </button>
    <button
      matRipple
      class="app-button dialog-button app-button-outlined"
      (click)="onDialogClose()"
    >
      No, I changed my mind.
    </button>
  </footer>
</app-modal>
