<div
  class="banner component-box nx-flex row al-c jc-c"
  [class.removed]="removed"
>
  <div class="cb-content pad nx-flex">
    <section class="announcement">
      <div class="banner-subhead">Next Japan</div>
      <div class="soft">
        A demo portfolio showcasing Angular v20 and Node.js with AI integration.
        <b>Sign in</b> using a pre-filled sample account to try liking (❤️),
        sharing (✈️), and designing AI-crafted experiences!
      </div>
    </section>
    <section class="buttons">
      <app-login-button></app-login-button>
      <app-login-button [signup]="true"></app-login-button>
    </section>
  </div>
</div>
