<div class="component-box nx-flex row al-c jc-c">
  <div class="cb-content pad nx-flex">
    <section class="announcement nx-flex col gap-10">
      <h1 class="banner-subhead">Next Japan - Zoneless Angular v20 App</h1>
      <div class="soft">
        <b>Sign in</b> using a pre-filled sample account to try liking (❤️),
        sharing (✈️), and designing AI-crafted experiences!
      </div>
    </section>
    <section class="buttons">
      <app-login-button></app-login-button>
      <app-login-button [signup]="true"></app-login-button>
    </section>
  </div>
</div>
