:host {
  z-index: 201;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;

  &.removed {
    .banner {
      display: none;
    }
  }
}

.banner {
  width: 100%;
  height: 160px;
  color: #fff;
  background: var(--navy-blue-mountain);
  display: flex;
  justify-content: center;
  box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.15);
  border-top: 1px solid var(--creamy-white-clouds);

  /* animation bits */
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.banner.open {
  transform: translateY(0);
  opacity: 1;
}

.banner:not(.open) {
  pointer-events: none; /* 🔑 prevents invisible banner from blocking taps */
}

.banner-subhead {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  text-align: left;
}

.cb-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .banner {
    height: 110px;
  }

  .cb-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 820px) {
  .banner-subhead {
    font-size: 20px;
  }

  .banner-subhead {
    font-size: 24px;
  }

  .announcement {
    max-width: 640px;
  }

  .buttons {
    width: auto;
  }
}

@media screen and (min-width: 1200px) {
  .banner {
    height: 100px;
  }
}
