:host {
  z-index: 201;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.banner {
  width: 100%;
  height: 180px;
  color: #fff;
  background: var(--bright-blue-sky);
  display: flex;
  justify-content: center;
  box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.15);
}

.banner-subhead {
  font-size: 20px;
  font-weight: 700;
}

.cb-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

@media screen and (min-width: 820px) {
  .banner {
    height: 96px;
  }

  .banner-subhead {
    font-size: 24px;
    //font-weight: 600;
  }

  .cb-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .announcement {
    max-width: 768px;
  }

  .buttons {
    width: auto;
  }
}
