:host {
  display: flex;
  justify-content: center;
  width: 100%;
}

article {
  padding: 20px 0;
}

.page-heading {
  font-size: 28px;
  line-height: 1.14286;
  letter-spacing: 0.007em;
  font-weight: 600;
  color: var(--next-heading);
}

.note {
  color: var(--next-note);
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    padding-bottom: 20px;
  }

  li:first-child,
  li:not(:last-child) {
    border-bottom: 1px solid var(--next-border);
  }
}

.confirm-title {
  font-weight: 700;
}

.confirm {
  font-weight: 600;
  color: var(--next-note);
}

@media (min-width: 600px) {
  ul {
    gap: 10px;
  }
}
