<!-- load spinner-->
@if(!loaded()) {
<app-page-load-spinner />
}

<article
  class="component-box nx-flex col al-c gap-20 fade-in"
  [class.open]="loaded()"
>
  <header class="cb-content pad">
    <div class="title">My Events</div>
  </header>
  <main class="cb-content pad">
    <ul class="nx-flex col gap-20">
      @for(event of events(); track event.registrationId) {
      <li>
        <app-event-registration-card
          [event]="event"
          (cancelRegistration)="confirmCancel(event)"
        />
      </li>
      } @empty {
      <li>
        You haven't registered for any events yet.<br />
        Start planning your next adventure and your events will appear here!
      </li>
      }
    </ul>
  </main>
</article>
@if(eventToCancel()) {
<app-confirm-modal
  (confirmed)="cancelEvent($event)"
  headerText="Cancel My Registration"
>
  <div class="nx-flex col gap-5">
    <div class="confirm-title">{{ eventToCancel()!.eventTitle }}</div>
    <app-opportunity-timestamp
      [opportunity]="eventToCancel()!.opportunity"
    ></app-opportunity-timestamp>
  </div>
  <p class="confirm">
    Are you sure you want to cancel this event registration?
  </p>
</app-confirm-modal>
}
