:host {
  display: flex;
  justify-content: center;
  width: 100%;
}

article {
  padding: 20px 0;
}

.title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin: 4px 0;
}

.highlight {
  color: var(--bright-blue-sky);
  font-weight: 700;
  font-size: larger;
}

.hint {
  color: var(--next-note);
  font-weight: 500;
}

.muted {
  color: var(--next-muted);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    padding-bottom: 20px;
  }

  li:first-child,
  li:not(:last-child) {
    border-bottom: 1px solid var(--next-border);
  }
}

.confirm-title {
  color: var(--next-heading);
  font-weight: 700;
}

.confirm {
  font-weight: 600;
}

@media (min-width: 600px) {
  ul {
    gap: 10px;
    //width: 70%;
  }
}
