<section>
  <div class="brand-logo">
    <app-logo [size]="100" />
  </div>
  <div class="nav-bar">
    <nav>
      <ul>
        <li>
          <a routerLink="/legal/privacy">Privacy Policy</a>
        </li>
        <li>
          <a routerLink="/legal/tos">Terms of Service</a>
        </li>
        <li>
          <a routerLink="/legal/cookies">Cookies</a>
        </li>
        <li>
          <a routerLink="/legal/acceptable-use">Acceptable Use</a>
        </li>
        <li>
          <a href="" (click)="openAboutDialog($event)">About</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
