@use "sass:map";
@use "variables.scss" as var;

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
}

.action-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-button-outlined {
  padding: 0 10px;
}

@media (min-width: 600px) {
  :host {
    gap: 40px;
  }

  .app-button-outlined {
    padding: 0 15px;
  }
}
