.dialog {
  color: var(--next-text);
}

.title {
  font-size: 16px;
  font-weight: 600;
}

.confirm-text {
  line-height: 24px;
  transition: 0.25s ease-in-out;
  height: 0;

  &.open {
    height: 24px;
  }
}

footer.dialog {
  align-items: flex-start;
  padding-top: 0;

  .cancel-text {
    font-weight: 600;
    color: var(--next-note);
  }
}

@media screen and (min-width: 600px) {
  .dialog {
    width: 320px;
  }
}

@media only screen and (min-width: 992px) {
  footer.dialog {
    button {
      &.app-button-outlined:hover {
        opacity: 0.75;
      }

      &.app-button.cancel:hover {
        background-color: var(--next-surface-alt);
      }
    }
  }
}
