<header [style.backgroundImage]="backgroundImage()">
  <!-- <app-dream-header
    [event]="dreamEvent()"
    [savedEvent]="savedEvent()"
  ></app-dream-header> -->
</header>
<main class="content-container">
  <section>
    <header>Description</header>
    <main class="pre-wrap">{{ dreamEvent().description }}</main>
  </section>
</main>
<footer class="button-bar">
  <button class="app-button app-button-default" type="button" (click)="reset()">
    Try Again
  </button>
  <button class="app-button app-button-save" type="button">Save Event</button>
</footer>
@if(busy()) {
<app-loading-spinner />
}
