<div class="nx-flex col gap-20 opportunity-card">
  <div class="nx-flex col gap-5">
    <app-opportunity-timestamp
      [opportunity]="opportunity()"
      [showNotes]="false"
    />
    <!-- @if(location()) {
    <app-address-strip
      [location]="location()!"
      [showDirections]="true"
    ></app-address-strip>
    } -->
  </div>
  <div class="notes soft muted">
    {{ opportunity().notes }}
  </div>
  <div class="nx-flex gap-10">
    <app-opportunity-selector class="selector" [opportunity]="opportunity()" />
    <div>
      <app-button cssClass="app-button text-button">
        <span class="text">See details</span>
      </app-button>
    </div>
  </div>
</div>
