<div class="nx-flex col gap-10 opportunity-card">
  <header class="title-text break-word">
    {{ location()?.locationName }}
  </header>
  <main class="nx-flex col gap-5">
    @if(location()) {
    <app-address-strip
      [location]="location()!"
      [showDirections]="true"
      [notes]="location()?.locationNotes"
    ></app-address-strip>
    }
    <app-opportunity-timestamp
      [opportunity]="opportunity()"
    ></app-opportunity-timestamp>
  </main>
</div>
<app-opportunity-selector class="selector" [opportunity]="opportunity()" />
