<div class="nx-flex col gap-10 opportunity-card">
  <header class="title break-word">
    {{ location()?.locationName }}
  </header>
  <main class="nx-flex col gap-5">
    @if(location()) {
    <app-address-strip
      [location]="location()!"
      [showDirections]="true"
    ></app-address-strip>
    }
    <div>
      <app-opportunity-timestamp
        [opportunity]="opportunity()"
      ></app-opportunity-timestamp>
    </div>
  </main>
</div>
<div class="actions nx-flex col">
  <app-opportunity-selector class="selector" [opportunity]="opportunity()" />
</div>
