:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  min-height: 160px;
  border: 1px solid var(--next-border);
  border-radius: 10px;
  padding: 16px;
  background-color: var(--next-surface);
  font-size: 16px;
  line-height: 20px;
}

.notes {
  flex: 1;
  justify-self: flex-start;
}

.selector {
  align-self: flex-end;
  max-width: 140px;
}

.text {
  font-weight: 400;
  font-size: 14px;
}
