:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  border: 1px solid var(--next-border);
  border-radius: 10px;
  padding: 16px;
  background-color: var(--next-surface);
}

.opportunity-card {
  width: 100%;
  height: 100%;
}

.title {
  font-weight: 700;
}

.notes {
  flex: 1;
}

.selector {
  align-self: flex-end;
  max-width: 140px;
}

.text {
  font-weight: 400;
  color: var(--navy-blue-mountain);
}
