:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  border-bottom: 1px solid var(--next-border);
  padding: 10px;
  padding-bottom: 20px;
  margin-bottom: 10px;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border: 0;
  }
}

.opportunity-card {
  width: 100%;
}

.selector {
  align-self: flex-end;
  max-width: 140px;
}
