:host {
  display: flex;
  justify-content: center;
}

article {
  padding: 24px 0;
}

.subhead {
  margin: 5px 0;
}

.highlight {
  color: var(--bright-blue-sky);
  font-weight: 700;
  font-size: larger;
}

.hint {
  color: var(--next-note);
  font-weight: 500;
}

.muted {
  color: var(--next-muted);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    padding-bottom: 24px;
  }

  li:not(:last-child) {
    border-bottom: 1px solid var(--next-border);
  }
}

@media (min-width: 600px) {
  ul {
    gap: 10px;
    width: 70%;
  }
}
