@use "sass:map";
@use "src/styles/variables.scss" as var;

:host {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  //min-height: 542px;
}

.controls {
  align-self: center;

  button {
    width: 48px;
    height: 48px;

    background-color: map.get(var.$colors, section-gray);

    &:hover {
      background-color: map.get(var.$colors, section-medium-gray);
    }

    &:disabled {
      opacity: 0;
    }
  }
}

.carousel-slide {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 10px;
}

.event-card {
  width: 235px;
  height: 462px;
}

@media (min-width: 400px) {
  .event-card {
    width: 275px;
  }
}

@media (min-width: 600px) {
  .event-card {
    width: 320px;
  }
}
