<div class="controls">
  <button
    aria-label="Show Previous Slide"
    type="button"
    class="app-icon-button"
    matRipple
    (click)="showPrevSlide()"
    [disabled]="carouselIndex === 0"
  >
    <mat-icon>arrow_back_ios_new</mat-icon>
  </button>
</div>
<mat-tab-group [selectedIndex]="carouselIndex" class="mat-tab-hide-tabs">
  @for(slide of slides; track slide.events[0]?.eventId) {
  <mat-tab>
    <div class="carousel-slide">
      @for(event of slide.events; track $index) {
      <div class="event-card">
        @if(event) {
        <app-event-card
          [event]="event"
          [openInNewTab]="openInNewTab()"
        ></app-event-card>
        }
      </div>
      }
    </div>
  </mat-tab>
  }
</mat-tab-group>
<div class="controls">
  <button
    aria-label="Show Next Slide"
    type="button"
    class="app-icon-button"
    matRipple
    (click)="showNextSlide()"
    [disabled]="carouselIndex === slides.length - 1"
  >
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>
</div>
