@if(ssrMode() || hideCarousel()) {
<div class="carousel-ssr">
  @for (event of sortedEvents(); track event.eventId) {
  <app-event-card [event]="event"></app-event-card>
  }
</div>
} @else {
<p-carousel
  [attr.aria-label]="'Featured events carousel'"
  [value]="sortedEvents()"
  [numVisible]="3"
  [numScroll]="1"
  [circular]="true"
  [responsiveOptions]="responsiveOptions"
  [autoplayInterval]="6000"
  [showIndicators]="showIndicators()"
  [prevButtonProps]="{ ariaLabel: 'Navigate to previous events' }"
  [nextButtonProps]="{ ariaLabel: 'Navigate to next events' }"
  role="region"
>
  <ng-template let-event #item>
    <app-event-card [event]="event" />
  </ng-template>
</p-carousel>
}
