.carousel-container {
  position: relative;
  width: calc(100vw - 40px);
  max-width: 2560px;
  margin: 0 auto;
  //overflow: hidden;
}

.carousel-track {
  width: 100%;
  height: 440px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  touch-action: pan-x;
  will-change: scroll-position;
  overscroll-behavior-x: contain; /* Prevent overscrolling */
  overscroll-behavior-y: auto;
  transition: scroll-left 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); /* Bounce effect */
}

.carousel-track::-webkit-scrollbar {
  display: none;
}
.carousel-track--ssr {
  overflow-x: visible; /* No scrolling server-side */
  flex-wrap: wrap; /* Stack events for SEO */
  height: auto;
}

.event-item {
  transition: scroll-left 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); /* Bounce effect */
  scroll-snap-align: center;
  scroll-snap-stop: always; /* Force snap to one item */
  width: 325px; /* 315px card + 5px padding per side */
  height: 440px;
  box-sizing: border-box;
  padding: 0 5px;
  flex: 0 0 auto;
}

.nav-button {
  display: none;
}

@media (max-width: 819.98px), (pointer: coarse) {
  .carousel-container {
    overflow: visible;
  }
}

@media (pointer: fine) or (min-width: 932px) {
  .nav-button {
    display: none;
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
    font-size: 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: 0.25s ease-in-out;

    .material-icons {
      font-size: 16px;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.6);
    }
  }

  .nav-button:disabled {
    opacity: 0.25;
    cursor: not-allowed;
  }

  .prev {
    left: 20px;
  }

  .next {
    right: 20px;
  }
}
