:host {
  display: flex;
  align-items: center;
  gap: 2px;
}

.share-button {
  padding: 2px;
  background: transparent;
  color: #fff;
  line-height: 24px;
  border-radius: 10px;
  outline: none;
  color: var(--next-text);

  border: 1px solid transparent;
  border-radius: 6px;
  transition: 0.25s ease-in-out;

  &:hover {
    border-color: var(--next-border);
    background-color: rgba($color: #fff, $alpha: 0.2);
  }
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 14px;
  line-height: 24px;
}

.icon-image {
  width: 20px;
  height: 20px;
  border-radius: 0.25rem;
}

.soft {
  font-weight: 500;
  line-height: 24px;
}

@media only screen and (min-width: 992px) {
  .share-button:hover {
    cursor: pointer;
  }
}
