@use "variables.scss" as var;

:host {
  padding-bottom: 80px;
  flex: 1;
}

header {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin: 24px 0 12px 0;
  text-align: left;
  scroll-margin-top: 105px;
  color: var(--next-heading);
}

@media (min-width: 992px) {
  :host {
    border-right: 1px solid var(--next-border);
    padding-right: 10px;
  }
}
