<app-modal class="dialog" (close)="closeDialog()">
  <header class="dialog">
    <span>My Dream Events</span>
    <button
      aria-label="Close dialog"
      type="button"
      class="dialog-close"
      mat-icon-button
      (click)="closeDialog()"
    >
      <span class="material-icons">close</span>
    </button>
  </header>
  <main class="dialog" #main>
    @if(events().length === 0) {
    <div class="no-events">You don't have any Dream Events.</div>
    }
  </main>
  <footer class="dialog">
    <button
      type="button"
      class="app-button dialog-button app-button-cancel"
      matRipple
      (click)="closeDialog()"
    >
      Close
    </button>
    @if(events().length === 0) {
    <button
      type="button"
      class="app-button dialog-button app-button-save"
      matRipple
      (click)="navigateToDream()"
    >
      Build a Dream
    </button>
    }
  </footer>
</app-modal>
