<img [ngSrc]="aiBackgroundImage().src" alt="A dream" fill placeholder />
<div class="banner nx-flex jc-c">
  <div class="cb-content pad nx-flex col al-c gap-16">
    <header>
      <div class="headline">AI Event Designer</div>
      <div class="subhead">Design and customize events effortlessly.</div>
    </header>
    <section>
      Our AI Event Designer is currently in beta and available for you to test
      drive. Experience how artificial intelligence can help you design and
      customize events quickly and effortlessly. Try it now and experience the
      future of event planning!
    </section>
    <section>
      <app-anchor
        cssClass="app-button app-button-filled ai-theme"
        label="Learn more about our AI Event Designer"
        link="/ai"
      >
        <span class="anchor-label">Explore the AI Event Designer</span>
      </app-anchor>
    </section>
  </div>
</div>
