<img [ngSrc]="aiBackgroundImage().src" alt="A dream" fill placeholder />
<div class="banner nj-flex justify-center">
  <div class="component-box-content pad nj-flex col align-center gap-16">
    <header class="nj-flex col align-center gap-5">
      <div class="headline">AI Event Designer</div>
      <div class="subhead">Design and customize events effortlessly.</div>
    </header>
    <section>
      Our AI Event Designer is currently in beta and available for you to test
      drive. Experience how artificial intelligence can help you design and
      customize events quickly and effortlessly. Try it now and experience the
      future of event planning!
    </section>
    <section>
      <app-anchor
        cssClass="app-button app-button-filled ai-theme"
        label="Learn more about our AI Event Designer"
        link="/ai"
      >
        <span class="anchor-label">Explore the AI Event Designer</span>
      </app-anchor>
    </section>
  </div>
</div>
