:host {
  position: relative;
  display: block;
  height: 800px;
  width: 100%;
  max-width: var(--max-page-width);
}

img {
  object-fit: cover;
}

.banner {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background: rgba($color: #000000, $alpha: 0.5);
  padding: 42px 24px;
  color: #fff;
}

.cb-content {
  text-align: center;
}

.headline {
  color: var(--next-highlight);
}

main {
  font-size: 14px;
  line-height: 20px;
}

.anchor-label {
  font-size: 18px;
  line-height: 48px;
}

@media screen and (min-width: 600px) {
  :host {
    height: 640px;
  }

  main {
    font-size: 16px;
  }
}
