<nav
  class="cb-content flex col al-c jc-start"
  [class.search-mode]="inSearchMode()"
>
  <ul class="nx-flex row al-c jc-sb">
    <li>
      <a class="app-button logo" routerLink="/home">
        <app-logo />
      </a>
    </li>
    <li class="spacer"></li>
    <li>
      <button
        aria-label="Search Events"
        type="button"
        class="app-button flex-button transparent"
        [class.active]="inSearchMode()"
        (click)="toggleSearchPanel($event)"
      >
        <span class="material-icons">search</span>
        Search Events
      </button>
    </li>
    <li>
      <app-my-notifications [userId]="user().userId" />
    </li>
    <li>
      <app-user-menu [user]="user()" (signout)="logout()" />
    </li>
  </ul>
  @if (inSearchMode()) {
  <app-search-autocomplete />
  }
</nav>
