<nav [class.open]="userProfile()">
  @if(userProfile()) {
  <ul>
    <li>
      <a class="app-button logo" routerLink="/home" matRipple>
        <app-logo [size]="92" />
      </a>
    </li>
    <li>
      <a type="button" class="app-button" matRipple routerLink="./dream">
        AI Event Builder
      </a>
    </li>
    <li class="spacer"></li>
    <li class="notifications">
      @defer () {
      <app-my-notifications />
      }
    </li>
    <li class="image">
      @defer () {
      <app-user-menu (signout)="logout()" />
      }
    </li>
  </ul>

  }
</nav>
