@use "sass:map";
@use "variables.scss" as var;

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--creamy-white-clouds);
}

nav {
  width: 100%;
  height: var.$user-header-height;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: 0.25s ease-in-out;

  &.search-mode {
    height: calc(var.$user-header-height + var.$user-header-height);
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 100%;

  .app-button {
    background-color: transparent;
    padding: 0 20px;
    white-space: nowrap;
    transition: 0.25s;
    font-weight: 500;
    border-radius: 24px;

    &.logo,
    &.logo:active,
    &.logo:focus {
      padding: 0;
      border-radius: 0;
    }

    &.active {
      background-color: map.get(var.$colors, section-medium-gray);
    }

    &.ai {
      font-weight: 600;
    }
  }

  &:last-child {
    padding-right: 10px;
  }
}

li.spacer {
  flex: 1;
}

.text {
  display: none;
}

.strong {
  font-weight: 600;
}

@media (min-width: 600px) {
  nav {
    max-width: var.$max-page-width;
  }

  ul {
    gap: 10px;
  }

  li {
    .app-button {
      &:hover {
        @media (pointer: fine) {
          background-color: map.get(var.$colors, section-medium-gray);
        }
      }
    }
  }
}
