<nav [class.search-mode]="inSearchMode()">
  @if(userProfile()) {
  <ul>
    <li>
      <a class="app-button logo" routerLink="/home" matRipple>
        <app-logo [size]="92" />
      </a>
    </li>
    <!-- <li class="search desktop">
      <app-search-autocomplete />
    </li> -->
    <!-- <li>
      <a
        type="button"
        class="app-button ai"
        matRipple
        routerLink="./dream"
        routerLinkActive="active"
      >
        AI Event Builder
      </a>
    </li> -->
    <li>
      <button
        aria-label="Search Events"
        type="button"
        class="app-button flex-button transparent"
        [class.active]="inSearchMode()"
        (click)="toggleSearchPanel()"
      >
        <span class="material-icons">search</span>
        Search Events
      </button>
    </li>
    <li class="spacer"></li>
    <li class="notifications">
      @defer () {
      <app-my-notifications />
      }
    </li>
    <li class="image">
      @defer () {
      <app-user-menu (signout)="logout()" />
      }
    </li>
  </ul>
  <app-search-autocomplete />
  }
</nav>
