@use "sass:map";
@use "src/styles/variables.scss" as var;

article {
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 1;
  min-height: 100px;
  width: 100%;
  transition: 0.25s ease-in-out;
  margin-bottom: 5px;

  &.hide {
    opacity: 0;
    height: 0;
    min-height: 0;
    margin-bottom: 0;
    overflow: hidden;
  }
}

ul {
  margin: 5px 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li {
  display: flex;
  align-items: center;
  min-height: 40px;
  transition: 0.25s ease-in-out;
  padding-bottom: 10px;
  border-bottom: 1px solid map.get(var.$colors, light-gray-accent);

  &.removed {
    opacity: 0;
    height: 0;
    min-height: 0;
    padding: 0;
    line-height: 0;
    overflow: hidden;
  }
}
