// Light Mode (default)
:root,
html:not(.dark-theme) {
  --next-bg: #f8f8f8;
  --next-surface: #ffffff;
  --next-surface-rgb: 255, 255, 255;
  --next-surface-alt: #eaeaea;
  --next-shade: #fcfcfc;
  --next-text: #000; // black
  --next-text-alt: #0f2b56; // navy
  --next-heading: #e52521; // torii gate red
  --next-accent: #e52521; // strong red
  --next-primary: #00aeef; // bright blue
  --next-highlight: #ffd300; // vivid yellow
  --next-muted: #616060; // accessible neutral gray
  --next-border: #dedede;
  --next-border-alt: #ababab;
  --next-border-dark: #2e1b0b; // dark brown
  --next-shadow: rgba(0, 0, 0, 0.1);
  --next-link: #006083; // bright blue
  --next-note: #616060; // bright blue
  --next-footer-bg: #1a1a1a;
}

// Dark Mode
.dark-theme {
  --next-bg: #121212;
  --next-surface: #1e1e1e;
  --next-surface-rgb: 30, 30, 30;
  --next-surface-alt: #2a2a2a;
  --next-shade: #2a2a2a;
  --next-text: #ffffff;
  --next-heading: #ffd300; // vivid yellow
  --next-accent: #ff6fae;
  --next-primary: #00aeef;
  --next-highlight: #ffe779;
  --next-muted: #6dc067;
  --next-border: #444;
  --next-border-alt: #444;
  --next-shadow: rgba(0, 0, 0, 0.5);
  --next-link: #00aeef; // bright blue
  --next-note: #ababab; // bright blue
  --next-footer-bg: #111111;
}
