// Light Mode (default)
:root,
html:not(.dark-theme) {
  --next-bg: #f8f8f8;
  --next-surface: #ffffff;
  --next-surface-rgb: 255, 255, 255;
  --next-surface-alt: #eaeaea;
  --next-shade: #fcfcfc;
  --next-text: #000; // black
  --next-text-rgb: 0, 0, 0;
  --next-text-alt: #0f2b56; // navy
  --next-heading: #e52521; // torii gate red
  --next-accent: #e52521; // torii gate red
  --next-primary: #00aeef; // bright blue
  --next-primary-rgb: 0, 174, 239; // bright blue
  --next-highlight: #ffe779; // light-yellow-stars
  --next-muted: #616060; // accessible neutral gray
  --next-muted-rgb: 97, 96, 96; // accessible neutral gray
  --next-border: #dedede;
  --next-border-modal: transparent;
  --next-border-alt: #ababab;
  --next-border-dark: #2e1b0b; // dark brown
  --next-shadow: rgba(0, 0, 0, 0.1);
  --next-link: #00658d;
  --next-note: #616060;
  --next-verified: #6dc067;
  --next-footer-bg: #1a1a1a;

  --next-confirm-bg: #00658d;
  --next-confirm-text: #fff;
  --next-confirm-weight: 500;

  --next-outlined-text: #00658d;
  --next-outlined-border: #6e7881;
}

// Dark Mode
.dark-theme {
  --next-bg: #121212;
  --next-surface: #1e1e1e;
  --next-surface-rgb: 30, 30, 30;
  --next-surface-alt: #2a2a2a;
  --next-shade: #2a2a2a;
  --next-text: #ffffff;
  --next-text-rgb: 255, 255, 255;
  --next-heading: #ffd300; // vivid yellow
  --next-accent: #ff6fae;
  --next-primary: #00aeef;
  --next-primary-rgb: 0, 174, 239; // bright blue
  --next-highlight: #ffe779; // light-yellow-stars
  --next-muted: #6dc067;
  --next-muted-rgb: 109, 192, 103;
  --next-border: #444;
  --next-border-modal: #444;
  --next-border-alt: #444;
  --next-shadow: rgba(0, 0, 0, 0.5);
  --next-link: #82cfff;
  --next-note: #ababab;
  --next-verified: #ffd300;
  --next-footer-bg: #111111;

  --next-confirm-bg: #82cfff;
  --next-confirm-text: #00344b;
  --next-confirm-weight: 600;

  --next-outlined-text: #82cfff;
  --next-outlined-border: #87929b;
}
