@if(!ready()) {
<app-spin-up />
} @else {
<div
  class="app-container"
  [class.user]="!!userProfile()"
  [class.search-mode]="inSearchMode()"
>
  <header>
    <app-header />
  </header>
  <main>
    <section class="router-outlet">
      <router-outlet />
    </section>
  </main>
  <footer>
    <app-footer />
  </footer>
</div>
<div
  class="backdrop"
  [class.open]="inSearchMode()"
  (click)="toggleSearchMode()"
></div>
<app-error-bar />
@if(isAuthenticating()) {
<app-login />
} }
<app-about />
