<div
  class="app-container"
  [class.user]="!!userProfile()"
  [class.search-mode]="inSearchMode()"
>
  <app-header />
  <main>
    <section class="router-content">
      <router-outlet />
    </section>
  </main>
  <app-footer />
</div>
<div
  class="backdrop"
  [class.open]="inSearchMode()"
  (click)="toggleSearchMode()"
></div>
<app-error-bar />
@if(isAuthenticating()) {
<app-login />
}
<app-about />
@if(showEventsDialog()) {
<app-my-events (close)="closeEventsDialog()" />
} @if(showProfileDialog()) {
<app-user-profile (close)="closeProfileDialog()" />
}
