@use "variables.scss" as var;

.app-container {
  height: var(--app-height);
  display: grid;
  grid-template-rows: [header-row] 0 [main-row] auto;
  grid-template-areas:
    "header"
    "main";
  transition: 0.25s ease-in-out;
  &.user {
    grid-template-rows:
      [header-row] calc(var.$color-bar-height + var.$user-header-height)
      [main-row] auto;

    &.search-mode {
      grid-template-rows:
        [header-row] calc(
          var.$color-bar-height + var.$user-header-height +
            var.$user-header-height
        )
        [main-row] auto;
    }
  }
  grid-template-rows:
    [header-row] calc(var.$color-bar-height + var.$user-header-height)
    [main-row] auto;

  &.search-mode {
    grid-template-rows:
      [header-row] calc(
        var.$color-bar-height + var.$user-header-height +
          var.$user-header-height
      )
      [main-row] auto;
  }
}

main {
  grid-area: main;
  width: 100%;
  display: flex;
  justify-content: center;
}

.router-outlet {
  width: 100%;
}

@media (min-width: 600px) {
  main {
    padding: 0;
  }
}
