@use "variables.scss" as var;

:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--next-surface);
  position: sticky;
  top: var.$user-header-height;
  z-index: 99;
  width: 100%;
  //padding: 0 10px;

  border-bottom: 1px solid var(--next-border);
  max-width: var.$max-page-width;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: var.$user-header-height;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    li {
      text-align: center;
    }

    a {
      text-decoration: none;
      border-bottom: 3px solid var(--next-surface);
      color: var(--next-text);
      font-weight: 600;

      &:hover {
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 1px;
      }
    }
  }
}

.panel-overview {
  flex: 1;
  padding: 0 10px;
}

.panel-opportunities {
  display: none;
}

@media (min-width: 768px) {
  nav {
    ul {
      gap: 40px;
      justify-content: flex-start;
    }
  }
}

@media (min-width: 992px) {
  .panel-overview {
    border-right: 1px solid var(--next-border);
  }

  .panel-opportunities {
    display: flex;
    align-items: center;
    padding: 0 10px;
    width: 430px;
    font-weight: 600;
  }
}

@media (min-width: calc(var.$max-page-width + 10px)) {
  .panel-overview {
    //padding: 0;
  }
}
