@use "variables.scss" as var;

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--next-surface);
  position: sticky;
  top: var.$user-header-height;
  z-index: 99;
  width: 100%;
  border-bottom: 1px solid var(--next-border);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: var.$max-page-width;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: var.$user-header-height;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    li {
      text-align: center;
    }

    a {
      text-decoration: none;
      color: var(--next-text);
      font-weight: 600;
      letter-spacing: 0.002em;
    }
  }
}

.panel-overview {
  flex: 1;
  padding: 0 10px;
}

.panel-opportunities {
  display: none;
}

@media (min-width: 768px) {
  nav {
    ul {
      gap: 40px;
      justify-content: flex-start;
    }
  }
}

@media (min-width: 992px) {
  .panel-overview {
    border-right: 1px solid var(--next-border);
  }

  .panel-opportunities {
    display: flex;
    align-items: center;
    padding: 0 10px;
    width: 430px;
    font-weight: 600;
  }
}

@media (min-width: calc(var.$max-page-width)) {
  .panel-overview {
    padding: 0;
  }
}
