<div class="cb-content pad nx-flex row al-c jc-sb">
  <div class="panel-overview">
    <nav>
      <ul>
        <li>
          <a href="" (click)="setFocusToDescription($event)"> Highlights </a>
        </li>
        <li>
          <a href="" (click)="setFocusToLocations($event)"> Locations </a>
        </li>
        <li>
          <a href="" (click)="setFocusToCoordinators($event)">
            Event Coordinators
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="panel-opportunities">Upcoming Opportunities</div>
</div>
