services:
  - type: web
    name: next-japan-web
    env: node
    rootDir: frontend
    plan: free
    buildCommand: npm ci --legacy-peer-deps && npm run build
    startCommand: npm run serve:ssr:next-japan-web
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
