:host {
  display: flex;
  align-items: center;
  gap: 2px;
  min-width: 60px;
}

button {
  cursor: pointer;
  padding: 2px;
  background: transparent;
  outline: none;
  color: var(--next-text);
  border: 1px solid transparent;
  border-radius: 6px;
  transition: 0.25s ease-in-out;

  &:hover:not(:disabled) {
    border-color: var(--next-border);
    background-color: rgba($color: #fff, $alpha: 0.2);

    .material-symbols-outlined {
      color: var(--pink-cherry-blossoms);
    }
  }

  &:disabled {
    cursor: default !important;
  }
}

.material-symbols-outlined {
  //transition: 0.25s ease-in-out;
}

.filled {
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 48;
  color: var(--pink-cherry-blossoms);
}

.soft {
  line-height: 24px;
  font-weight: 500;
}

@media only screen and (min-width: 992px) {
  button:hover {
    cursor: pointer;
  }
}
