<article class="nx-flex col gap-20">
  <main>
    <ul class="nx-flex col gap-36">
      @for(event of events(); track event.registrationId) {
      <li class="event">
        <app-event-registration-card
          [event]="event"
          (cancelRegistration)="confirmCancel(event)"
        />
      </li>
      } @empty {
      <li>
        You haven't registered for any events.<br />
        Start planning your next adventure and your events will appear here!
      </li>
      }
    </ul>
  </main>
</article>
@if(eventToCancel()) {
<app-confirm-modal
  (confirmed)="cancelEvent($event)"
  headerText="Cancel My Registration"
>
  <div class="card nx-flex col gap-10">
    <div class="confirm-title">{{ eventToCancel()!.eventTitle }}</div>
    <div>
      <app-address-strip
        [location]="eventToCancel()!.location"
        [showAddress]="false"
        [showDirections]="false"
      ></app-address-strip>
      <app-opportunity-timestamp
        [opportunity]="eventToCancel()!.opportunity"
        [showNotes]="false"
      ></app-opportunity-timestamp>
    </div>
  </div>
  <p class="confirm">
    Are you sure you want to cancel this event registration?
  </p>
</app-confirm-modal>
}
