@if(nextEvent()) {
<section class="nx-flex col gap-10">
  <div class="title-text">Your Next Event</div>
  <div class="card nx-flex col gap-20">
    <header>
      <div class="subhead card-title">
        {{ nextEvent()?.eventTitle }}
      </div>
      <app-opportunity-timestamp
        [showIcon]="false"
        [showNotes]="false"
        [opportunity]="nextEvent()!.opportunity"
      ></app-opportunity-timestamp>
    </header>
    <main>
      @if(resizedImage()) {
      <img [src]="resizedImage()!.src" alt="An image of the event." />
      }
    </main>
    <footer>
      <div>
        {{ nextEvent()?.opportunity?.notes }}
      </div>
      <div class="nx-flex row al-c">
        <button matButton>LIKE</button>
        <button matButton>SHARE</button>
        <a matButton [routerLink]="nextRouterLink()"> VIEW EVENT </a>
      </div>
    </footer>
  </div>
</section>
} @if(suggestedEvent()) {
<section class="nx-flex col gap-10">
  <div class="title-text">Suggested for You</div>
  <div class="card nx-flex col gap-20">
    <header>
      <div class="subhead card-title">
        {{ suggestedEvent()!.eventTitle }}
      </div>
    </header>
    <main>
      @if(suggestedEventImage()) {
      <img [src]="suggestedEventImage()!.src" alt="An image of the event." />
      }
    </main>
    <footer>
      <div>
        {{ suggestedEvent()!.description }}
      </div>
      <div class="nx-flex row al-c">
        <button matButton>LIKE</button>
        <button matButton>SHARE</button>
        <a matButton [routerLink]="suggestedRouterLink()"> VIEW EVENT </a>
      </div>
    </footer>
  </div>
</section>
}
