@if(hasError()) {
<app-page-error
  errorTitle="Site not available."
  errorMessage="We're sorry. The page could not be loaded."
></app-page-error>
<footer>
  <app-footer />
</footer>
} @else {
<article class="fade-in" [class.open]="!!org">
  @if(org) {
  <header [style.backgroundImage]="backgroundImage">
    <app-org-banner [org]="org!" [image]="bannerImage!"></app-org-banner>
  </header>
  <main class="content-container">
    <section>
      <div class="flex-content organization-info">
        <div class="info-title break-word">
          {{ org.infoTitle }}
        </div>
        <div class="info-description break-word pre-wrap">
          {{ org.infoDescription }}
        </div>
      </div>
    </section>
    <section class="fade-in" [class.open]="loaded()">
      <div class="flex-content">
        @if(loaded() && events().length) {
        <app-event-carousel
          [events]="events()"
          [opportunities]="opportunities()"
          [class.open]="loaded()"
        ></app-event-carousel>
        }
      </div>
    </section>
  </main>
  <footer>
    <app-footer />
  </footer>
  }
</article>

}
