.card-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.image-button {
  &:hover {
    .image-container {
      img {
        filter: brightness(85%);

        &.no-image {
          filter: brightness(95%);
        }
      }
    }
  }
}

.image-container {
  width: 100%;
  height: 200px;
  border-radius: 3px;
  background: url("/assets/images/no-image.png");
  background-size: contain;
  overflow: hidden;

  &.grok {
    background: transparent;
    img {
      object-fit: contain;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  gap: 26px;
  width: 100%;
}

.title {
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
}

.subtitle {
  color: var(--next-heading);
}

.description {
  font-size: 14px;
  line-height: 19px;
}

.notes {
  color: var(--next-muted);
}

.actions {
  display: flex;
  align-items: center;
  gap: 12px;

  .app-button {
    flex: 1;
  }
}

.app-button {
  border-radius: 24px;
  white-space: nowrap;
}

@media (min-width: 820px) {
  .card-container {
    flex-direction: row;
  }
  .card-body {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
  }

  .actions {
    flex-direction: column-reverse;
    gap: 10px;

    .app-button {
      width: 100%;
      flex: none;
    }
  }

  .image-container {
    //width: 224px;
    height: 128px;
  }
}

@media (min-width: 960px) {
  .image-container {
    //width: 224px;
    height: 160px;
  }
}
