<div class="card-container">
  <a type="button" [routerLink]="routerLink" class="image-button">
    <div class="image-container" [class.grok]="isGrokEvent()">
      <img
        alt="Event Image"
        [ngSrc]="resizedImage().src"
        [width]="resizedImage().image.width"
        [height]="resizedImage().image.height"
        placeholder
      />
    </div>
  </a>
  <div class="card-body">
    <div class="nx-flex col gap-10">
      <div class="title break-word">
        {{ event().eventTitle }}
      </div>
      <div class="nx-flex col gap-5">
        <div>
          <app-address-strip
            [location]="event().location"
            [showAddress]="false"
            [showDirections]="true"
          ></app-address-strip>
          <app-opportunity-timestamp
            [opportunity]="event().opportunity"
          ></app-opportunity-timestamp>
        </div>
        <app-event-registration-status [status]="event().status" />
      </div>
    </div>
    <div class="actions">
      <a
        type="button"
        [routerLink]="routerLink"
        class="app-button app-button-filled"
      >
        Open Event Details
      </a>
      <button
        type="button"
        class="app-button app-button-outlined"
        (click)="confirmCancel()"
        [disabled]="event().status === registrationStatus.Cancelled"
      >
        Cancel Registration
      </button>
    </div>
  </div>
</div>
