:host {
  display: flex;
  flex-direction: column;
  gap: 20px;
  // border: 1px solid var(--next-border);
  // border-radius: 10px;
}

:host-context(.dark-theme) {
  .accordion {
    border: 1px solid var(--next-border);
    border-radius: 12px;
  }
}

.title {
  font-weight: 700;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 600, "GRAD" 0, "opsz" 48;
  color: var(--red-torii-gate);
}

.no-locations {
  padding-bottom: 10px;
}
