@use "sass:map";
@use "sass:color";
@use "variables.scss" as var;

:host {
  font-weight: 600;
  letter-spacing: -0.06px;
  padding: 4px 12px;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  background: map.get(var.$colors, section-light-gray);
  color: map.get(var.$colors, dark-label);

  .material-icons {
    display: none;
  }

  &.registered {
    background: color.scale(
      map.get(var.$colors, bright-blue-sky),
      $lightness: 70%
    );
    color: color.scale(
      map.get(var.$colors, bright-green-grass),
      $lightness: -66%
    );
    color: var(--navy-blue-mountain);

    .material-icons.registered {
      display: inline-block;
    }
  }

  &.requested {
    background: color.scale(
      map.get(var.$colors, bright-green-grass),
      $lightness: 70%
    );
    color: color.scale(
      map.get(var.$colors, bright-green-grass),
      $lightness: -66%
    );

    .material-icons.requested {
      display: inline-block;
    }
  }
}
