@use "sass:map";
@use "sass:color";
@use "variables.scss" as var;

:host {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.06px;
  padding: 6px 12px;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  background: var(--next-surface);
  color: var(--next-text);

  .material-icons {
    display: none;
  }

  &.requested {
    background: var(--next-surface-alt);
    border: 1px solid var(--next-border-alt);
    color: #000;

    .material-icons.requested {
      display: inline-block;
    }
  }

  &.registered {
    background: rgba(var(--next-primary-rgb), 0.5);
    border: 1px solid rgba(var(--next-primary-rgb), 0.75);
    color: #000;

    .material-icons.registered {
      display: inline-block;
    }
  }

  &.cancelled {
    background: rgba(var(--red-torii-gate-rgb), 0.15);
    border: 1px solid var(--red-torii-gate);
    color: var(--red-torii-gate);

    .material-icons.cancelled {
      display: inline-block;
    }
  }
}

.dark-theme {
  :host {
    &.requested {
      background: #dedede;
      border: 1px solid #ababab; //var(--next-border-modal);
    }

    &.registered {
      background: var(--next-link);
      color: #000; //var(--navy-blue-mountain);
    }
    &.cancelled {
      border: 1px solid var(--vivid-yellow-text);
      color: var(--vivid-yellow-text);
      background: var(--next-surface);
    }
  }
}
