@use "@angular/material" as mat;

:root {
  @include mat.tabs-overrides(
    (
      active-indicator-height: 5px,
      active-indicator-color: var(--bright-blue-sky),
      active-focus-indicator-color: var(--bright-blue-sky),
      label-text-size: 16px,
      label-text-weight: 700,
      //active-label-text-color: var(--next-text),
      inactive-label-text-color: var(--next-note),
    )
  );
}

.blue-spin {
  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: var(--bright-blue-sky),
    )
  );
  @include mat.progress-bar-overrides(
    (
      active-indicator-color: var(--bright-blue-sky),
      active-indicator-height: 5px,
    )
  );
}

.yellow-spin {
  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: var(--vivid-yellow-text),
    )
  );
  @include mat.progress-bar-overrides(
    (
      active-indicator-color: var(--vivid-yellow-text),
      active-indicator-height: 6px,
    )
  );
}

.teal-spin {
  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: #007b72,
    )
  );
  @include mat.progress-bar-overrides(
    (
      active-indicator-color: #007b72,
      active-indicator-height: 5px,
    )
  );
}

.success-bar {
  @include mat.snack-bar-overrides(
    (
      button-color: var(--vivid-yellow-text),
      container-shape: 24px,
      supporting-text-color: #fff,
      supporting-text-weight: 600,
      supporting-text-size: 14px,
      container-color: var(--navy-blue-mountain),
    )
  );
}

.error-bar {
  @include mat.snack-bar-overrides(
    (
      button-color: var(--vivid-yellow-text),
      supporting-text-color: #fff,
      supporting-text-weight: 400,
      container-color: var(--red-torii-gate),
    )
  );
}

.cdk-overlay-backdrop.app-backdrop {
  background-color: rgba(0, 0, 0, 0.32);
}

.cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: row;
  min-width: fit-content; /* Ensure wrapper expands to all events */
}
