@use "sass:map";

@use "variables.scss" as var;
@use "@angular/material" as mat;

.blue-spin {
  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: var(--bright-blue-sky),
    )
  );
}

:root {
  @include mat.snack-bar-overrides(
    (
      button-color: var(--vivid-yellow-text),
      supporting-text-weight: 400,
      container-color: var(--red-torii-gate),
    )
  );
}
// -------------- //
// mat-form-field //
// -------------- //
.app-form {
  .mdc-text-field .mdc-text-field__input {
    caret-color: var(--mdc-theme-primary, #0aa2ff);
  }

  .mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: var(--mdc-theme-primary, #0aa2ff);
  }

  .mdc-text-field--outlined:not(
      .mdc-text-field--disabled
    ).mdc-text-field--focused
    .mdc-notched-outline__leading,
  .mdc-text-field--outlined:not(
      .mdc-text-field--disabled
    ).mdc-text-field--focused
    .mdc-notched-outline__notch,
  .mdc-text-field--outlined:not(
      .mdc-text-field--disabled
    ).mdc-text-field--focused
    .mdc-notched-outline__trailing {
    border-color: #0aa2ff;
  }

  .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: rgba(10, 162, 255, 0.87);
  }

  .mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #f44336;
  }

  .mdc-text-field--invalid .mdc-line-ripple::after {
    border-bottom-color: #f44336;
  }

  .mat-mdc-form-field.form-field-readonly {
    &.no-pointer-events {
      pointer-events: none;

      .mdc-floating-label {
        pointer-events: none;
      }
    }

    .mdc-text-field--filled {
      background-color: map.get(var.$colors, default-gray);
    }

    .mdc-text-field--focused .mdc-floating-label {
      color: rgba(0, 0, 0, 0.6);
    }

    .mdc-text-field.mdc-text-field--disabled .mdc-floating-label {
      color: rgba(0, 0, 0, 0.6);
    }

    .mdc-text-field--disabled .mdc-text-field__input,
    .mat-mdc-select-disabled .mat-mdc-select-value {
      color: rgba(0, 0, 0, 0.85);
    }

    &.mat-focused .mat-mdc-form-field-focus-overlay,
    &:not(.mat-focused):hover .mat-mdc-form-field-focus-overlay {
      opacity: 0;
    }

    .mdc-text-field--filled .mdc-line-ripple::before {
      border-bottom-color: rgba(0, 0, 0, 0.1);
    }

    .mdc-text-field--filled .mdc-line-ripple::after {
      border-bottom-color: rgba(0, 0, 0, 0);
    }

    &.mat-focused {
      .mdc-text-field--filled:not(.mdc-text-field--disabled)
        .mdc-line-ripple::before,
      .mdc-text-field--filled:not(.mdc-text-field--disabled)
        .mdc-line-ripple.mdc-line-ripple--active::before {
        border-bottom-color: rgba(0, 0, 0, 0.1);
      }

      .mdc-text-field--outlined:not(
          .mdc-text-field--disabled
        ).mdc-text-field--focused
        .mdc-notched-outline__leading,
      .mdc-text-field--outlined:not(
          .mdc-text-field--disabled
        ).mdc-text-field--focused
        .mdc-notched-outline__notch,
      .mdc-text-field--outlined:not(
          .mdc-text-field--disabled
        ).mdc-text-field--focused
        .mdc-notched-outline__trailing {
        border-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  .mat-datepicker-toggle-active {
    color: var(--mdc-theme-primary, #0aa2ff);
  }
}

// ---------------- //
// mat-slide-toggle //
// ---------------- //
.mat-mdc-slide-toggle.mat-primary {
  --mdc-switch-selected-focus-state-layer-color: #0aa2ff;
  --mdc-switch-selected-handle-color: #0aa2ff;
  --mdc-switch-selected-hover-state-layer-color: #0aa2ff;
  --mdc-switch-selected-pressed-state-layer-color: #0aa2ff;
  --mdc-switch-selected-focus-handle-color: #0586ff;
  --mdc-switch-selected-hover-handle-color: #0586ff;
  --mdc-switch-selected-pressed-handle-color: #0586ff;
  --mdc-switch-selected-focus-track-color: #b6e3ff;
  --mdc-switch-selected-hover-track-color: #b6e3ff;
  --mdc-switch-selected-pressed-track-color: #b6e3ff;
  --mdc-switch-selected-track-color: #b6e3ff;

  .mdc-switch__ripple {
    display: none;
  }

  &:not(.show-icons) .mdc-switch:not(.mdc-switch--disabled) {
    .mdc-switch__icons {
      display: none;
    }
  }
}

.mat-mdc-slider.mat-primary {
  --mdc-slider-handle-color: #0aa2ff;
  --mdc-slider-focus-handle-color: #0aa2ff;
  --mdc-slider-hover-handle-color: #0aa2ff;
  --mdc-slider-active-track-color: #0aa2ff;
  --mdc-slider-inactive-track-color: #0aa2ff;
  --mdc-slider-with-tick-marks-active-container-color: #fff;
  --mdc-slider-with-tick-marks-inactive-container-color: #0aa2ff;
  --mat-mdc-slider-ripple-color: #0aa2ff;
  --mat-mdc-slider-hover-ripple-color: rgba(10, 162, 255, 0.05);
  --mat-mdc-slider-focus-ripple-color: rgba(10, 162, 255, 0.2);

  .mdc-slider__thumb-knob {
    border-color: var(--mdc-theme-primary, #0aa2ff);
    background-color: var(--mdc-theme-primary, #0aa2ff);
  }
}

// -------------- //
//  mat-checkbox  //
// -------------- //
.mat-mdc-checkbox.app-checkbox
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled:checked
  ~ .mdc-checkbox__background,
.mat-mdc-checkbox.app-checkbox
  .mdc-checkbox:hover
  .mdc-checkbox__native-control:enabled:checked
  ~ .mdc-checkbox__background,
.mat-mdc-checkbox.app-checkbox
  .mdc-checkbox:not(:disabled):active
  .mdc-checkbox__native-control:enabled:checked
  ~ .mdc-checkbox__background {
  border-color: var(--mdc-theme-primary, #0aa2ff);
  background-color: var(--mdc-theme-primary, #0aa2ff);
}

.mat-mdc-checkbox.app-checkbox.mat-accent
  .mdc-checkbox--selected
  ~ .mdc-checkbox__ripple {
  background: #0aa2ff;
}

// --------- //
//  mat-tab  //
// --------- //
.app-mat-tab-group {
  height: 100%;

  .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label,
  .mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active
    .mdc-tab__text-label {
    color: map.get(var.$colors, link-blue);
    font-weight: 700;
  }

  .mat-mdc-tab:not(.mat-mdc-tab-disabled)
    .mdc-tab-indicator__content--underline,
  .mat-mdc-tab-link:not(.mat-mdc-tab-disabled)
    .mdc-tab-indicator__content--underline {
    border-color: map.get(var.$colors, link-blue);
    border-width: 4px;
  }

  .mat-mdc-tab-body-wrapper {
    height: 100%;
  }

  // .mat-mdc-tab-group.mat-background-primary,
  // .mat-mdc-tab-nav-bar.mat-background-primary {
  //   --mat-mdc-tab-header-with-background-background-color: map.get(var.$colors, link-blue);
  //   --mat-mdc-tab-header-with-background-foreground-color: #fff;
  // }

  .mdc-tab__ripple::before,
  .mat-mdc-tab .mat-ripple-element,
  .mat-mdc-tab-header-pagination .mat-ripple-element,
  .mat-mdc-tab-link .mat-ripple-element {
    background-color: map.get(var.$colors, dark-label);
  }
}

// ---------- //
// mat-select //
// ---------- //
.app-select .mat-mdc-select {
  font-size: 14px;
  line-height: 19px;
}

.app-select .mat-mdc-select-value {
  color: #000;
}

.mat-mdc-select-panel.landing-page {
  min-width: 300px;

  .mat-mdc-optgroup.archived .mat-mdc-optgroup-label {
    .mdc-list-item__primary-text {
      color: map.get(var.$colors, inactive);
    }
  }

  .mat-mdc-option.archived {
    .mdc-list-item__primary-text {
      color: map.get(var.$colors, inactive);
    }
  }
}

.app-mat-select-squashed {
  .mat-mdc-form-field {
    line-height: 18px;
  }
  .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 24px;
  }
  .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined)
    .mat-mdc-form-field-infix {
    padding-top: 18px;
  }
  .mat-mdc-form-field-infix {
    min-height: 44px;
    height: 44px;
  }
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

// ------------- //
// mat-accordion //
// ------------- //
.app-accordion.mat-accordion > .mat-expansion-panel {
  border: 0;
  box-shadow: none;
}

.app-accordion.mat-accordion .mat-expansion-panel-content {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #000;
}

.app-accordion.mat-accordion
  .mat-expansion-panel-content
  > .mat-expansion-panel-body {
  padding: 0;
}

.app-accordion.mat-accordion .mat-expansion-indicator::after {
  color: #000;
}

// -------- //
// mat-menu //
// -------- //
.app-navigation-menu.mat-mdc-menu-panel {
  background-color: map.get(var.$colors, dark-navy);
  max-height: calc(100vh * 0.75);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  .mat-expansion-panel,
  .mat-expansion-panel-body {
    background-color: map.get(var.$colors, dark-navy);
  }
}

.app-navigation-menu .mat-mdc-menu-item {
  background-color: map.get(var.$colors, dark-navy);
  border: 1px solid map.get(var.$colors, dark-navy);
  border-width: 1px 0 1px 0;

  .mdc-list-item__primary-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
  }

  &:hover:not(.client) {
    background-color: map.get(var.$colors, dark-medium-navy);
    color: map.get(var.$colors, section-medium-gray);
  }

  &.client {
    margin-top: 0.5rem;
    border-color: map.get(var.$colors, dark-teal);
    &.selectable:hover {
      background-color: map.get(var.$colors, dark-medium-navy);
    }
  }

  &.selected {
    background-color: map.get(var.$colors, dark-medium-navy);
    border-color: map.get(var.$colors, dark-label);

    &.client {
      border-color: map.get(var.$colors, dark-teal);
      background-color: map.get(var.$colors, dark-navy);
    }
  }

  &:last-child {
    margin-bottom: 0.5rem;
  }
}

.app-user-menu .mat-mdc-menu-content {
  background-color: map.get(var.$colors, dark-navy);
}

.app-user-menu .mat-mdc-menu-item {
  background-color: map.get(var.$colors, dark-navy);
  border: 1px solid map.get(var.$colors, dark-navy);
  justify-content: flex-end;

  .mdc-list-item__primary-text {
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
  }

  &:hover {
    background-color: map.get(var.$colors, dark-medium-navy);
  }
}

.app-calendar {
  .mat-calendar-header {
    padding: 0;
  }

  .mat-calendar-body-cell,
  .mat-calendar-body-cell-content {
    border-radius: 100%;
  }
  .mat-calendar-body-label:not(:last-of-type) {
    visibility: hidden;
  }

  .mat-calendar-body-label:last-of-type {
    display: none;
  }

  .mat-calendar-body-cell {
    .mat-calendar-body-cell-content.mat-calendar-body-today {
      background-color: map.get(var.$colors, section-medium-gray);
      border-color: map.get(var.$colors, inactive);
      border-radius: 100%;
      color: #000;
      font-weight: 600;

      &.mat-calendar-body-selected {
        background-color: map.get(var.$colors, link-blue);
        border-color: map.get(var.$colors, link-blue);
        font-weight: 700;
        color: #fff;
      }

      &:hover {
        background-color: map.get(var.$colors, base-color);
        color: #fff;
      }
    }
  }

  .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover
    > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(
      .mat-calendar-body-comparison-identical
    ) {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .mat-calendar-body-cell:hover
    > .mat-calendar-body-cell-content.mat-calendar-body-today:not(
      .mat-calendar-body-selected
    ):not(.mat-calendar-body-comparison-identical) {
    background-color: map.get(var.$colors, light-gray-accent);
    color: #000;
    border-radius: 100%;
  }

  .mat-calendar-body-selected {
    background-color: map.get(var.$colors, link-blue);
    color: #fff;
    border-radius: 100%;
  }

  .mat-calendar-body-disabled > .mat-calendar-body-selected {
    background-color: rgba(10, 162, 255, 0.3);
  }

  .mat-calendar-body-today.mat-calendar-body-selected {
    box-shadow: inset 0 0 0 1px #fff;
  }

  .mat-calendar-body-in-range::before {
    background-color: rgba(10, 162, 255, 0.3);
  }

  .cdk-keyboard-focused
    .mat-calendar-body-active
    > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(
      .mat-calendar-body-comparison-identical
    ),
  .cdk-program-focused
    .mat-calendar-body-active
    > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(
      .mat-calendar-body-comparison-identical
    ) {
    background-color: rgba(10, 162, 255, 0.3);
    border-color: rgba(10, 162, 255, 1);
    color: #000;
  }

  .mat-calendar-body-cell.special-date:not(.mat-calendar-body-disabled):hover
    > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(
      .mat-calendar-body-comparison-identical
    ) {
    background-color: map.get(var.$colors, link-blue);
    color: #fff;
    border-radius: 100%;
  }

  .mat-calendar-body-cell.special-date {
    .mat-calendar-body-cell-content {
      font-weight: 700;
      background-color: map.get(var.$colors, inactive);
      color: #fff;

      &.mat-calendar-body-selected {
        background-color: map.get(var.$colors, link-blue);
      }
    }
  }

  &.busy {
    .mat-calendar-body-cell.special-date {
      .mat-calendar-body-cell-content {
        font-weight: 400;
        background-color: #fff;
        color: #000;
      }
    }
  }

  @media (hover: hover) {
    .mat-calendar-body-cell.special-date:not(.mat-calendar-body-disabled)
      :hover
      > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected)
      :not(.mat-calendar-body-comparison-identical) {
      background-color: rgba(10, 162, 255, 0.3);
    }
  }
}

@media (min-width: 600px) {
  .app-navigation-menu.mat-mdc-menu-panel {
    max-height: calc(100vh * 0.85);
  }
}

.cdk-overlay-backdrop.notification-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
