@use "@angular/material" as mat;

.blue-spin {
  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: var(--bright-blue-sky),
    )
  );
  @include mat.progress-bar-overrides(
    (
      active-indicator-color: var(--bright-blue-sky),
      active-indicator-height: 5px,
    )
  );
}

.yellow-spin {
  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: var(--vivid-yellow-text),
    )
  );
  @include mat.progress-bar-overrides(
    (
      active-indicator-color: var(--vivid-yellow-text),
      active-indicator-height: 6px,
    )
  );
}

.teal-spin {
  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: #007b72,
    )
  );
  @include mat.progress-bar-overrides(
    (
      active-indicator-color: #007b72,
      active-indicator-height: 5px,
    )
  );
}

.success-bar {
  @include mat.snack-bar-overrides(
    (
      button-color: var(--vivid-yellow-text),
      supporting-text-weight: 600,
      supporting-text-size: 16px,
      //supporting-text-line-height: 20px,
      container-color: var(--navy-blue-mountain),
    )
  );
}

.error-bar {
  @include mat.snack-bar-overrides(
    (
      button-color: var(--vivid-yellow-text),
      supporting-text-color: #fff,
      supporting-text-weight: 400,
      container-color: var(--red-torii-gate),
    )
  );
}

.mat-tab-hide-tabs {
  .mat-mdc-tab-header {
    display: none;
  }
}

// ------------- //
// mat-accordion //
// ------------- //
.app-accordion.mat-accordion > .mat-expansion-panel {
  border: 0;
  box-shadow: none;
}

.app-accordion.mat-accordion .mat-expansion-panel-content {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: var(--next-text);
}

.app-accordion.mat-accordion
  .mat-expansion-panel-content
  > .mat-expansion-panel-body {
  padding: 0;
}

.app-accordion.mat-accordion .mat-expansion-indicator::after {
  color: var(--next-text);
}

.cdk-overlay-backdrop.notification-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: row;
  min-width: fit-content; /* Ensure wrapper expands to all events */
}
