button,
a {
  touch-action: manipulation;
}

.app-button {
  border-radius: 24px;
  border: 0;
  background-color: inherit;
  cursor: pointer;
  padding: 0 20px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;

  letter-spacing: 0.006rem;
  min-height: 42px;
  min-width: 64px;
  text-align: center;
  color: var(--next-text);

  &.square {
    border-radius: 3px;
  }

  &.logo {
    outline: none;
  }

  &.flex-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }

  &.dialog-button {
    font-weight: 600;
    min-width: 120px;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &.inactive {
      opacity: 0.5;
      background-color: var(--next-surface-alt);
      border: 1px solid var(--next-border);
      color: var(--next-text);
    }
  }
}

a.app-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-decoration: none;
}

.app-button-filled {
  background-color: var(--next-confirm-bg);
  border: 1px solid var(--next-confirm-bg);
  color: var(--next-confirm-text);

  &.ai-theme {
    color: var(--vivid-yellow-text);
    background-color: #00675f;
    border-color: #00675f;
  }

  &.priority {
    background-color: var(--red-torii-gate);
    border-color: var(--red-torii-gate);
    color: white;
    font-weight: 600;
    transition: background-color 0.3s ease;
  }

  &.dark {
    background-color: #1a1a1a;
    border-color: #1a1a1a;
    color: white;
    font-weight: 600;
    transition: background-color 0.3s ease;
  }
}

.app-button-outlined {
  background-color: var(--next-surface);
  color: var(--next-text);
  border: 1px solid var(--next-border-alt);

  &.softer {
    border-color: var(--next-border);
  }

  &.transparent {
    background-color: transparent;
    border-color: var(--creamy-white-clouds);
  }
}

.text-button {
  cursor: pointer;
  color: var(--next-link);
  border: 0;
  background-color: transparent;
  transition: 0.25s ease-in-out;
}

@media only screen and (min-width: 992px) {
  .app-button-filled:hover:not(:disabled) {
    background-color: var(--next-confirm-bg-hover);
    &.ai-theme {
      background: #007b72;
      border-color: #007b72;
    }

    &.priority {
      background-color: #ab2c2c;
      border-color: #ab2c2c;
      opacity: 1;
    }

    &.dark {
      background-color: #1a1a1a;
      opacity: 0.85;
    }
  }

  .app-button-outlined:hover:not(:disabled) {
    background-color: var(--next-surface-alt);

    &.transparent {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  .text-button:hover:not(:disabled) {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}
