$icomoon-font-family: 'dn-icons' !default;
$icomoon-font-path: 'fonts' !default;

$i_upload: '\e900';
$i_text_left: '\e901';
$i_x_sm: '\e902';
$i_x_lg: '\e903';
$i_help: '\e904';
$i_shield: '\e905';
$i_switch_default: '\e906';
$i_plus: '\e907';
$i_check: '\e908';
$i_radio_active: '\e909';
$i_checkbox_default: '\e90a';
$i_switch_active: '\e90b';
$i_checkbox_active: '\e90c';
$i_elipses_md: '\e90d';
$i_plus_circle: '\e90e';
$i_search: '\e90f';
$i_filter: '\e910';
$i_arrow_left_md: '\e911';
$Devnext-Icon: '\e912';
$i_play_circle: '\e913';
$i_elipses_sm: '\e914';
$i_menu: '\e915';
$i_arrow_left_sm: '\e916';
$i_doc: '\e917';
$i_gear: '\e918';
$i_pin: '\e919';
$i_clock: '\e91a';
$i_cal_sm: '\e91b';
$i_cal-event_lg: '\e91c';
