:root {
  --bright-blue-sky: #00aeef;
  --vivid-yellow-text: #ffd300;
  --red-torii-gate: #e52521;
  --pink-cherry-blossoms: #ff6fae;
  --dark-brown-tree: #2e1b0b;
  --white-snow-cap: #ffffff;
  --bright-green-grass: #6dc067;
  --navy-blue-mountain: #0f2b56;
  --light-yellow-stars: #ffe779;
  --light-pink-petals: #ffb6c1;
  --creamy-white-clouds: #f8f8f8;
}

$colors: (
  bright-blue-sky: #00aeef,
  vivid-yellow-text: #ffd300,
  red-torii-gate: #e52521,
  pink-cherry-blossoms: #ff6fae,
  dark-brown-tree: #2e1b0b,
  bright-green-grass: #6dc067,
  navy-blue-mountain: #0f2b56,
  light-yellow-stars: #ffe779,
  light-pink-petals: #ffb6c1,
  creamy-white-clouds: #f8f8f8,
  dark-label: #616060,
  dark-gray: #939393,
  darkest-gray: #3e3e3e,
  default-gray: #e9e9e9,
  inactive: #ababab,
  light-gray-accent: #dedede,
  section-gray: #f5f6f8,
  section-light-gray: #f8f8f8,
  section-medium-gray: #e9eaed,
);

$app-font: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

$screen-sm: 768px;
$scrollbar-width: 12px;
$color-bar-height: 9px;
$user-header-height: 60px;
$user-header-height-mobile: 122px;
$authenticated-header-height: 54px;

$max-page-width: 1200px;

$image-height: (
  default: 184px,
);
