<div class="background-overlay">
  <div class="header-content content-container">
    @if(bannerImage()) {
    <img
      [ngSrc]="bannerImage()!.src"
      [width]="bannerImage()!.image.width"
      [height]="bannerImage()!.image.height"
      sizes="100vw"
      priority
      placeholder
      alt="Tokyo at night"
    />
    }
    <div class="content-bottom">
      <div class="subtitle">{{ org()?.bannerTitle }}</div>
      <div class="description break-word pre-wrap">
        {{ org()?.bannerDescription }}
      </div>
    </div>
  </div>
</div>
