:host {
  display: block;
}

header {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 4px;

  &.collapsed {
    border-bottom: 1px solid var(--next-border);
  }

  button {
    opacity: 1;
    transition: 0.25s;
    cursor: pointer;
    border-radius: 100%;
    height: 42px;
    width: 42px;
    min-width: 42px;
    white-space: nowrap;
    font-weight: 600;

    .desktop {
      display: none;
    }

    .material-icons {
      transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
      /* bounce effect easing */
      &.mobile {
        font-weight: 700;
      }
    }

    &.expanded {
      .material-icons {
        transform: rotate(180deg);
      }
    }
  }
}

.expansion-panel {
  opacity: 0;
  border-radius: 12px;
  padding: 0 16px;
  background: var(--next-shade);
  background-color: var(--next-surface);
  border: 1px solid var(--next-border);

  &.open {
    opacity: 1;
  }
}

.accordion-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px 0;

  &:not(:first-child) {
    border-top: 1px solid var(--next-border);
  }
}

@media (max-width: 430px) {
  .expansion-panel {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    margin: 0 -20px;
  }
  .selector {
    align-self: center;
    width: 100%;
    padding: 0 24px;
  }
}

@media (min-width: 600px) {
  header {
    button {
      border-radius: 24px;
      height: 44px;
      width: auto;

      .material-icons.mobile {
        display: none;
      }

      .desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  .accordion-card {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
  }
}
