:host {
  display: block;
}

header {
  width: 100%;
  margin-bottom: 10px;
}

.expansion-panel {
  //padding: 0 16px;
  // padding-bottom: 16px;
  // background: var(--next-shade);
  // background-color: var(--next-surface);
  // border: 1px solid var(--next-border);
  // border-radius: 10px;
}

.accordion-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 16px;
  border-top: 1px solid var(--next-border);
  margin-top: 16px;

  &:not(:first-child) {
    border-top: 1px solid var(--next-border);
    margin-top: 16px;
  }
}

@media (max-width: 430px) {
  .selector {
    align-self: center;
    width: 100%;
  }
}

@media (min-width: 600px) {
  header {
    button {
      display: inline-block;
      border-radius: 24px;
      height: 44px;
      width: auto;

      .material-icons.mobile {
        display: none;
      }

      .desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  .accordion-card {
    flex-direction: row;
    justify-content: space-between;
  }

  .selector {
    min-width: 125px;
  }
}
