<header class="nx-flex col">
  <app-address-strip
    [location]="location()"
    [showDirections]="true"
    [showIcon]="false"
    [notes]="location().locationNotes"
  ></app-address-strip>
</header>
<main class="expansion-panel">
  @for(opportunity of opportunities(); track opportunity.opportunityId) {
  <div class="accordion-card">
    <app-opportunity-timestamp
      [opportunity]="opportunity"
    ></app-opportunity-timestamp>
    <div class="selector">
      <app-opportunity-selector [opportunity]="opportunity" />
    </div>
  </div>
  <app-registration-status-label [opportunity]="opportunity" />
  }
</main>
