:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
}

.material-icons {
  color: var(--red-torii-gate);
}

a.get-directions {
  font-weight: 600;
  text-decoration: underline;

  &.desktop {
    display: none;
  }

  &:hover {
    text-decoration: underline 1px;
    text-underline-offset: 1px;
  }
}

.notes {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
}

@media (min-width: 600px) {
  a.get-directions {
    &.mobile {
      display: none;
    }

    &.desktop {
      display: inline-block;
      margin-left: 5px;
    }
  }
}
