:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
}

.material-icons {
  color: var(--red-torii-gate);
}

.address {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

a.get-directions {
  display: inline-block;
  font-weight: 600;
  text-decoration: underline;
  color: var(--next-link);
  padding-left: 5px;
}
