:host {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 700;

  &.centered {
    align-items: center;
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 600, "GRAD" 0, "opsz" 48;
  color: var(--red-torii-gate);
}

.address {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.notes {
  color: var(--next-note);
  font-weight: 500;
}

:host-context(.dark-theme) {
  .notes {
    font-weight: 400;
  }
}

a.get-directions {
  display: inline-block;
  font-weight: 600;
  text-decoration: underline;
  color: var(--next-link);
  padding-left: 5px;
}
