@if(showIcon()) {
<span class="material-symbols-outlined"> map </span>
}
<div class="nx-flex col">
  <div class="address">
    @if(showAddress()) {
    <span> {{ address }}&nbsp; </span>
    <span>{{ city }}</span>
    } @else {
    <span>{{ location().locationName }}</span>
    }
    <!-- directions -->
    @if(showDirections() && !notes()) {
    <a class="get-directions soft" [href]="place" target="_blank">
      Directions
    </a>
    }
  </div>
  @if(notes()) {
  <span class="soft">
    {{ notes() }}
    @if(showDirections()) {
    <a class="get-directions soft" [href]="place" target="_blank">
      Directions
    </a>
    }
  </span>
  }
</div>
