<span class="material-icons"> location_on </span>
<div>
  <div class="address">
    @if(address) {
    {{ address }}
    @if(showDirections()) {
    <a
      class="get-directions mini-text link-text desktop"
      [href]="place"
      target="_blank"
    >
      Directions
    </a>
    } } @else {
    <span class="inactive"> Address not available. </span>
    }
  </div>
  @if(notes()) {
  <div class="notes break-word">
    {{ notes() }}
  </div>
  } @if(address && showDirections()) {
  <a
    class="get-directions mini-text link-text mobile"
    [href]="place"
    target="_blank"
  >
    Directions
  </a>
  }
</div>
