@if(bannerImage()) {
<img
  [ngSrc]="bannerImage()"
  [class.grok]="xAi()"
  fill
  priority
  placeholder
  [alt]="event().eventTitle"
/>
}
<div class="hero-overlay nj-flex col align-center justify-center gap-24">
  <div class="headline component-box-content">
    {{ event().eventTitle }}
  </div>
  <div class="event-desc component-box-content">
    {{ event().description }}
  </div>
  <div class="flex-row component-box-content">
    <span class="material-symbols-outlined">campaign</span>
    Coming Soon
  </div>
</div>
