:host {
  display: flex;
  flex-direction: column;
  background-color: var(--navy-blue-mountain);
  width: 100%;
  color: #fff;
  gap: 24px;
  padding: 24px 0 48px 0;
  align-items: center;
}

h2 {
  font-size: 26px;
  font-weight: 400;
}

.component-box-content {
  padding: 0 16px;
}

.location-content {
  gap: 24px;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.button-text {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}

.button {
  min-width: 148px;
  margin: 36px 0 24px 0;
}

.vivid {
  color: var(--vivid-yellow-text);
  font-weight: 500;
}

.map-placeholder {
  position: relative;
  height: 24rem; /* or whatever your map height is */
  background: rgba(255, 255, 255, 0.25);
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--creamy-white-clouds);
}

.shimmer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent 0%,
    rgba(255, 255, 255, 0.4) 50%,
    transparent 100%
  );
  animation: shimmer 1.8s infinite;
  transform: translateX(-100%);
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.loading-text {
  position: relative;
  z-index: 1;
  font-style: italic;
}

@media (min-width: 768px) {
  :host {
    gap: 36px;
    padding: 36px 0 72px 0;
  }

  h1 {
    margin-bottom: 36px;
  }

  .component-box-content {
    padding: 0;
  }

  .location-content {
    gap: 36px;
  }

  .main-content {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    gap: 12px;

    > .nj-flex {
      max-width: 300px;
    }
  }
  .button {
    margin: 12px 0;
  }

  iframe {
    margin-top: 48px;
  }
}
