:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  font-size: 18px;
}

.img-container {
  overflow: hidden;
}

.text-container {
  text-align: center;
}

img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

@media (min-width: 1000px) {
  :host {
    flex-direction: row;
    & > div {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  .text-container {
    text-align: left;
  }
}
