@use "sass:map";
@use "variables.scss" as var;

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
}

.material-icons {
  color: var(--bright-blue-sky);
  //font-weight: 600;
  align-self: flex-start;
}

.notes {
  color: map.get(var.$colors, dark-label);
  font-weight: 500;
}
