@use "sass:map";
@use "variables.scss" as var;

.avatar_container {
  border-radius: 50%;
  background-color: map.get(var.$colors, section-medium-gray);

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    vertical-align: top;
  }
}
