<div class="content fade-in nx-flex col jc-sb gap-20" [class.open]="loaded()">
  <ul class="nx-flex col gap-20">
    @for(user of users(); track user.userId) {
    <li>
      <button
        class="app-button flex-button user"
        [class.app-button-filled]="selectedUserId() === user.userId"
        [class.app-button-outlined]="selectedUserId() !== user.userId"
        (click)="select(user.userId)"
      >
        <app-avatar [size]="36" [avatar]="user" />
        <span>{{ user.firstName }} {{ user.lastName }}</span>
      </button>
    </li>
    }
  </ul>
  <div class="nx-flex col gap-10">
    <button
      class="app-button dialog-button app-button-filled"
      (click)="signIn.emit(selectedUserId()!)"
      [disabled]="!selectedUserId()"
    >
      Next
    </button>
    <div class="switchbox nx-flex row al-c gap-5">
      Don't have an account?
      <button class="text-button" (click)="goBack()">Sign up</button>
    </div>
  </div>
</div>
