:host {
  display: block;
  width: 100%;
  height: calc(100lvh - var(--navbar-height) - var(--color-bar-height));
  position: relative;
  max-width: var(--max-page-width);
  margin: 0 auto;
}

.hero-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero {
  object-fit: cover;
  transform: translateZ(0);
  will-change: transform;
}

.hero-overlay {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background: rgba($color: #000000, $alpha: 0.7);
  padding: 24px 12px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.headline {
  text-align: left;
  line-height: 1;
  color: var(--vivid-yellow-text);
}

.icon-note {
  color: var(--next-primary);
}

.icon-map {
  color: var(--red-torii-gate);
  font-variation-settings: "FILL" 1, "wght" 600, "GRAD" 0, "opsz" 48;
}

.icon-campaign {
  color: var(--vivid-yellow-text);
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 48;
}

@media screen and (min-width: 420px) {
  .hero-overlay {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: 768px) {
  .hero-content {
    flex-direction: row;
    align-items: center;
    gap: 24px;
    justify-content: space-between;

    .alert {
      align-self: flex-end;
    }
  }
}

@media (min-width: 769px) {
  :host {
    height: 640px;
  }

  .hero-overlay {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.14;
    padding-bottom: 32px;

    .description {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
