:host {
  display: flex;
  align-items: center;
  gap: 5px;
  opacity: 1;
  transition: 0.25s ease-in-out;

  &.busy {
    opacity: 0;
  }

  .material-symbols-outlined {
    display: none;
  }

  &.requested {
    .material-symbols-outlined.requested {
      display: inline-block;
      color: var(--next-note);
    }
  }

  &.registered {
    .material-symbols-outlined.registered {
      display: inline-block;
      color: var(--bright-green-grass);
    }
  }
}

:host-context(.dark-theme) {
  :host {
    &.registered {
      .material-symbols-outlined.registered {
        color: var(--vivid-yellow-text);
      }
    }
  }
}

.label {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: -0.06px;
  color: var(--next-text);
  opacity: 0.8;
}
