@use "@angular/material" as mat;

:host {
  display: none;
  opacity: 0;
  transition: opacity 400ms ease-in-out;

  &.show {
    display: block;
    width: 100%;
  }

  &.open {
    opacity: 1;
  }
}

form {
  width: 100%;
}

.compact-form-field {
  width: 100%;
  background-color: var(--next-surface);
  border-radius: 6px;
  @include mat.form-field-density(-4);
}

.search-container {
  padding: 10px;
}
.search-field {
  width: 300px;
}
