@use "@angular/material" as mat;

:host {
  display: block;
  width: 100%;
}

form {
  width: 100%;
}

.compact-form-field {
  width: 100%;
  @include mat.form-field-density(-4);
}

.search-container {
  padding: 10px;
}
.search-field {
  width: 300px;
}
