section {
  text-align: left;

  .time {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  &.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;

    .time {
      justify-content: space-between;
    }
  }

  &.center {
    text-align: center;
    .time {
      justify-content: center;
    }
  }

  &.left {
    text-align: left;
    .time {
      justify-content: flex-start;
    }
  }
}

@media (min-width: 600px) {
  section {
    &.flex-row {
      gap: 10px;
    }
  }
}
