<form (ngSubmit)="generateContent()">
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Destination</mat-label>
    <mat-select [(ngModel)]="params.destination" name="destination">
      @for (destination of destinations; track $index) {
      <mat-option [value]="destination">{{
        destination | titlecase
      }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Tone</mat-label>
    <mat-select [(ngModel)]="params.tone" name="tone">
      @for (tone of tones; track $index) {
      <mat-option [value]="tone">{{ tone | titlecase }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Attitude</mat-label>
    <mat-select [(ngModel)]="params.mood" name="mood">
      @for (mood of moods; track $index) {
      <mat-option [value]="mood">{{ mood | titlecase }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Time of Year</mat-label>
    <mat-select [(ngModel)]="params.season" name="style">
      @for (season of seasons; track $index) {
      <mat-option [value]="season">{{ season }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Enter any special text</mat-label>
    <input
      matInput
      [(ngModel)]="customText"
      name="customText"
      placeholder="Enter text"
    />
  </mat-form-field>
  <button
    class="app-button app-button-save"
    type="submit"
    matTooltip="Open AI access is currently locked. Please try again later."
  >
    Generate
  </button>
</form>
<div>
  @if(!dreamEvent()) {
  <div class="no-results flex-row">
    @if(busy()) {
    <img src="assets/images/photo.svg" alt="A blank photo" />
    <span>Loading...this may take a few minutes.</span>
    <app-loading-spinner [delay]="250" />
    } @else {
    <span class="icon">🚀</span>
    <span>
      Your personalized, AI-powered dream event will be revealed here!<br />
      Start by selecting your preferences above and hit
      <strong>Generate</strong> to see the magic happen.
    </span>
    }
  </div>
  }
  <app-dream-banner
    [dreamEvent]="dreamEvent()"
    class="fade-in"
    [class.open]="!error() && !busy()"
  />
</div>
