@use "sass:map";
@use "sass:color";
@use "variables.scss" as var;

:host {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.app-button {
  border-radius: 6px;
  font-weight: 600;
  height: 48px;

  &.generate {
    background: color.scale(
      map.get(var.$colors, navy-blue-mountain),
      $lightness: 10%
    );
  }
}

@media (min-width: 768px) {
  :host {
    margin-bottom: 20px;
  }

  form {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
}
