:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.material-icons {
  color: var(--bright-blue-sky);
  align-self: flex-start;
}

.date-time {
  display: flex;
  flex-direction: column;
  line-height: 24px;

  .time {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
  }
}

.notes {
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  color: var(--next-muted);
}

@media (min-width: 600px) {
  .date-time {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
  }
}
