:host {
  display: flex;
  flex-direction: column;
  gap: 5px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.material-symbols-outlined {
  color: var(--bright-blue-sky);
  align-self: flex-start;
}

.date-time {
  line-height: 24px;
}

.tz {
  font-weight: 400;
  font-size: 12px;
  opacity: 0.75;
  color: #000;
}

:host-context(.dark-theme) {
  .notes {
    color: var(--next-muted);
  }
}

@media (min-width: 600px) {
  .date-time {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
  }
}
