.app-button-filled {
  background-color: var(--red-torii-gate);
  border-color: var(--red-torii-gate);
  color: #fff;
}

.app-button-outlined {
  color: var(--next-text);
  font-weight: 600;
  //border-color: var(--red-torii-gate);
  background-color: var(--next-surface-alt);

  &:hover {
    opacity: 0.75;
  }
}

footer {
  flex-direction: column;
  button {
    width: 100%;
  }
}

@media (min-width: 600px) {
  footer {
    flex-direction: row;
    button {
      width: auto;
    }
  }
}
