@use "sass:map";
@use "variables.scss" as var;

button,
a {
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
  border: 0;
  padding: 12px;
  color: #fff;
  background-color: transparent;
  width: 100px;

  &:hover {
    cursor: pointer;
  }
}

.get-started {
  text-decoration: none;
  background-color: rgba(
    $color: map.get(var.$colors, bright-blue-sky),
    $alpha: 0.66
  );

  &:hover {
    background-color: rgba(
      $color: map.get(var.$colors, bright-blue-sky),
      $alpha: 0.9
    );
  }
}

.sign-in {
  background-color: rgba(255, 255, 255, 0.2);
  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
