:host {
  display: inline-block;
  width: 100%;
  min-width: 120px;
}

button {
  font-size: 16px;
  font-weight: 700;
  padding: 0 12px;
  width: 100%;
  &:hover {
    cursor: pointer;
  }
}

.app-button-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  transition: 0.25s ease-in-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    //color: var(--vivid-yellow-text);
  }
}
