@use "variables.scss" as var;
:host {
  display: block;
  width: 100%;
}

.background-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  backdrop-filter: brightness(80%) blur(20px);
  filter: blur(0.01px) grayscale(0.001);
}

.header-content {
  color: #fff;
  width: 100%;
  max-width: var.$max-page-width;
}

nav {
  width: 100%;
  min-height: 64px;
  display: flex;
  align-items: center;
  min-height: 64px;
  padding: 0 10px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    gap: 10px;

    li {
      display: list-item;
      text-align: center;
    }

    li.org-logo {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0;
      gap: 10px;
      height: 64px;
      padding: 5px 0;

      .logo-container {
        display: flex;
        align-items: center;
        gap: 8px;
        height: 100%;
        overflow: hidden;
      }

      .org-name {
        font-weight: 700;
      }

      img {
        object-fit: contain;
        width: auto;
        max-width: 150px;
        height: 100%;
      }
    }

    li.login {
      justify-self: flex-end;
      flex: 1;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
    }
  }
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
}

@media (min-width: 600px) {
  nav {
    padding: 0;
  }
}
