<div class="icon">
  <img
    [ngSrc]="imageSrc"
    [width]="notification().image.width"
    [height]="notification().image.height"
    alt="Event Image"
  />
</div>
<section>
  <header>
    <span class="title">
      {{ notification().title }}
      <span class="time">
        {{ notification().eventDate | date : "fullDate" }}
        ({{ notification().eventTimeZone }})
      </span>
    </span>
    <span class="time">{{
      notification().notificationDate | date : "shortTime"
    }}</span>
  </header>
  <main>
    {{ notification().message }}
  </main>
</section>
