:host {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
}

.logo-container {
  background-color: transparent;

  overflow: hidden;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    vertical-align: top;
  }
}
