<div class="app-container">
  <header>
    <app-header />
  </header>
  <main class="nj-flex col justify-space-between">
    <section class="router-content">
      <ng-content />
    </section>
    <footer>
      <app-footer />
    </footer>
  </main>
</div>

@if (dialogService.request(); as config) {
  <app-modal [size]="config.size" (close)="dialogService.closeDialog()">
    <ng-container
      *ngComponentOutlet="config.component; inputs: { data: config.data }"
    />
  </app-modal>
}

<app-sign-in-banner [remove]="isAuthenticated()" />

<div
  class="backdrop"
  [class.open]="inSearchMode()"
  (click)="toggleSearchMode()"
></div>
