@if(locations().length) {
<!-- locations loop -->
<mat-accordion class="accordion">
  @for(location of locations(); track location.locationId) {
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="nx-flex row al-c gap-5">
          <span class="material-symbols-outlined"> map </span>
          <span class="title">{{ location.locationName }}</span>
        </div>
      </mat-panel-title>
      <!-- <mat-panel-description>
      </mat-panel-description> -->
    </mat-expansion-panel-header>
    <app-location-expansion-panel
      [location]="location"
    ></app-location-expansion-panel>
  </mat-expansion-panel>
  }
</mat-accordion>
<!-- locations loop ends -->
} @else {
<div class="no-locations">
  There are currently no locations for this event. Please check back soon.
</div>
}
