<div class="card-container">
  <div class="image-container" [class.grok]="isGrokEvent()">
    <img
      alt="Event Image"
      [ngSrc]="resizedImage().src"
      [width]="resizedImage().image.width"
      [height]="resizedImage().image.height"
      placeholder
      priority
    />
  </div>
  <div class="card-body">
    <div class="nx-flex col gap-10">
      <div class="title break-word">
        {{ event().eventTitle }}
      </div>
      <div class="nx-flex col gap-5">
        <div>
          <app-address-strip
            [location]="event().location"
            [showAddress]="false"
            [showDirections]="true"
          ></app-address-strip>
          <app-opportunity-timestamp
            [opportunity]="event().opportunity"
          ></app-opportunity-timestamp>
        </div>
        <app-event-registration-status [status]="event().status" />
      </div>
    </div>
    <div class="actions">
      <app-anchor [link]="routerLink" cssClass="app-button app-button-filled">
        Open Event Details
      </app-anchor>
      <app-button
        cssClass="app-button app-button-outlined"
        (buttonClick)="confirmCancel()"
        [disabled]="event().status === registrationStatus.Cancelled"
      >
        Cancel Registration
      </app-button>
    </div>
  </div>
</div>
