:host {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 640px;
  position: relative;
  max-width: 2560px;
  margin: 0 auto;
}

img {
  object-fit: cover;

  &.grok {
    object-fit: contain;
  }
}

.hero-overlay {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background: rgba($color: #000000, $alpha: 0.7);
  padding: 24px 12px;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
}

.headline {
  text-align: left;
  line-height: 1;
  color: var(--vivid-yellow-text);
}

.icon-note {
  color: var(--next-primary);
}

.icon-map {
  color: var(--red-torii-gate);
}

.icon-campaign {
  color: var(--vivid-yellow-text);
}

@media (min-width: 600px) {
  :host {
    height: 600px;
  }

  .content {
    padding: 24px;
  }

  .hero-overlay {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.14;

    .description {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
