.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
  flex: 1;
  opacity: 1;
  transition: opacity 0.25s;

  &.disabled {
    opacity: 0.75;
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-pair {
  .mat-mdc-form-field {
    width: 100%;
  }
}

.phone-required {
  font-size: 12px;
  line-height: 14px;
  color: var(--red-torii-gate);
}

.disclaimer {
  font-size: 12px;
  line-height: 14px;
  transition: 0.25s ease-in-out;

  height: 10px;
  opacity: 0;

  &.open {
    height: auto;
    height: 94px;
    opacity: 1;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: var(--next-link);

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (min-width: 920px) {
  .profile {
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    width: 600px;
  }

  .form-pair {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    .state,
    .phone {
      flex: 1;
    }

    .contact {
      width: 200px;
    }

    .zip {
      width: 200px;
    }
  }
}
