:host {
  display: block;
  width: 100%;
  height: var(--color-bar-height);
  background: linear-gradient(
    to right,
    var(--navy-blue-mountain, #06213f) 0%,
    #0b59d6 30%,
    #00b4ff 60%,
    #2fb1a3 100%
  );
}
