@use "sass:map";
@use "variables.scss" as var;

:host {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

.logo-container {
  //border-radius: 100%;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    //border-radius: 100%;
    vertical-align: top;
  }
}
