@use "sass:map";
@use "sass:color";
@use "variables.scss" as var;

:host {
  display: block;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.no-results {
  color: var(--navy-blue-mountain);
  border-radius: 10px;
  gap: 10px;
  padding: 20px;
  //margin-bottom: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  background-color: var(--creamy-white-clouds);
  background: color.scale(
    map.get(var.$colors, bright-blue-sky),
    $lightness: 85%
  );
  border: 1px solid
    color.scale(map.get(var.$colors, bright-blue-sky), $lightness: 50%);

  img {
    border-radius: 6px;
    overflow: hidden;
  }
}

.banner-container {
  position: relative;
  width: 100%;
  //min-height: 1200px;
  border: 1px solid var(--navy-blue-mountain);

  img {
    object-fit: cover;
  }
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.banner-bar {
  z-index: 1;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  padding-bottom: 20px;
  margin-top: 480px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}

.banner-title {
  font-size: 36px;
  font-weight: 600;
  line-height: 45px;
  margin-bottom: 10px;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 225px;
  line-clamp: 5;
  -webkit-line-clamp: 5;
}

.event-desc {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-top: 10px;

  .locations-count {
    opacity: 0;
    transition: opacity 0.25s;

    &.open {
      opacity: 1;
    }
  }
}

@media (min-width: var.$screen-sm) {
  .banner-container {
    // min-height: 800px;
  }
  .banner-bar {
    flex-direction: row;
    align-items: center;
    padding: 20px;
  }
}
