.dialog {
  position: absolute;
  width: 94vw;
  height: auto;
  padding: 20px;
  z-index: 202;
  background: var(--next-surface);
  border: 1px solid var(--next-border-modal);
  border-radius: 8px;
  overflow: auto;
  overscroll-behavior: contain;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  animation: mobile-slide-down-fade-in 0.3s ease-out forwards;
  max-height: calc(100lvh - 40px);
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 201;
  width: 100%;
  height: 100%;
  //transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);

  &.backdrop {
    background: rgba(0, 0, 0, 0.32);
  }
}

:host-context(.dark-theme) {
  .container.backdrop {
    background: rgba(0, 0, 0, 0.5);
  }
}

.dialog.auto {
  width: auto;
  max-width: 94vw;
  min-width: auto;
}

@media (min-width: 768px) {
  .dialog {
    width: auto;
    animation: slide-down-fade-in 0.3s ease-out forwards;
  }

  .dialog.sm {
    min-width: 360px;
    max-width: 360px;
  }

  .dialog.md {
    min-width: 500px;
    max-width: 500px;
  }

  .dialog.lg {
    min-width: 640px;
    max-width: 640px;
  }

  .dialog.auto {
    width: auto;
  }
}

@keyframes mobile-slide-down-fade-in {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }
  80% {
    opacity: 0.8;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down-fade-in {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }
  80% {
    opacity: 0.8;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
