@for(coordinator of eventCoordinators(); track $index) {
<div class="c-card nj-flex align-start gap-10">
  <div class="nj-flex align-center gap-20">
    <app-avatar [avatar]="coordinator" [size]="120"></app-avatar>
    <div class="nj-flex col">
      <div class="name break-word">
        {{ coordinator.firstName }} {{ coordinator.lastName }}
      </div>
      <a
        class="link-text"
        [href]="'mailto: ' + coordinator.email"
        [title]="coordinator.email"
      >
        Contact Me
      </a>
    </div>
  </div>
  <div>
    <p class="muted">{{ coordinator.biography }}</p>
  </div>
</div>
} @empty { There are no Coordinators for this Event. }
