@defer () { @if(busy()) {
<app-loading-spinner></app-loading-spinner>
} }
<app-modal (close)="cancel()">
  <div class="dialog flex-column fade-in" [class.open]="loaded()">
    <header>Choose an account:</header>
    <main>
      <ul class="flex-column">
        @for(user of users(); track user.userId) {
        <li>
          <button
            class="app-button flex-button user"
            [class.app-button-filled]="selectedUserId() === user.userId"
            [class.app-button-outlined]="selectedUserId() !== user.userId"
            (click)="select(user.userId)"
          >
            <app-avatar [size]="48" [avatar]="user" />
            <span>{{ user.firstName }} {{ user.lastName }}</span>
          </button>
        </li>
        }
      </ul>
    </main>
    <footer class="flex-column">
      <button
        class="app-button dialog-button app-button-filled"
        (click)="signin()"
        [disabled]="!selectedUserId()"
      >
        Sign in
      </button>
      <button
        type="button"
        class="app-button dialog-button app-button-outlined"
        matRipple
        (click)="cancel()"
      >
        Cancel
      </button>
    </footer>
  </div>
</app-modal>
