@if(authenticating()) {
<app-loading-spinner [delay]="0" />
}
<app-modal [dynamicWidth]="true" (close)="cancel()">
  <div class="container">
    @if(busy()) {
    <div class="spinner">
      <mat-spinner
        diameter="40"
        strokeWidth="5"
        class="blue-spin"
      ></mat-spinner>
    </div>
    }
    <div class="content fade-in nx-flex col gap-36" [class.open]="!busy()">
      <header class="nx-flex row al-c jc-sb">
        <span class="subhead"> {{ modeHeaderText() }} </span>
        <button
          aria-label="Close dialog"
          type="button"
          class="dialog-close"
          mat-icon-button
          (click)="cancel()"
        >
          <span class="material-icons">close</span>
        </button>
      </header>
      <main class="nx-flex col">
        @switch(mode()) {
        <!-- sign-in -->
        @case('sign-in') {
        <app-sign-in
          (signIn)="signIn($event)"
          (cancel)="switchMode('sign-up')"
        />
        }
        <!-- sign-up -->
        @case('sign-up') {
        <app-sign-up-form
          (signUp)="signUp($event)"
          (cancel)="switchMode('sign-in')"
        />
        }
        <!-- choose-plan -->
        @case('choose-plan') {
        <app-select-plan (select)="selectPlan($event)" />
        }
        <!-- plan-payment -->
        @case('plan-payment') {
        <app-plan-payment
          [user]="newUser()!"
          [plan]="subscriptionPlan()!"
          (completePayment)="complete()"
          (cancel)="signUp(newUser()!)"
        />
        } }
      </main>
    </div>
  </div>
</app-modal>
