<header [style.backgroundImage]="backgroundImage()">
  <app-dream-header
    [event]="dreamEvent()!"
    [savedEvent]="savedEvent()"
  ></app-dream-header>
</header>
<main class="content-container">
  <section>
    <header>Description</header>
    <main class="pre-wrap">{{ dreamEvent()!.fullDescription }}</main>
  </section>
</main>
<footer class="button-bar">
  <a type="button" class="app-button app-button-default" routerLink="..">
    Try Again
  </a>
  <button
    class="app-button app-button-save"
    type="button"
    (click)="saveEvent()"
  >
    Save Event
  </button>
</footer>
@if(busy()) {
<app-loading-spinner />
}
