<header [style.backgroundImage]="backgroundImage()">
  <app-dream-header
    [event]="dreamEvent()!"
    [savedEvent]="savedEvent()"
  ></app-dream-header>
</header>
<main class="content-container">
  <section>
    <header>Description</header>
    <main class="pre-wrap">{{ dreamEvent()!.fullDescription }}</main>
  </section>
</main>
<footer class="button-bar">
  <a type="button" class="app-button app-button-dark" routerLink="..">
    <span class="material-icons">arrow_back_ios_new</span>
    Go Back
  </a>
  <button
    class="app-button app-button-save"
    type="button"
    (click)="saveEvent()"
    [disabled]="busy()"
  >
    @if(busy()) { Saving... } @else { Save Event }
  </button>
</footer>
<div class="progress" [class.open]="busy()">
  <mat-progress-bar mode="indeterminate" class="blue-spin"></mat-progress-bar>
</div>
