<article class="nj-flex col gap-20">
  <main>
    <ul>
      @for (event of events(); track event.registrationId) {
        <li class="event">
          <app-event-registration-card
            [event]="event"
            (cancelRegistration)="confirmCancel(event)"
          />
        </li>
      } @empty {
        <li>
          You haven't registered for any events.<br />
          Start planning your next adventure and your events will appear here!
        </li>
      }
    </ul>
  </main>
</article>
@if (eventToCancel()) {
  <app-confirm-modal
    (confirmed)="cancelEvent($event)"
    headerText="Cancel My Registration"
  >
    <div class="nj-flex col gap-20">
      <div class="card nj-flex col gap-5">
        <div class="confirm-title">{{ eventToCancel()!.eventTitle }}</div>
        <app-event-location-card [location]="eventToCancel()!.location" />
        <app-event-opportunity-card
          [opportunity]="eventToCancel()!.opportunity"
        />
      </div>
      <div class="confirm">
        Are you sure you want to cancel this event registration?
      </div>
    </div>
  </app-confirm-modal>
}
