ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));

  gap: 16px;
  justify-content: center; /* keeps them centered if fewer items fit */
  margin: 0 auto; /* keeps the item centered in its grid cell */
}

ul li {
  width: 100%; /* let it shrink to fit */
  margin: 0 auto; /* keeps the item centered in its grid cell */
}

.confirm-title {
  font-weight: 700;
}

.card {
  padding: 16px 0;
  border-top: 1px solid var(--next-border);
  border-bottom: 1px solid var(--next-border);
}

@media (min-width: 400px) {
  ul {
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  }
}
