<article class="nj-flex col gap-20">
  <main>
    <ul>
      @for (event of events(); track event.registrationId) {
        <li class="event">
          <app-event-registration-card
            [event]="event"
            (cancelRegistration)="confirmCancel(event)"
          />
        </li>
      } @empty {
        <li>
          You haven't registered for any events.<br />
          Start planning your next adventure and your events will appear here!
        </li>
      }
    </ul>
  </main>
</article>
