:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.soft {
  font-weight: 500;
  color: var(--next-note);
}

.badges {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
}

.badge-card {
  cursor: default;
  height: 72px;
  width: 72px;
  border-radius: 100%;
  background: #f0f0f0;
  font-weight: 700;
  text-align: center;
  font-size: 11px;
  line-height: 1.1;
  font-weight: 700;
  opacity: 0; /* Added to ensure initial state */
}

.badge-card.visible {
  animation: fadeSlide 0.8s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
  animation-delay: var(--animation-delay);
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateX(-30px) scale(0.95);
  }
  50% {
    opacity: 0.5;
    transform: translateX(-15px) scale(1);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
}

.star_shine {
  background-color: var(--light-yellow-stars);
  color: #111;
}

.bedroom_baby {
  border: 1px solid var(--next-border);
}

.favorite {
  background-color: var(--pink-cherry-blossoms);
  color: #fff;
}

.rocket {
  background-color: var(--bright-blue-sky);
  color: #fff;
}

img {
  width: 48px;
  height: 48px;
}

div.responsive {
  overflow-x: auto;
  border-radius: 4px;
}

table {
  width: 100%;
  background-color: var(--next-surface);
  border-radius: 4px;

  thead > tr {
  }

  th {
    background-color: var(--navy-blue-mountain);
    font-weight: 700;
    color: #fff;
  }

  td {
    font-weight: 500;
  }
}

.highlight {
  color: #000;
  background-color: var(--light-yellow-stars);
}

@media (min-width: 600px) {
  .badges {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 820px) {
  .badges {
    grid-template-columns: repeat(10, 1fr);
  }
}

@media (min-width: 1200px) {
  .badges {
    grid-template-columns: repeat(14, 1fr);
  }
}
