@use "variables.scss" as var;

:host {
  display: none;
}

.message {
  padding: 16px;
}

@media (min-width: 992px) {
  :host {
    display: flex;
    flex-direction: column;
    width: 430px;
    padding: 16px 0;
    gap: 16px;
    border-left: 1px solid var(--next-border);
  }
}
