:host {
  display: block;
  height: 100%;
}

.fade-in {
  opacity: 0.25;
  height: 100%;
  transition: 0.25s ease-in-out;
  background: url("/assets/images/default-event.avif");

  &.open {
    opacity: 1;
  }
}
