<app-modal (close)="close.emit(true)">
  <header class="dialog">
    <span>My Profile</span>
    <button
      aria-label="Close dialog"
      type="button"
      class="dialog-close"
      mat-icon-button
      (click)="closeProfile()"
    >
      <span class="material-symbols-outlined"> close </span>
    </button>
  </header>
  <main class="dialog">
    <div class="profile" [class.disabled]="busy">
      <app-user-avatar [user]="user()!" [size]="96" />
      <form class="nx-flex col fade-in" [class.open]="userProfile">
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input
            type="text"
            matInput
            [field]="profileForm.firstName"
            autocomplete="off"
          />
          <mat-error>Please enter your first name.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input
            type="text"
            matInput
            [field]="profileForm.lastName"
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" matInput [field]="profileForm.email" />
        </mat-form-field>
        <div class="nx-flex row gap-5">
          <mat-form-field class="phone">
            <mat-label>Phone</mat-label>
            <input
              type="text"
              matInput
              [field]="profileForm.phone"
              autocomplete="off"
            />
            @if(showPhoneHint()) {
            <mat-hint>
              <span class="phone-required"> * Phone # is required. </span>
            </mat-hint>
            } @else {
            <mat-error>
              <span class="small"> Enter phone in format: +12223335555 </span>
            </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="contact">
            <mat-label>Contact Method</mat-label>
            <mat-select [field]="profileForm.preferredContactMethod">
              @for(contactMethod of contactMethods; track contactMethod.value) {
              <mat-option [value]="contactMethod.value">
                {{ contactMethod.viewValue }}
              </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <!-- <div
          class="disclaimer"
          [class.open]="
            'phone' === profileForm.get('preferredContactMethod')?.value
          "
        >
          <p>
            By selecting <em>Phone</em> as your preferred contact method, you
            agree to receive helpful text messages (like event updates) at the
            number you provided. Message and data rates may apply. Message
            frequency may vary. If you'd rather not get texts, you can always
            choose a different contact method in your profile.
          </p>
          View our
          <a routerLink="/legal/tos" target="_blank">Terms of Service</a>
          and
          <a routerLink="/legal/privacy" target="_blank">Privacy Policy</a>.
        </div> -->
      </form>
    </div>
  </main>
  <footer class="dialog">
    <button
      type="button"
      class="app-button dialog-button app-button-outlined"
      matRipple
      (click)="closeProfile()"
    >
      {{ profileForm().dirty() ? "Cancel" : "Close" }}
    </button>
    <button
      type="button"
      class="app-button dialog-button app-button-filled"
      matRipple
      (click)="saveProfile()"
      [disabled]="!profileForm().touched() || !profileForm().valid()"
    >
      Save
    </button>
  </footer>
</app-modal>
