.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border: 1px solid var(--next-border);
  border-right: 0;
  border-bottom: 0;
  border-top-left-radius: 10px;
}

.material-symbols-outlined {
  &.verified {
    font-variation-settings: "FILL" 1, "wght" 600, "GRAD" 0, "opsz" 48;
    color: var(--next-verified);
  }
  &.pending_actions {
    color: var(--next-verified);
  }
  &.calendar_add_on {
    color: var(--bright-blue-sky);
  }
  &.block {
    //font-variation-settings: "FILL" 2, "wght" 700, "GRAD" 0, "opsz" 48;
    font-weight: 700;
    color: var(--next-note);
  }
}
