<nav class="component-box-content" [class.search-mode]="inSearchMode()">
  <div class="nav-content">
    <ul class="nj-flex row align-center justify-space-between">
      <li class="logo">
        <a nextButton class="logo" routerLink="/">
          <app-logo />
        </a>
      </li>
      <li class="spacer"></li>
      <li>
        <button
          aria-label="Search Events"
          type="button"
          class="app-button flex-button search strong"
          (click)="toggleSearchPanel()"
        >
          <span class="material-symbols-outlined"> search </span>
          <span class="button-text">Search</span>
        </button>
      </li>
      <li class="sign-in fade-in" [class.open]="authCompleted()">
        <a nextButton routerLink="/login" class="app-button-filled">
          Sign In
        </a>
      </li>
    </ul>
    <app-event-search-autocomplete />
  </div>
</nav>
