<div class="avatar-container" [style]="styleCss">
  <!-- avatarImageData -->
  @if (avatarImageData) {
  <!-- image -->
  @if(avatarImageData.image) {
  <img
    [src]="
      'data:' + avatarImageData.imageType + ';base64,' + avatarImageData.image
    "
    [alt]="altText"
  />

  } @else {
  <img [src]="defaultAvatarImage" [alt]="altText" />
  }
  <!-- avatarImageData -->
  } @else {
  <!-- image id-->
  @if(imageIdSrc) {
  <img [src]="imageIdSrc" [alt]="altText" />
  } @else {
  <img [src]="defaultAvatarImage" [alt]="altText" />
  }
  <!-- image id-->
  }
</div>
