@use "variables.scss" as var;

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 20px 0;
}

.app-button.app-button-filled {
  border-radius: 6px;
  font-size: 20px;
  font-weight: 700;
  height: 56px;

  background: #007b72;
  color: var(--vivid-yellow-text);
  transition: 0.25s ease-in-out;

  &:hover {
    background-color: var(--bright-blue-sky);
    color: #000; /* flip text to black for better contrast */
  }
}

@media (min-width: 600px) {
  .app-button {
    font-size: 18px;
    font-weight: 600;
    width: 212px;
  }

  form {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
  }
}
