:host {
  display: flex;
  justify-content: center;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 20px 0;
  padding-bottom: 24px;
}

@media (min-width: 600px) {
  .button-text {
    font-size: 18px;
    line-height: 48px;
    font-weight: 600;
  }

  .button {
    width: 212px;
  }

  form {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 36px;
  }
}

@media only screen and (min-width: 992px) {
  .app-button.app-button-filled:hover {
    background-color: var(--bright-blue-sky);
    border-color: var(--bright-blue-sky);
    color: #000; /* flip text to black for better contrast */
  }
}
