@use "sass:map";
@use "variables.scss" as var;

:host {
  display: block;
  position: relative;
}

.app-button {
  height: 48px;
  width: 48px;
  min-width: 48px;
  border-radius: 100%;

  img {
    height: 26px;
    width: 26px;
  }

  &:hover {
    background-color: map.get(var.$colors, light-gray-accent);
  }

  &.clear-button {
    height: 32px;
    width: 80px;
    border-radius: 24px;
    color: map.get(var.$colors, darkest-gray);
    background-color: #fff; //   map.get(var.$colors, section-light-gray);
    opacity: 0;
    transition: 0.25s;
    font-size: 14px;

    &.open {
      opacity: 1;
    }
  }
}

.menu-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  gap: 32px;
  min-width: 320px;
  max-width: 94vw;

  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  padding: 0 16px;
  margin-bottom: 12px;

  button {
    background-color: map.get(var.$colors, section-medium-gray);

    &:hover {
      background-color: map.get(var.$colors, light-gray-accent);
    }
  }
}

.badge {
  position: absolute;
  top: 4px;
  right: 0;
  background-color: var(--red-torii-gate);
  border: 2px solid #fff;
  border-radius: 100%;
  width: 22px;
  height: 22px;
  overflow: hidden;
  opacity: 0;
  z-index: 10;
  transition: opacity 0.25s;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  &.visible {
    opacity: 1;
  }
}

.no-notifications {
  width: 100%;
  padding: 20px;
}

@media (min-width: 768px) {
  .menu-title {
    min-width: 400px;
  }
}
