@if (!haiku()) {
  <header class="dialog">
    <span id="dialog-title"></span>
    <button
      aria-label="Close dialog"
      type="button"
      class="dialog-close"
      mat-icon-button
      (click)="closeDialog()"
    >
      <span class="material-symbols-outlined"> close </span>
    </button>
  </header>
}
<main class="dialog">
  @if (haiku()) {
    <div class="pre-wrap">{{ haiku() }}</div>
  } @else {
    <ngx-spinner
      [fullScreen]="false"
      bdColor="rgba(0, 174, 239, 0.5)"
      type="ball-scale-multiple"
      size="medium"
    >
      <p class="loading-ticker">
        <span
          class="loading"
          [class.exit]="messageState() === 'exit'"
          [class.jump]="messageState() === 'jump'"
          >{{ message() }}</span
        >
      </p>
    </ngx-spinner>
  }
</main>
<footer class="dialog fade-in" [class.open]="haiku()">
  <button nextButton variant="priority" (click)="closeDialog()">
    If you say so
  </button>
</footer>
