:host {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 210px;
  transition: 0.25s ease-in-out;
}

main.dialog {
  .pre-wrap {
    font-weight: 500;
    line-height: 24px;
  }
}

button {
  width: 100%;
}
