<app-modal (close)="close.emit(true)">
  <div class="progress-spinner nx-flex row al-c jc-c" [class.open]="busy()">
    @if(busy()) {
    <app-loading-spinner message="Sending Requests..." />
    }
  </div>
  <header class="dialog">
    <span>Event Registration</span>
    <button
      type="button"
      class="dialog-close"
      mat-icon-button
      (click)="close.emit(true)"
    >
      <span class="material-symbols-outlined"> close </span>
    </button>
  </header>
  <main class="dialog nx-flex col gap-16" #main>
    @if(completed()) {
    <div class="completed nx-flex row al-c gap-16">
      <div class="icon nx-flex al-c jc-c">
        <span class="material-symbols-outlined"> star_shine </span>
      </div>
      <p>
        We have received your registration request. You will be notified once
        your registration is complete!
      </p>
    </div>
    } @else {
    <div class="card nx-flex col gap-5">
      <app-address-strip
        [location]="location()!"
        [showAddress]="false"
        [showDirections]="false"
      ></app-address-strip>
      <app-opportunity-timestamp [opportunity]="opportunity()!" />
    </div>
    }
    <div class="soft xs">
      Registration is first-come, first-served and spots are limited. You'll be
      notified when your spot is confirmed. You can cancel your registration up
      to 48 hours before the event starts. Questions?
      <a class="link-text" href="mailto: joe.svatek@icloud.com"> Contact us </a>
      - we're happy to help!
    </div>
  </main>
  <footer class="dialog">
    @if(completed()) {
    <a
      type="button"
      matRipple
      class="app-button dialog-button app-button-filled priority"
      routerLink="/user/profile"
      [queryParams]="{ action: 'manage' }"
    >
      Manage Your Events
    </a>
    <button
      (click)="closeDialog()"
      type="button"
      matRipple
      class="app-button dialog-button app-button-outlined"
    >
      Done
    </button>
    } @else {
    <button
      (click)="sendRequest()"
      type="button"
      matRipple
      class="app-button dialog-button app-button-filled priority"
    >
      Register
    </button>
    <button
      type="button"
      matRipple
      class="app-button dialog-button app-button-outlined"
      (click)="closeDialog()"
    >
      Cancel
    </button>
    }
  </footer>
</app-modal>
