<nav class="open" [class.search-mode]="inSearchMode()">
  <ul>
    <li class="org-logo">
      <a routerLink="/home" class="logo-container org-name break-word">
        <app-logo [size]="94" />
      </a>
    </li>
    <li>
      <button
        aria-label="Search Events"
        type="button"
        class="app-button flex-button transparent strong"
        (click)="toggleSearchPanel()"
      >
        <span class="material-icons">search</span>
        <span class="text">Search Events</span>
      </button>
    </li>
    <li class="login">
      <app-login-button></app-login-button>
      <app-login-button [signup]="true"></app-login-button>
    </li>
  </ul>
  <app-search-autocomplete class="search-autocomplete" />
</nav>
