<nav class="cb-content" [class.search-mode]="inSearchMode()">
  <div class="nav-content">
    <ul class="nx-flex row al-c jc-sb">
      <li class="logo">
        <app-anchor cssClass="app-button" link="/">
          <app-logo />
        </app-anchor>
      </li>
      <li class="spacer"></li>
      <li>
        <button
          aria-label="Search Events"
          type="button"
          class="app-button flex-button transparent strong"
          (click)="toggleSearchPanel()"
        >
          <span class="material-symbols-outlined"> search </span>
          <span class="text">Search Events</span>
        </button>
      </li>
    </ul>
    <app-search-autocomplete />
  </div>
</nav>
