@use "variables.scss" as var;

:host {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--next-surface-rgb), 0.75);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}

nav {
  width: 100%;
  height: var.$user-header-height;
  transition: 0.25s ease-in-out;

  &.search-mode {
    //background-color: var(--next-surface);
    height: calc(var.$user-header-height + var.$user-header-height);
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 0;
  height: 100%;

  .app-button {
    background-color: transparent;
    padding: 0 20px;
    white-space: nowrap;
    transition: 0.25s;
    font-weight: 500;
    border-radius: 24px;

    &.logo,
    &.logo:active,
    &.logo:focus {
      padding: 0;
      background-color: transparent;
    }

    &.active {
      background-color: var(--next-surface-alt);
    }
  }

  &:last-child {
    padding-right: 12px;
  }
}

li.spacer {
  flex: 1;
}

@media (min-width: 600px) {
  ul {
    gap: 10px;
  }

  li {
    .app-button {
      &:hover:not(.logo) {
        @media (pointer: fine) {
          background-color: var(--next-surface-alt);
        }
      }
    }
  }
}
