<div class="banner-container">
  @if(resizedImage()) {
  <img
    [ngSrc]="resizedImage()!.src"
    [alt]="event()?.description"
    class="fade-in"
    [class.open]="imageLoaded()"
    fill
    priority
    [style.objectPosition]="event()?.image?.position"
    (load)="onImageLoad()"
  />
  }
  <div class="banner-bar">
    <div>
      <div class="banner-title break-word">
        {{ event()?.eventTitle }}
      </div>
      <div class="event-desc">
        @if(event()?.minDate) {
        <mat-icon>event_note</mat-icon>
        <span>{{ event()?.minDate | date }}</span>
        @if(multiDayEvent()) { -
        <span>{{ event()?.maxDate | date }}</span>
        } } @else {
        <div class="flex-column">
          <div class="flex-row">
            <!-- <mat-icon>article</mat-icon> -->
            {{ event()?.description }}
          </div>
          <div class="flex-row">
            <mat-icon>event_note</mat-icon>
            Coming Soon
          </div>
        </div>
        }
      </div>
      <div class="event-desc fade-in" [class.open]="eventLocations().length">
        <mat-icon>place</mat-icon>
        <span>
          {{ eventLocations().length | displayCount }}
          @if(eventLocations().length !== 1) {
          <span>Locations</span>
          } @else {
          <span>Location</span>
          }
        </span>
      </div>
    </div>
  </div>
</div>
