:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--next-border);
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

a {
  color: var(--next-link);
  text-decoration: none;
  transition: 0.25s ease-in-out;
  &:hover {
    text-decoration: underline;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 10px;
}

@media (min-width: 600px) {
  :host {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .actions {
    align-self: flex-start;
    width: auto;
    align-items: flex-start;
  }
}
