<app-layout>
  <article class="nx-flex col al-c fade-in" [class.open]="eventsLoaded()">
    <header class="component-box">
      <img [ngSrc]="heroImage()" alt="Hero Image" fill priority placeholder />
      @if(events().length) {
      <app-hero [events]="events()" />
      }
    </header>
    <main class="component-box nx-flex col al-c">
      <div class="cb-content pad nx-flex col al-c gap-20">
        <div class="subhead">
          {{ org.infoTitle }}
        </div>
        <div class="text-centered">
          {{ org.infoDescription }}
        </div>
      </div>
      <app-event-carousel [events]="events()" />
      <app-ai-banner />
    </main>
  </article>
</app-layout>
<app-about />
