@use "sass:color";
@use "sass:map";
@use "variables.scss" as var;

:host {
  display: block;
  width: 100%;
}

article {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  height: 100%;
}

article > header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-size: cover;
}

article > main {
  flex: 1;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 24px;

  > section:not(.image-content) {
    padding: 0 20px;
  }
}

article > main > section:last-child {
  margin-bottom: 30px;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.flex-content {
  z-index: 1;
  width: 100%;
  text-align: center;
}

.organization-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;

  .info-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
  }
}

.image-content {
  overflow: hidden;
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 512px;
  background-position: top;

  img {
    //opacity: 0.5;
    //filter: brightness(50%);
    object-fit: cover;
    object-position: top;
    background-position: top;
  }

  .text-content {
    padding: 18px 24px;
    background-color: rgba(0, 0, 0, 0.75);
  }

  main.content {
    max-width: 800px;
    font-size: 14px;
  }

  footer {
    padding: 10px 0 6px 0;
  }
}

.headline {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: -0.005em;
}

.subhead {
  font-size: 18px;
  line-height: 1.14286;
  font-weight: 400;
  letter-spacing: 0.007em;
}

a.app-button.app-button-save {
  font-size: 18px;
  height: 48px;
  //width: 50%;
  border-radius: 4px;
  background: color.scale(
    map.get(var.$colors, bright-blue-sky),
    $lightness: -20%
  );

  &:hover {
    background: color.scale(
      map.get(var.$colors, bright-blue-sky),
      $lightness: -40%
    );
  }
}

@media (min-width: 600px) {
  article {
    gap: 60px;
  }

  article > main {
    padding: 0;
    gap: 60px;
  }

  article > main > section:last-child {
    margin-bottom: 96px;
  }

  .organization-info {
    //padding: 40px 20px;

    .info-title {
      font-size: 28px;
      font-weight: 700;
    }

    .info-description {
      font-size: 18px;
      line-height: 26px;
    }
  }
}

@media (min-width: var.$max-page-width) {
  .organization-info {
    padding-left: 0;
    padding-right: 0;
    gap: 30px;
  }

  .image-content {
    border-radius: 6px;
  }
}
