<app-layout>
  <app-page-load-spinner [remove]="eventsLoaded()" [delay]="1000" />
  <article
    class="nj-flex col align-center fade-in"
    [class.open]="eventsLoaded()"
  >
    <header class="component-box">
      <img [ngSrc]="heroImage()" alt="Hero Image" fill priority placeholder />
      @if (events().length) {
        <app-hero [events]="events()" />
      }
    </header>
    <main class="component-box nj-flex col align-center">
      <div class="component-box-content pad nj-flex col align-center gap-20">
        <div class="subhead">
          {{ org.infoTitle }}
        </div>
        <div class="text-centered">
          {{ org.infoDescription }}
        </div>
      </div>
      <app-event-carousel [events]="events()" />
      <div class="ai-banner">
        <app-ai-banner [fadeInOnScroll]="{}" />
      </div>
      <div class="component-box-content pad">
        <app-about-site-banner />
      </div>
    </main>
  </article>
</app-layout>
