:host {
  display: block;
  width: 100%;
  height: 100%;
}

article {
  gap: 36px;
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  img {
    object-fit: cover;
    filter: brightness(50%);
  }
  position: relative;
}

main {
  gap: 48px;
}

.subhead {
  color: var(--next-heading);
}

.hidden {
  opacity: 0;
}

@media (min-width: 600px) {
  article {
    gap: 60px;
  }

  main {
    padding: 0;
    gap: 60px;
  }

  .text-centered {
    font-size: 18px;
    line-height: 26px;
  }
}
