:host {
  display: block;
  width: 100%;
  height: 100%;
}

article {
  gap: 36px;
  padding-bottom: 72px;
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  overflow: hidden;
  position: relative;
  img {
    object-fit: cover;
  }
  position: relative;
}

main {
  gap: 48px;
}

.subhead {
  font-weight: 700;
}

.ai-banner {
  width: 100%;
}

.hidden {
  opacity: 0;
}

@media (min-width: 600px) {
  article {
    gap: 60px;
  }

  main {
    padding: 0;
    gap: 60px;
  }

  .text-centered {
    font-size: 18px;
    line-height: 26px;
  }
}
