:host {
  background: url("/assets/images/default-event.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100lvh;
  padding: 12px;
}

article {
  border-radius: 16px;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  padding: 24px;
  max-width: 800px;

  header {
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    color: var(--vivid-yellow-text);
  }
}

.back-button {
  touch-action: manipulation;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid var(--vivid-yellow-text);
  color: var(--vivid-yellow-text);
  text-decoration: none;
  border-radius: 100%;
  width: 42px;
  height: 42px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
      font-size: 20px;
    }

    &.home {
      gap: 4px;
    }
  }
}

a {
  color: var(--bright-blue-sky);
  font-weight: 500;
}

footer {
  z-index: 1;
  display: block;
  width: 100%;
  opacity: 0.9;
}

@media only screen and (min-width: 992px) {
  .back-button:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }
}
