<article class="nj-flex col gap-24">
  <section class="nj-flex col gap-10">
    <header class="nj-flex align-center gap-10">
      <a
        class="back-button"
        aria-label="Return to the Home Page"
        routerLink="/"
      >
        <span class="material-symbols-outlined"> arrow_back_ios_new </span>
      </a>
      About this Project
    </header>
    <main>
      <span class="highlight"> Next Japan </span>
      is a full-stack web application showcasing signal-driven Angular v21 UI,
      MongoDB APIs, and responsive design. The project was designed,
      architected, coded, and deployed entirely from scratch by me.
    </main>
  </section>
  <section class="nj-flex col gap-10">
    <header>Key Skills</header>
    <main>
      <ul class="nj-flex col gap-5">
        <li>
          <span>🧩</span> Angular v21 with standalone components and
          signal-based state management.
        </li>
        <li>
          <span>🔮</span>
          Zoneless architecture: Removed Zone.js for optimal performance.
        </li>
        <li><span>👾</span> Node.js + Express backend</li>
        <li>
          <span>🗃️</span> MongoDB for persistent event storage and dynamic
          content management.
        </li>
        <li><span>📡</span> RESTful API with rate limiting, CORS handling</li>
        <li>
          <span>🤖</span> Integration with the OpenAI and Grok APIs for enhanced
          features.
        </li>
        <li>
          <span>🌐</span> Cloudflare Images integration for optimized, globally
          cached image delivery.
        </li>
        <li><span>☁️</span> Cloud deployment hosted on Render.</li>
        <li>
          <span>📱</span> Responsive design with selectable light and dark
          modes.
        </li>
        <li><span>🚀</span> SSR for optimized performance and SEO.</li>
        <li><span>🔒</span> JWT-based authentication with auto-refresh.</li>
      </ul>
    </main>
  </section>
  <section class="nj-flex col gap-10">
    <header>Developer Info</header>
    <div>
      Austin-based U.S. developer with 20+ years in full stack development.
    </div>
    <ul class="nj-flex col gap-5">
      <li>
        <span>💻</span> View
        <a href="https://github.com/sushi-a-gogo/next-japan" target="_blank"
          >Source on GitHub</a
        >
      </li>
      <li>
        <span>📄</span> View
        <a href="#" rel="noopener noreferrer" (click)="openResume($event)">
          My Resume
        </a>
      </li>
      <li>
        <span>📧</span> Contact me:
        <a href="mailto: joe.svatek@icloud.com">Email</a>
      </li>
    </ul>
  </section>
</article>
@if(viewResume()) {
<app-my-resume (close)="viewResume.set(false)" />
}
