:host {
  background: url("/assets/images/default-event.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(var(--app-height));
  padding: 60px;
}

article {
  border-radius: 16px;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  padding: 24px;

  header {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
      font-size: 20px;
    }

    &.home {
      gap: 4px;
    }
  }
}

a {
  color: var(--vivid-yellow-text);

  &.home {
    color: var(--bright-blue-sky);
    text-decoration: none;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
    }
  }
}

footer {
  z-index: 1;
  display: block;
  width: 100%;
  opacity: 0.9;
}
