:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.progress-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 101;

  &.open {
    height: 100%;
    background-color: rgba(var(--next-surface-rgb), 0.25);
    backdrop-filter: blur(0.5px);
  }
}

header.dialog > span {
  font-weight: 700;
}

footer {
  button:disabled {
    opacity: 0.5;
  }
}

.title {
  font-size: 16px;
  font-weight: 600;
}

.card {
  padding: 16px 0;
  border-top: 1px solid var(--next-border);
  border-bottom: 1px solid var(--next-border);
}

.completed {
  height: 132px;
  border-top: 1px solid var(--next-border);
  border-bottom: 1px solid var(--next-border);

  .icon {
    min-width: 48px;
    min-height: 48px;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background: var(--bright-blue-sky);
  }

  .material-symbols-outlined {
    font-size: 28px;
    color: var(--creamy-white-clouds);
  }
}

footer.dialog {
  flex-direction: column;

  .app-button {
    width: 100%;
    font-weight: 700;
    padding: 12px 24px;
  }

  .app-button-outlined {
    color: var(--next-text);
  }
}

@media (min-width: 600px) {
  .dialog {
    min-width: 360px;
    max-width: 360px;
  }

  footer.dialog2 {
    flex-direction: row-reverse;
    justify-content: flex-start;

    .app-button {
      width: auto;
    }
  }
}
