<button
  #notificationMenuTrigger="matMenuTrigger"
  [matMenuTriggerFor]="notificationMenu"
  (menuOpened)="menuToggle(true)"
  (menuClosed)="menuToggle(false)"
  aria-label="Notification Center"
  type="button"
  aria-label="Notifications"
  class="app-button flex-button notification-button"
  matTooltip="Notifications"
  #menuTrigger="matMenuTrigger"
  [matTooltipShowDelay]="750"
  [matTooltipDisabled]="menuTrigger.menuOpen"
>
  <span class="material-symbols-outlined"> notifications </span>
  <span class="badge" [class.visible]="notifications().length > 0">{{
    notifications().length
  }}</span>
</button>
<mat-menu
  #notificationMenu="matMenu"
  [hasBackdrop]="true"
  [autofocus]="false"
  backdropClass="app-backdrop"
  class="notification-panel"
>
  <div class="panel-overlay" [class.visible]="busy()"></div>
  <div class="nj-flex row align-center justify-space-between menu-title">
    <span>Notifications</span>
    <div class="nj-flex row align-center gap-10">
      <button matButton (click)="markAllAsRead()">Clear Notifications</button>
      <button class="close-button" mat-icon-button (click)="clickX()">
        <span class="material-symbols-outlined"> close </span>
      </button>
    </div>
  </div>
  <ul>
    @for (notification of notifications(); track notification.notificationId) {
      <li>
        <button mat-menu-item (click)="markAsReadAndNavigate(notification)">
          <app-notification-card [notification]="notification" />
        </button>
      </li>
    } @empty {
      <li>
        <div class="no-notifications">You don't have any notifications.</div>
      </li>
    }
  </ul>
</mat-menu>
