:host {
  display: block;
  position: relative;
}

.app-button {
  height: 40px;
  width: 40px;
  min-width: 40px;
  border-radius: 100%;
  color: var(--next-text);

  &:hover {
    background-color: var(--next-border);
  }
}

.menu-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  gap: 32px;
  min-width: 320px;
  max-width: 94vw;

  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  padding: 0 16px;
  margin-bottom: 12px;
}

.badge {
  position: absolute;
  top: 4px;
  right: 0;
  background-color: var(--red-torii-gate);
  border: 2px solid #fff;
  border-radius: 100%;
  width: 22px;
  height: 22px;
  overflow: hidden;
  opacity: 0;
  z-index: 10;
  transition: opacity 0.25s;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  &.visible {
    opacity: 1;
  }
}

.close-button {
  color: var(--next-text);
  background-color: var(--next-surface);
  transition: 0.25s ease-out;
  font-size: 14px;
  border-radius: 100%;

  .button-text {
    display: none;
  }

  &.clear-all {
    width: 80px;
    border-radius: 24px;

    .material-icons {
      display: none;
    }

    .button-text {
      display: inline-block;
      font-weight: 600;
    }
  }
}

.no-notifications {
  width: 100%;
  padding: 20px;
}

@media (min-width: 375px) {
  .app-button {
    height: 48px;
    width: 48px;
    min-width: 48px;
  }
}

@media (min-width: 768px) {
  .menu-title {
    min-width: 400px;
  }
}
