<button
  #notificationMenuTrigger="matMenuTrigger"
  [matMenuTriggerFor]="notificationMenu"
  (menuOpened)="menuToggle(true)"
  (menuClosed)="menuToggle(false)"
  aria-label="Notification Center"
  type="button"
  aria-label="Notifications"
  class="app-button flex-button notification-button"
  matTooltip="Notifications"
  #menuTrigger="matMenuTrigger"
  [matTooltipShowDelay]="750"
  [matTooltipDisabled]="menuTrigger.menuOpen"
>
  <span class="material-symbols-outlined"> notifications </span>
  <span class="badge" [class.visible]="notifications().length > 0">{{
    notifications().length
  }}</span>
</button>
<mat-menu
  #notificationMenu="matMenu"
  [hasBackdrop]="true"
  backdropClass="notification-backdrop"
  class="notification-panel"
>
  <div class="nx-flex row al-c jc-sb menu-title">
    <span>Notifications</span>
    <button
      class="close-button"
      mat-icon-button
      (click)="clickX($event)"
      [class.clear-all]="showClearAll()"
    >
      <span class="button-text">Clear</span>
      <span class="material-symbols-outlined"> close </span>
    </button>
  </div>
  @for(notification of notifications(); track notification.notificationId) {
  <button mat-menu-item (click)="markAsReadAndNavigate(notification)">
    <app-notification-card [notification]="notification" />
  </button>
  } @empty {
  <div class="no-notifications">You don't have any notifications.</div>
  }
</mat-menu>
