<div class="page-error">
  <img
    ngSrc="assets/images/error.webp"
    alt="An image of sadness"
    fill
    priority
  />

  <div class="error-content">
    <span class="material-icons"> crisis_alert </span>
    <div class="error-block">
      <div class="error-header">{{ errorTitle }}</div>
      {{ errorMessage }}
      @if(routerLink) {
      <div class="error-link">
        <span class="material-icons"> arrow_right </span>
        <a [routerLink]="routerLink">{{ routerLinkText }}</a>
      </div>
      }
    </div>
  </div>
</div>
