:host {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 640px;
  max-width: var(--max-content-width);
  margin: 0 auto;
  overflow: hidden;
}

img {
  object-fit: cover;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  transform: scale(1);
  pointer-events: none; /* 🔑 ensures inactive images don't eat taps */

  &.active {
    opacity: 1;
    pointer-events: auto; /* only active image is "touchable" */
    z-index: 1; /* keeps layering predictable */
  }

  //animation: zoom-in 30s ease-in-out infinite;
  // &:nth-child(even) {
  //   animation: zoom-out 30s ease-in-out infinite;
  // }
}

.hero-overlay {
  position: absolute;
  bottom: 0;
  z-index: 20;
  width: 100%;
  background: rgba($color: #000000, $alpha: 0.75);
  padding: 18px 24px;
  color: #fff;
  animation: fadeText 1.5s ease-in-out;
}

.headline {
  font-size: 22px;
  color: var(--vivid-yellow-text);
}

a {
  text-decoration: none;
  font-weight: 600;
  width: 100%;
  max-width: 440px;
}

p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  gap: 10px;
}

@keyframes fadeText {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoom {
  0% {
    transform: scale(1) translate(0, 0);
  }
  100% {
    transform: scale(1.2) translate(-2%, -2%);
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(1) translate(0, 0);
  }
  50% {
    transform: scale(1.2) translate(-2%, -2%);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(1.2) translate(-2%, -2%);
  }
  50% {
    transform: scale(1) translate(0, 0);
  }
  100% {
    transform: scale(1.2) translate(-2%, -2%);
  }
}

@media (min-width: 600px) {
  :host {
    height: 600px;
  }

  .hero-overlay {
    padding: 24px;
  }

  .headline {
    font-size: 48px;
  }

  p {
    gap: 24px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  a {
    max-width: 200px;
  }
}
