@for(image of heroImages(); track image) {
<img
  [ngSrc]="image.src"
  class="hero"
  [class.active]="$index === currentImageIndex()"
  [class.grok]="image.grokImage"
  fill
  alt="Next Japan Banner"
/>
}
<div class="hero-overlay nx-flex col al-c jc-c">
  <div class="cb-content headline">Experience the Future</div>
  <p class="cb-content nx-flex col al-c">
    <span>
      <b>Next Japan</b> is a full-stack <em>portfolio project</em> built with
      <b>Angular v20</b> and <b>Node.js/Express</b>, hosted on <b>Render</b>.
      Inspired by Japanese Anime, it playfully simulates a travel site where
      users register for <em>imaginary</em> events across Japan.
    </span>
    <app-button
      class="button"
      cssClass="app-button app-button-filled priority"
      (buttonClick)="navigateToAboutPage()"
      [touchAware]="true"
    >
      About This Project
    </app-button>
  </p>
</div>
