:host {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 640px;
  max-width: 2560px;
  margin: 0 auto;
  backdrop-filter: brightness(50%) blur(10px);
}

img {
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background: rgba($color: #000000, $alpha: 0.7);
  padding: 24px;
  color: #fff;
}

.headline {
  color: var(--vivid-yellow-text);
}

@media (min-width: 600px) {
  :host {
    height: 600px;
  }

  p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
}
