<div class="cb-content">
  @if(bannerImage()) {
  <img
    [ngSrc]="bannerImage()!.src"
    [class.grok]="xAi()"
    fill
    priority
    placeholder
    [alt]="event()?.eventTitle"
  />
  }
  <div class="content cb-content nx-flex col al-start jc-c gap-24">
    <div class="headline">
      {{ event()?.eventTitle }}
    </div>
    @if(locationCount()) {
    <div class="nx-flex row al-c gap-10" [class.open]="locationCount()">
      <span class="material-icons icon-place">place</span>
      <span>
        {{ locationCount() | displayCount }}
        @if(locationCount() !== 1) {
        <span>Locations</span>
        } @else {
        <span>Location</span>
        }
      </span>
    </div>
    }
    <div class="nx-flex row al-c gap-10">
      @if(eventDateRange()) {
      <!-- date range start -->
      <span class="material-icons icon-note">event_note</span>
      <span>{{ eventDateRange()!.minDate | date }}</span>
      @if(eventDateRange()?.maxDate) { -
      <span>{{ eventDateRange()!.maxDate | date }}</span>
      }
      <!-- date range end -->
      } @else {
      <div class="nx-flex col gap-10">
        {{ event()?.description }}
        <div class="nx-flex row al-c gap-10">
          <span class="material-icons icon-campaign">campaign</span>
          Coming Soon
        </div>
      </div>
      }
    </div>
  </div>
</div>
