.user_initials {
  border-radius: 100%;
  background-color: var(--next-heading);
  color: var(--next-bg);
  overflow: hidden;

  font-size: 16px;
  line-height: 1;
  letter-spacing: 1px;
  font-weight: 700;
}
