:host {
  opacity: 0;
  transition: opacity 0.25s ease-in;

  &.open {
    opacity: 1;
  }
}
.user_initials {
  border-radius: 100%;
  background-color: var(--pink-cherry-blossoms);
  color: #fff;
  overflow: hidden;

  font-size: 16px;
  line-height: 1;
  letter-spacing: 1px;
  font-weight: 700;
}
