<app-page-load-spinner [remove]="loaded()" [delay]="1000" />
<article class="nj-flex col align-center" [class.open]="loaded()">
  <header class="component-box">
    <app-event-hero (onGetTickets)="scrollToOpportunities()" />
  </header>
  <main class="component-box">
    <div class="component-box-content pad">
      <div class="page-component description pre-wrap">
        <span>{{ event()?.fullDescription }}</span>
      </div>
      <div class="page-component">
        <h1>Event Coordinators</h1>
        <app-event-coordinators
          [eventCoordinators]="event()?.eventCoordinators || []"
        />
      </div>
    </div>

    @if (loaded()) {
      <app-event-map (onGetTickets)="scrollToOpportunities()" />
      <div class="component-box-content pad" #opportunities>
        <div class="page-component">
          <h1>Upcoming Opportunities</h1>
          <app-event-opportunities />
        </div>
      </div>
    }
  </main>
  @if (showRegistrationDialog()) {
    <app-event-registration-dialog (close)="closeRegistrationDialog()" />
  }
</article>
