@use "variables.scss" as var;

.event-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  height: 0;
  background: var(--navy-blue-mountain);
  color: var(--next-highlight);

  opacity: 0;
  transition: 0.25s ease-in-out;

  &.visible {
    opacity: 1;
    z-index: 102;
    height: 80px;
  }
}

.app-button {
  font-size: 20px;
  font-weight: 700;
  border-radius: 4px;
  background: var(--next-surface);

  &.mobile {
    width: 100%;
    height: 100%;
    color: var(--next-highlight);
    background: var(--navy-blue-mountain);
  }
}

.desktop {
  display: none;
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }

  .event-footer.visible {
    font-size: 22px;
    line-height: 28px;
    height: 120px;
  }

  .desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .app-button {
    padding: 10px 30px;
  }
}
