<div
  class="event-footer component-box nx-flex row al-c jc-c"
  [class.visible]="selected().length > 0"
>
  <div class="cb-content pad">
    <button
      type="button"
      matRipple
      class="app-button mobile"
      [disabled]="selected().length === 0"
      (click)="openRegistrationDialog()"
    >
      Tap to Request
    </button>
    <div class="desktop">
      @if(selected().length) {
      <div>
        You have selected {{ selected().length }}
        {{ selected().length === 1 ? " opportunity." : " opportunities." }}
      </div>
      <div>
        <button
          type="button"
          matRipple
          class="app-button app-button-outlined"
          (click)="openRegistrationDialog()"
        >
          Request
        </button>
      </div>
      }
    </div>
  </div>
</div>
