<div
  class="event-footer component-box nx-flex row al-c jc-c"
  [class.visible]="selected().length > 0"
>
  <div class="cb-content pad">
    <div class="nx-flex row al-c jc-sb gap-10">
      @if(selected().length) {
      <div class="text">
        You have selected {{ selected().length }}
        {{ selected().length === 1 ? " opportunity." : " opportunities." }}
      </div>
      <div>
        <button
          type="button"
          matRipple
          class="app-button app-button-outlined"
          (click)="openRegistrationDialog()"
        >
          Request
        </button>
      </div>
      }
    </div>
  </div>
</div>
