@use "sass:map";
@use "sass:color";
@use "variables.scss" as var;

.status {
  display: flex;
}

.app-button {
  padding: 0 10px;
  text-align: center;
  width: 100%;
  font-size: 18px;
  height: 48px;
  border-radius: 4px;
  font-weight: 700;
  background-color: var(--bright-blue-sky);
  border-color: var(--bright-blue-sky);
  color: #fff;

  &.selected {
    font-weight: 700;
    background-color: var(--navy-blue-mountain);
    border-color: var(--navy-blue-mountain);

    &:hover:not(:disabled),
    &:focus,
    &:active {
      background-color: var(--navy-blue-mountain);
      border-color: var(--navy-blue-mountain);
    }
  }
}

.button-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

@media (min-width: 600px) {
  .app-button {
    padding: 0 10px;
    min-width: 120px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--next-surface-alt);
    border-color: var(--next-border);
    color: var(--next-text);
    &:hover:not(:disabled),
    &:focus,
    &:active {
      background-color: var(--next-surface);
    }

    &.selected {
      background-color: var(--bright-blue-sky);
      color: #fff;
      font-weight: 700;

      &:hover:not(:disabled),
      &:focus,
      &:active {
        background: color.scale(
          map.get(var.$colors, bright-blue-sky),
          $lightness: -10%
        );
      }
    }
  }
}
