:host {
  display: inline-block;
  min-width: 192px;
}

.app-button {
  padding: 0 10px;
  text-align: center;
  min-width: 120px;
  width: 100%;
  font-size: 17px;
  line-height: 1.17648;
  letter-spacing: -0.022em;
  height: 44px;
  border-radius: 24px;
  font-weight: 600;
}

.label {
  border: 1px solid var(--next-border);
  background-color: var(--next-surface-alt);
  border-radius: 10px;
  padding: 10px 10px;
}

@media (min-width: 600px) {
  .app-button {
    font-weight: 600;
  }
}
