@if(isAuthenticated()) {
<!-- registered -->
@if(context()?.registrationStatus) {
<button
  type="button"
  matRipple
  class="app-button app-button-filled flex-button registered"
  disabled
>
  @switch(context()?.registrationStatus) { @case('requested') {
  <span class="material-symbols-outlined">pending_actions</span> }
  @case('registered') { <span class="material-symbols-outlined">verified</span>}
  }
  {{ context()?.registrationStatus | titlecase }}
</button>
} @else { @if(context()?.conflicted) {
<button
  type="button"
  class="app-button inactive"
  disabled="disabled"
  matTooltip="This event conflicts with one you've already registered for."
>
  Conflict
</button>
} @else {
<button
  type="button"
  matRipple
  class="app-button app-button-filled nx-flex al-c jc-c gap-5"
  (click)="selectOpportunity()"
>
  Select
</button>
} }
<!-- End Authenticated -->
} @else {
<!-- Not Authenticated -->
<div
  matTooltip="Please sign in to register for an event."
  matTooltipPosition="left"
  matTooltipShowDelay="250"
  matTooltipClass="app-tooltip"
>
  <button
    type="button"
    class="app-button flex-button inactive"
    disabled="disabled"
  >
    Select
  </button>
</div>

}
