.status {
  display: flex;
}

.app-button {
  padding: 0 10px;
  text-align: center;
  width: 100%;
  font-size: 18px;
  height: 48px;
  border-radius: 4px;
  font-weight: 700;
}

.button-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

@media (min-width: 600px) {
  .app-button {
    min-width: 120px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
  }
}
