:host {
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.profile-button {
  touch-action: manipulation;
  cursor: pointer;
  border: 0;
  border-radius: 100%;
  outline: none;
  background-color: inherit;
  text-align: left;
  line-height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  transition: 0.25s ease-in-out;
  height: 64px;
  width: 64px;
  min-width: 64px;
}

header {
  max-width: 320px;
  overflow: hidden;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  padding: 10px 20px;
  color: var(--next-heading);

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  padding: 10px;
  width: 100%;
  color: var(--next-text);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.theme-selector {
  .material-symbols-outlined {
    opacity: 0;

    &.open {
      opacity: 1;
    }
  }
}

@media (min-width: 600px) {
  .user-name {
    display: flex;
    overflow: hidden;
    span {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }
}

@media only screen and (min-width: 992px) {
  .profile-button:hover {
    opacity: 0.9;
  }
}
