<div class="page">
  <header>
    <div class="dotted-svg-container">
      <app-dotted-bg class="dotted-svg"></app-dotted-bg>
    </div>
    <div class="background-overlay">
      <div class="header-content">
        <div class="splash">
          <h2>Dream Event</h2>
          <p>
            This page leverages advanced AI technology to help you design your
            ideal Japanese vacation. By understanding your preferences and
            interests, our AI suggests personalized destinations, activities,
            and experiences, making it easy to create a truly unforgettable trip
            tailored just for you.
          </p>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="content">MAIN</div>
  </main>
</div>
