<header>
  <img [ngSrc]="backgroundImageSrc" alt="A dream" fill priority />
  <div class="background-overlay">
    <div class="header-content">
      <div class="splash content-container">
        <div class="flex-row">
          <h2>Dream Events</h2>
        </div>
        <div>
          This page leverages advanced AI technology to help you design your
          ideal Japanese vacation event. By understanding your preferences and
          interests, our AI suggests personalized destinations, activities, and
          experiences, making it easy to create a truly unforgettable trip
          tailored just for you.
        </div>
        <div class="full-text">
          Whether you're seeking cultural adventures, culinary delights, or
          hidden gems off the beaten path, our platform provides expert
          recommendations and flexible planning tools to ensure your journey is
          seamless and inspiring.
        </div>
      </div>
    </div>
  </div>
</header>
<article class="content-container">
  <main>
    <section>
      <app-content-generator />
    </section>
  </main>
</article>
<footer>
  <app-footer />
</footer>
