@use "variables.scss" as var;

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

footer {
  width: 100%;
}

@media (max-width: var.$max-page-width) {
  .content-container {
    padding: 0 20px;
  }
}
