@if(showDialog()) {
<app-modal (close)="close()">
  <header class="dialog">
    <span>About this App</span>
    <button
      type="button"
      class="dialog-close"
      mat-icon-button
      (click)="close()"
    >
      <span class="material-symbols-outlined"> close </span>
    </button>
  </header>
  <main class="dialog">
    NextJapan: My Angular v20 Portfolio
    <p>
      This is a self-built portfolio project showcasing modern full-stack
      engineering with:
    </p>
    <ul class="nx-flex col">
      <li><span>🧩</span> Angular v20 frontend</li>
      <li><span>👾</span> Node.js + Express + MongoDB backend</li>
      <li><span>🚀</span> SSR for optimized performance and SEO</li>
      <li><span>🤖</span> OpenAI + xAI API integration</li>
      <li>
        <span>🖥️📱</span> Responsive design with selectable light and dark modes
      </li>
    </ul>
    <p>Click <a routerLink="/about-this-project">here</a> to learn more.</p>
  </main>
  <footer class="dialog">
    <button
      type="button"
      matRipple
      class="app-button dialog-button app-button-filled priority"
      (click)="close()"
    >
      OK
    </button>
  </footer>
</app-modal>
}
