ul {
  padding: 20px;
  margin: 0;
  list-style: none;
  gap: 10px;
  border-radius: 10px;
  background: rgba($color: #000000, $alpha: 0.85);
  font-size: 14px;
  color: var(--vivid-yellow-text);

  li {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
      font-size: 24px;
      line-height: 1;
    }
  }
}

a {
  color: var(--next-link);
}

@media (min-width: 600px) {
  main {
    width: 500px;
  }
}
