.share-button {
  padding: 0;
  border: 0;
  background: transparent;
  color: #fff;
  height: 24px;
  line-height: 24px;
  min-width: 50px;
  border-radius: 10px;
  outline: none;
  color: var(--next-text);

  &:hover {
    cursor: pointer;
  }

  .soft {
    font-weight: 500;
    line-height: 24px;
  }
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 14px;
  line-height: 24px;
}

.icon-image {
  width: 20px;
  height: 20px;
  border-radius: 0.25rem;
}
