<form class="search-container" (ngSubmit)="search()">
  <mat-form-field
    appearance="outline"
    subscriptSizing="dynamic"
    class="compact-form-field"
  >
    <input
      type="text"
      aria-label="Event Search"
      placeholder="Search Events"
      matInput
      #searchInput
      #autocompleteInput="matAutocompleteTrigger"
      [formControl]="searchQuery"
      [matAutocomplete]="auto"
      autofocus
    />
    <button matPrefix mat-icon-button>
      <span class="material-icons">search</span>
    </button>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onOptionSelected($event)"
    >
      @for (event of filteredEvents; track event.eventId) {
      <mat-option [value]="event.eventTitle">{{ event.eventTitle }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>
