<button
  aria-label="Account"
  type="button"
  class="profile-button"
  [matMenuTriggerFor]="userMenu"
  mat-ripple
  matTooltip="Account"
>
  <app-user-avatar [user]="userProfile()!" [size]="48" />
</button>
<mat-menu
  #userMenu="matMenu"
  [hasBackdrop]="true"
  backdropClass="notification-backdrop"
>
  <header>
    <span> {{ userProfile()?.firstName }} {{ userProfile()?.lastName }} </span>
  </header>
  <button
    type="button"
    class="app-button"
    mat-menu-item
    (click)="openMyEvents()"
  >
    <div class="menu-item">
      <span class="material-icons">event_available</span>
      My Events
    </div>
  </button>
  <button mat-menu-item (click)="openUserProfile()">
    <div class="menu-item">
      <span class="material-icons">description</span>
      My Profile
    </div>
  </button>
  <button mat-menu-item (click)="logout()">
    <div class="menu-item">
      <span class="material-icons">logout</span>
      Sign Out
    </div>
  </button>
</mat-menu>
