@use "sass:map";
@use "sass:color";
@use "variables.scss" as var;

.card-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

button {
  padding: 0;
  margin: 0;
  border: 0;
  color: #000;
  transition: 0.25s ease-in-out;
  background-color: white;

  &:hover {
    cursor: pointer;
    background-color: map.get(var.$colors, section-gray);
    border-color: map.get(var.$colors, light-gray-accent);

    .image-container {
      img {
        filter: brightness(85%);

        &.no-image {
          filter: brightness(95%);
        }
      }
    }
  }
}

.image-container {
  width: 224px;
  height: 128px;
  border-radius: 3px;
  background-color: var(--creamy-white-clouds);
  background: url("/assets/images/no-image.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;

  &.grok {
    background: transparent;
    img {
      border-radius: 3px;
      object-fit: contain;
      height: 100%;
      width: 100%;
      transition: 0.25s;
    }
  }

  img {
    border-radius: 3px;
    object-fit: fill;
    height: 100%;
    width: 100%;
    transition: 0.25s;
  }
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  gap: 14px;
  width: 100%;
  padding: 10px 0;
  overflow: hidden;
  text-align: left;
}

.title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.description {
  font-size: 14px;
  line-height: 19px;
}

strong {
  color: var(--next-heading);
}

@media (min-width: 600px) {
  .card-container {
    flex-direction: row;
    align-items: center;
    gap: 24px;
    //padding: 20px 0;
  }
}
