.card-container {
  overflow: hidden;
}

button {
  padding: 0;
  margin: 0;
  border: 0;
  color: #000;
  transition: 0.25s ease-in-out;
  background-color: var(--next-surface);
  cursor: pointer;
  height: 200px;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  gap: 14px;
  width: 100%;
  overflow: hidden;
  text-align: left;
}

.title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.subtitle {
  color: var(--next-heading);
}

.description {
  font-size: 14px;
  line-height: 19px;
}

.notes {
  color: var(--next-muted);
}

@media (min-width: 600px) {
  .card-container {
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }

  .image-container {
    width: 224px;
    height: 128px;
  }
}

@media only screen and (min-width: 992px) {
  button:hover {
    .image-container {
      img {
        filter: brightness(85%);

        &.no-image {
          filter: brightness(95%);
        }
      }
    }
  }
}
