@use "src/styles/variables.scss" as var;

:host {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  opacity: 0;
  transition: opacity 0.25s;
  min-height: 542px;

  &.open {
    opacity: 1;
  }
}

.controls {
  align-self: center;

  button {
    width: 40px;
    height: 40px;

    &:disabled {
      opacity: 0;
    }
  }
}

.carousel-slide {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 10px;
}

.event-card {
  width: 235px;
  height: 462px;
}

@media (min-width: 400px) {
  .event-card {
    width: 275px;
  }
}

@media (min-width: 600px) {
  .event-card {
    width: 320px;
  }
}
