@use "variables.scss" as var;

:host {
  display: block;
  width: 100%;
}

.background-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  backdrop-filter: brightness(80%) blur(20px);
  filter: blur(0.01px) grayscale(0.001);
}

.header-content {
  width: 100%;
  max-width: var.$max-page-width;
}
