:host {
  padding: 2px;
}
.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 4px;
  overflow: hidden;

  &.verified {
    background-color: var(--next-verified);
  }
  &.calendar_check {
    font-variation-settings: "FILL" 1;
    background-color: var(--bright-green-grass);
  }
  &.calendar_add_on {
    background-color: var(--bright-blue-sky);
  }
  &.event_busy {
    //font-variation-settings: "FILL" 2, "wght" 700, "GRAD" 0, "opsz" 48;
    font-weight: 600;
    background-color: var(--red-torii-gate);
  }
}

.material-symbols-outlined {
  color: var(--creamy-white-clouds);
}
