@use "sass:map";
@use "variables.scss" as var;

:host {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
}

nav {
  width: 100%;
  height: 0;
  opacity: 0;
  transition: 0.25s ease-in-out;
  display: flex;
  align-items: center;
  overflow: hidden;

  &.open {
    height: var.$user-header-height;
    opacity: 1;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      height: 100%;

      .app-button {
        height: 100%;
        width: 100%;
        background-color: #fff;
        padding: 0 2px;
        white-space: nowrap;
        transition: 0.25s;
        font-weight: 500;

        &.logo,
        &.logo:active,
        &.logo:focus {
          padding: 0;
          background-color: transparent;
        }
      }

      &:last-child {
        padding-right: 10px;
      }
    }

    li.spacer {
      flex: 1;
      //display: none;
    }
  }
}

.text {
  display: none;
}

@media (min-width: 400px) {
  .text {
    display: inline-block;
  }

  .text-condensed {
    display: none;
  }

  ul {
    gap: 10px;
  }
}

@media (min-width: 600px) {
  nav {
    max-width: var.$max-page-width;

    ul {
      gap: 16px;
      li {
        .app-button {
          padding: 0 20px;

          &:hover {
            background-color: map.get(var.$colors, section-medium-gray);
          }
        }
      }

      li.spacer {
        display: list-item;
        flex: 1;
      }
    }
  }
}
