<nav [class.open]="userProfile()">
  @if(userProfile()) {
  <ul>
    <li>
      <a class="app-button logo" routerLink="/home">
        <app-logo [imageOnly]="true" [size]="92" />
      </a>
    </li>
    <li>
      <button
        type="button"
        class="app-button"
        matRipple
        (click)="openMyEvents()"
      >
        <span class="text-condensed">Events</span>
        <span class="text">My Events</span>
      </button>
    </li>
    <li>
      <button
        type="button"
        class="app-button"
        matRipple
        (click)="openMyDreams()"
      >
        <span class="text-condensed">Dreams</span>
        <span class="text">Dream Events</span>
      </button>
    </li>
    <li class="spacer"></li>
    <li class="notifications">
      @defer () {
      <app-my-notifications />
      }
    </li>
    <li class="image">
      <app-user-menu (signout)="logout()" />
    </li>
  </ul>

  }
</nav>
@defer () { @if(showUserProfile()) {
<app-user-profile (close)="closeUserProfile()"></app-user-profile>
} @else if(showMyEvents()) {
<app-my-events (close)="closeMyEvents()"></app-my-events>
} @else if(showMyDreamEvents()) {
<app-my-dream-events (close)="closeMyDreams()"></app-my-dream-events>
} }
