:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
}

.content {
  flex: 1;
}

form {
  width: 100%;
}

.avatar-button {
  border: 0;
  border-radius: 100%;
  cursor: pointer;
  padding: 0;
}

.app-button-filled {
  background-color: var(--red-torii-gate);
  border-color: var(--red-torii-gate);
  color: white;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  width: 100%;

  &:hover {
    background-color: #ab2c2c;
  }
}

.flex-button {
  justify-content: flex-start;
}

.text-button {
  cursor: pointer;
  color: var(--next-link);
  border: 0;
  background-color: transparent;
  transition: 0.25s ease-in-out;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

a {
  font-size: 14px;
  color: var(--next-link);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
