:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
}

.content {
  flex: 1;
}

form {
  width: 100%;
}

.avatar-button {
  border: 0;
  border-radius: 100%;
  cursor: pointer;
  padding: 0;
}

.button-text {
  font-weight: 600;
  line-height: 52px;
}

a {
  font-size: 14px;
  color: var(--next-link);
  text-decoration: none;
}

@media only screen and (min-width: 992px) {
  a:hover {
    text-decoration: underline;
  }
}
