<a [routerLink]="routerLink()" class="event-link">
  {{ learnMoreLabel() }}
</a>
<div class="card">
  <img
    [alt]="event().eventTitle"
    class="hero"
    [class.grok]="isGrokEvent()"
    [ngSrc]="resizedImage()!.src"
    [width]="resizedImage()!.image.width"
    [height]="resizedImage()!.image.height"
    placeholder
    loading="lazy"
    fetchpriority="high"
  />
  <div class="card-body">
    <div class="nj-flex col align-center gap-16">
      <div class="title multi-line-box break-word">
        {{ event().eventTitle }}
      </div>
      <div class="description multi-line-box break-word">
        {{ event().description }}
      </div>
    </div>
    <div class="nj-flex row align-center justify-center gap-12">
      <div class="anchor">
        <a
          nextButton
          class="app-button-filled"
          [routerLink]="routerLink()"
          [aria-label]="learnMoreLabel()"
        >
          <span>
            Learn More<i class="link-text">{{ learnMoreLabel() }}</i>
          </span>
        </a>
      </div>
      <div class="anchor">
        <a
          nextButton
          class="app-button-outlined"
          [routerLink]="registerLink()"
          [queryParams]="registerQueryParams()"
          [aria-label]="registerLabel()"
        >
          <span>
            Register<i class="link-text">{{ registerLabel() }}</i>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
