@use "variables.scss" as var;

.app-container {
  height: var(--app-height);
  display: grid;
  grid-template-rows: [header-row] var.$color-bar-height [main-row] auto [footer-row] 240px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  transition: 0.25s ease-in-out;
  &.user {
    grid-template-rows:
      [header-row] calc(var.$color-bar-height + var.$user-header-height)
      [main-row] auto
      [footer-row] 240px;
  }
}

main {
  grid-area: main;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer {
  grid-area: footer;
}

.router-outlet {
  width: 100%;
}

@media (min-width: 600px) {
  .app-container {
    grid-template-rows: [header-row] var.$color-bar-height [main-row] auto [footer-row] 265px;
    &.user {
      grid-template-rows:
        [header-row] calc(var.$color-bar-height + var.$user-header-height)
        [main-row] auto
        [footer-row] 265px;
    }
  }

  main {
    padding: 0;
  }

  .router-outlet {
  }
}
