<div
  class="progress-spinner nj-flex row align-center justify-center"
  [class.open]="busy()"
>
  @if (busy()) {
    <app-loading-spinner message="Sending Requests..." [delay]="0" />
  }
</div>
<header class="dialog">
  <span id="dialog-title">Event Registration</span>
  <button
    type="button"
    class="dialog-close"
    mat-icon-button
    (click)="closeDialog()"
  >
    <span class="material-symbols-outlined"> close </span>
  </button>
</header>
<main class="dialog nj-flex col gap-16" #main>
  @if (completed()) {
    <div class="completed nj-flex row align-center gap-16">
      <div class="icon nj-flex align-center justify-center">
        <span class="material-symbols-outlined"> star_shine </span>
      </div>
      <p>
        We have received your registration request. You will be notified once
        your registration is complete!
      </p>
    </div>
  } @else {
    <app-registration-card [ticket]="registrationRequest()!" />
  }
  <div class="soft xs">
    Registration is first-come, first-served and spots are limited. You'll be
    notified when your spot is confirmed. You can cancel your registration up to
    48 hours before the event starts. Questions?
    <a class="link-text" href="mailto: joe.svatek@icloud.com"> Contact us </a>
    - we're happy to help!
  </div>
</main>
<footer class="dialog">
  @if (completed()) {
    <app-anchor
      cssClass="app-button dialog-button app-button-filled priority"
      link="/user/dashboard"
      [queryParams]="{ action: 'manage' }"
    >
      Manage Your Events
    </app-anchor>
    <app-button
      label="Close dialog"
      cssClass="app-button dialog-button app-button-outlined"
      (buttonClick)="closeDialog()"
    >
      Done
    </app-button>
  } @else {
    <app-button
      label="Register for Event"
      cssClass="app-button dialog-button app-button-filled priority"
      (buttonClick)="sendRequest()"
    >
      Send Registration Request
    </app-button>
    <app-button
      label="Close dialog"
      cssClass="app-button dialog-button app-button-outlined"
      (buttonClick)="closeDialog()"
    >
      Maybe Later
    </app-button>
  }
</footer>
