<article class="nx-flex col gap-10" [class.hide]="currentCount === 0">
  <!-- <header>
    <div class="title-text">{{ location().locationName }}</div>
  </header> -->
  <main>
    <section class="nx-flex col">
      <header>
        <app-address-strip
          [location]="location()"
          [showAddress]="false"
          [showDirections]="false"
        ></app-address-strip>
      </header>
      <main>
        <ul class="nx-flex col gap-10">
          @for(opportunity of location().opportunities; track
          opportunity.opportunityId) {
          <li
            class="nx-flex row al-c"
            [class.removed]="removedIds.includes(opportunity.opportunityId)"
          >
            <app-registration-card
              [opportunity]="opportunity"
              [allowRemoval]="allowRemoval()"
              (remove)="removeSelection(opportunity.opportunityId)"
            />
          </li>
          }
        </ul>
      </main>
    </section>
  </main>
</article>
