article {
  opacity: 1;
  min-height: 100px;
  width: 100%;
  transition: 0.25s ease-in-out;
  margin-bottom: 5px;

  &.hide {
    opacity: 0;
    height: 0;
    min-height: 0;
    margin-bottom: 0;
    overflow: hidden;
  }
}

.title-text {
  color: var(--next-heading);
}

ul {
  margin: 5px 0;
  padding: 0;
  list-style: none;
}

li {
  min-height: 40px;
  transition: 0.25s ease-in-out;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--next-border);

  &.removed {
    opacity: 0;
    height: 0;
    min-height: 0;
    padding: 0;
    line-height: 0;
    overflow: hidden;
  }
}
