@use "sass:map";
@use "sass:color";
@use "variables.scss" as var;

.event-client-org {
  padding: 2px 0;
}

.label-small {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: map.get(var.$colors, inactive);
}

.divider {
  padding: 0 5px;
  color: map.get(var.$colors, inactive);
  &:before {
    content: "\007c";
  }
}

a {
  &.inactive {
    color: map.get(var.$colors, dark-gray);
  }
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
