@use "sass:map";
@use "sass:color";
@use "variables.scss" as var;

.event-client-org {
  padding: 2px 0;
}

.label-small {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: map.get(var.$colors, inactive);
}

.divider {
  padding: 0 5px;
  color: map.get(var.$colors, inactive);
  &:before {
    content: "\007c";
  }
}

a {
  color: map.get(var.$colors, inactive);
  text-decoration: none;

  &.event {
    color: color.scale(map.get(var.$colors, bright-blue-sky), $lightness: -20%);
  }

  &:hover {
    text-decoration: underline;
  }
}
