:host {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  width: 100%;

  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  border-bottom: 1px solid var(--border-color);
}

.icon {
  width: 84px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  background: url("/assets/images/no-image.png");
  background-size: cover;
  background-position: center;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  width: 100%;

  .title {
    display: flex;
    flex-direction: column;
    gap: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }

  .time {
    font-size: 12px;
    line-height: 1;
    color: var(--next-muted);
  }
}

section {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  min-width: 220px;
}
