<div class="icon">
  <img
    [ngSrc]="resizedImage().src"
    [width]="resizedImage().image.width"
    [height]="resizedImage().image.height"
    alt="Event Image"
  />
</div>
<section class="nx-flex col gap-5">
  <header class="nx-flex row al-c jc-sb gap-24">
    <span class="nx-flex col title">
      {{ notification().title }}
      <span class="time">
        {{ notification().eventDate | date : "fullDate" }}
        ({{ notification().eventTimeZone }})
      </span>
    </span>
    <span class="time">{{
      notification().notificationDate | date : "shortTime"
    }}</span>
  </header>
  <main>
    {{ notification().message }}
  </main>
</section>
