<div class="icon">
  <img
    [ngSrc]="resizedImage().src"
    [width]="resizedImage().image.width"
    [height]="resizedImage().image.height"
    alt="Event Image"
  />
</div>
<section class="nx-flex col gap-5">
  <header class="nx-flex row al-c jc-sb gap-24">
    <span class="nx-flex col title">
      {{ notification().eventTitle }}
      <span class="time">
        {{ fullDate() }}
        ({{ notification().eventTimeZoneAbbreviation }})
      </span>
    </span>
    <span class="time">{{ notificationDate() }}</span>
  </header>
  <main>
    {{ notification().message }}
  </main>
</section>
