:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

main {
  width: 100%;
}

.profile {
  opacity: 1;
  transition: opacity 0.25s;

  &.disabled {
    opacity: 0.75;
  }
}

form {
  width: 100%;
}

.contact,
.phone {
  flex: 1;
}

.phone-required {
  font-size: 12px;
  line-height: 14px;
  color: var(--red-torii-gate);
}

.disclaimer {
  font-size: 12px;
  line-height: 14px;
  transition: 0.25s ease-in-out;

  height: 10px;
  opacity: 0;

  &.open {
    height: auto;
    height: 94px;
    opacity: 1;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: var(--next-link);
  }
}

@media (min-width: 600px) {
  form {
    flex: 1;
    width: 70%;
  }
  .profile {
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
  }
}

@media only screen and (min-width: 992px) {
  a:hover {
    text-decoration: underline;
  }
}
