<header class="dialog">
  <span id="dialog-title">My Profile</span>
  <button
    aria-label="Close dialog"
    type="button"
    class="dialog-close"
    mat-icon-button
    (click)="closeDialog()"
  >
    <span class="material-symbols-outlined"> close </span>
  </button>
</header>
<main class="dialog">
  <div class="profile nj-flex col align-center gap-10" [class.disabled]="busy">
    <app-user-avatar [user]="user()!" [size]="96" />
    <form class="nj-flex col fade-in" [class.open]="userProfile">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input
          type="text"
          matInput
          [formField]="profileForm.firstName"
          autocomplete="off"
        />
        <mat-error>Please enter your first name.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input
          type="text"
          matInput
          [formField]="profileForm.lastName"
          autocomplete="off"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput [formField]="profileForm.email" />
      </mat-form-field>

      <div class="nj-flex row gap-5">
        <mat-form-field class="phone">
          <mat-label>Phone</mat-label>
          <input
            type="text"
            matInput
            [formField]="profileForm.phone"
            autocomplete="off"
          />
          @if (showPhoneHint()) {
            <mat-hint>
              <span class="phone-required"> * Phone # is required. </span>
            </mat-hint>
          } @else {
            <mat-error>
              <span class="small"> Enter phone in format: +12223335555 </span>
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field class="contact">
          <mat-label>Contact Method</mat-label>
          <mat-select [formField]="profileForm.preferredContactMethod">
            @for (contactMethod of contactMethods; track contactMethod.value) {
              <mat-option [value]="contactMethod.value">
                {{ contactMethod.viewValue }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </div>
</main>
<footer class="dialog">
  <button
    type="button"
    class="app-button dialog-button app-button-outlined"
    matRipple
    (click)="closeDialog()"
  >
    {{ profileForm().dirty() ? "Cancel" : "Close" }}
  </button>
  <button
    type="button"
    class="app-button dialog-button app-button-filled"
    matRipple
    (click)="saveProfile()"
    [disabled]="!profileForm().dirty() || !profileForm().valid()"
  >
    Save
  </button>
</footer>
