.dialog {
  min-width: 320px;
  max-width: 320px;

  button {
    width: 100%;
    border-radius: 10px;
  }
}

main.dialog {
  min-height: 100px;
  padding-bottom: 10px;

  .pre-wrap {
    line-height: 24px;
  }
}
