:host {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: stretch;
  justify-content: center;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  :host {
    grid-template-columns: repeat(3, 1fr);
  }
}

.message {
  padding: 16px;
}
