@if(eventRegistration()) {
<div class="host">
  <div>
    You registered for this event on
    {{ eventRegistration()!.createdAt | date }}
  </div>
  <ul class="nx-flex row al-c">
    <li>
      <button (click)="viewRegistration.emit()">VIEW REGISTRATION</button>
    </li>
    <li>
      <a routerLink="/user/profile" [queryParams]="{ action: 'manage' }">
        MANAGE YOUR EVENTS
      </a>
    </li>
  </ul>
</div>
} @else {
<app-button
  cssClass="app-button app-button-filled square priority"
  (buttonClick)="startRegistration.emit()"
>
  <div class="button-text">Get Tickets</div>
</app-button>
}
