:host {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  text-align: left;
}

.host {
  border: 1px solid #a7acb1;
  background: rgba($color: #000, $alpha: 0.45);
  color: var(--creamy-white-clouds);
  padding: 8px 16px;
  border-radius: 6px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    button,
    a {
      color: var(--vivid-yellow-text);
      cursor: pointer;
      border: 0;
      border-radius: 24px;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 14px;
      line-height: 24px;
      background-color: transparent;
      padding: 0;
      text-decoration: none;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  li:not(:last-child)::after {
    content: "|";
    margin: 0 8px; /* Adjust spacing as needed */
    color: var(--creamy-white-clouds); /* Adjust color as needed */
  }
}

.dialog {
  color: var(--next-text);
}

.title {
  font-size: 16px;
  font-weight: 600;
}

.confirm-text {
  line-height: 24px;
  transition: 0.25s ease-in-out;
  height: 0;

  &.open {
    height: 24px;
  }
}

footer.dialog {
  align-items: flex-start;
  padding-top: 0;
  button {
    border-radius: 24px;
    width: 100%;
    font-weight: 700;

    &.app-button-outlined {
      color: var(--red-torii-gate);
      color: var(--next-text);
      font-weight: 600;
      background-color: var(--next-surface-alt);

      &:hover {
        opacity: 0.75;
      }
    }

    &.app-button.cancel {
      font-weight: 600;
      color: var(--next-note);

      &:hover {
        background-color: var(--next-surface-alt);
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .dialog {
    width: 320px;
  }
}
