:host {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  text-align: left;
}

.host {
  border: 1px solid #a7acb1;
  background: rgba($color: #000, $alpha: 0.45);
  color: var(--creamy-white-clouds);
  padding: 8px 16px;
  border-radius: 6px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    button,
    a {
      color: var(--vivid-yellow-text);
      cursor: pointer;
      border: 0;
      border-radius: 24px;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 14px;
      line-height: 24px;
      background-color: transparent;
      padding: 0;
      text-decoration: none;
      font-weight: 600;
    }
  }

  li:not(:last-child)::after {
    content: "|";
    margin: 0 8px; /* Adjust spacing as needed */
    color: var(--creamy-white-clouds); /* Adjust color as needed */
  }
}

.button-text {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 400;
}

@media only screen and (min-width: 992px) {
  ul {
    li {
      button:hover,
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
