@if(eventRegistration()) {
<div class="host">
  <div>
    You registered for this event on
    {{ eventRegistration()!.createdAt | date }}
  </div>
  <ul class="nx-flex row al-c">
    <li>
      <button (click)="showDialog.set(true)">VIEW REGISTRATION</button>
    </li>
    <li>
      <a routerLink="/user/profile" [queryParams]="{ action: 'manage' }">
        MANAGE YOUR EVENTS
      </a>
    </li>
  </ul>
</div>
} @if(showDialog()) {
<app-modal (close)="closeDialog()">
  @if(eventRegistration()) {
  <header class="dialog">
    <span> Your Event Registration </span>
    <button
      type="button"
      class="dialog-close"
      mat-icon-button
      (click)="closeDialog()"
    >
      <span class="material-symbols-outlined"> close </span>
    </button>
  </header>
  <main class="dialog nx-flex col gap-5">
    <span class="title">
      {{ eventRegistration()!.eventTitle }}
    </span>
    <app-address-strip
      [location]="eventRegistration()!.location"
      [showDirections]="true"
      [showAddress]="false"
    />
    <app-opportunity-timestamp
      [opportunity]="eventRegistration()!.opportunity"
    />
  </main>
  <footer class="dialog nx-flex col gap-10">
    <div class="confirm-text fade-in" [class.open]="confirmCancel()">
      Are you <span>sure</span> you want to cancel?
    </div>
    @if(confirmCancel()) {
    <app-button
      cssClass="app-button app-button-filled priority"
      (buttonClick)="cancelEvent()"
    >
      Yes, I'm sure
    </app-button>
    <app-button
      cssClass="app-button app-button-outlined"
      (buttonClick)="confirmCancel.set(false)"
    >
      No, I changed my mind.
    </app-button>
    } @else {
    <app-button
      cssClass="app-button app-button-filled priority"
      (buttonClick)="closeDialog()"
    >
      OK
    </app-button>
    <app-button cssClass="app-button" (buttonClick)="confirmCancel.set(true)">
      <span class="cancel-text"> Cancel Registration </span>
    </app-button>
    }
  </footer>
  } @else {
  <header class="dialog">
    <span> Event Registration </span>
    <button
      type="button"
      class="dialog-close"
      mat-icon-button
      (click)="closeDialog()"
    >
      <span class="material-symbols-outlined"> close </span>
    </button>
  </header>
  <main class="dialog">Your event registration has been cancelled.</main>
  <footer class="dialog">
    <app-button
      cssClass="app-button app-button-filled priority"
      (buttonClick)="closeDialog()"
    >
      OK
    </app-button>
  </footer>
  }
</app-modal>
}
