@use "sass:map";
@use "variables.scss" as var;

:host {
  display: block;
  width: 315px;
  height: 440px;
  padding-top: 0;
  margin-right: 10px;
}

.button {
  font-family: var.$app-font;
  height: 100%;
  width: 315px;
  padding: 0;
  margin: 0;
  border-radius: 3px;
  background-color: map.get(var.$colors, section-gray);
  color: #000;
  transition: 0.25s;
  text-decoration: none;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    background-color: map.get(var.$colors, section-medium-gray);
    border-color: map.get(var.$colors, light-gray-accent);

    .image-container {
      img {
        filter: brightness(85%);

        &.no-image {
          filter: brightness(95%);
        }
      }
    }
  }
}

.image-container {
  width: 100%;
  height: 180px;
  background: url("/assets/images/no-image.png");
  background-size: cover;
  background-position: center;

  &.grok {
    width: 270px;
  }

  img {
    object-fit: fill;
    height: 100%;
    width: 100%;
    vertical-align: top;
    transition: 0.25s;
  }
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  gap: 14px;
  width: 100%;
  padding: 20px;
  padding-bottom: 32px;
  border: 1px solid map.get(var.$colors, default-gray);
  border-top: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}

.multi-line-box {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  text-align: center;

  &.description {
    white-space: pre-wrap;
  }
}

.title {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;

  &.multi-line-box {
    max-height: 63px;
    line-clamp: 3;
    -webkit-line-clamp: 3;
  }
}

.description {
  font-size: 14px;
  line-height: 19px;

  &.multi-line-box {
    max-height: 76px;
    line-clamp: 4;
    -webkit-line-clamp: 4;
  }
}

.upcoming {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  .material-icons {
    color: var(--red-torii-gate);
  }

  .banner {
    font-weight: 700;
  }

  .coming-soon {
    .banner {
      opacity: 0.5;
    }
  }
}

@media (min-width: 400px) {
  .image-container {
    //height: 165px;
  }
}

@media (min-width: 600px) {
  .image-container {
    //height: 180px;
  }
}
