<a [routerLink]="routerLink()" class="event-link">
  {{ learnMoreLabel() }}
</a>
<div class="card">
  <img
    [alt]="event().eventTitle"
    class="hero"
    [class.grok]="isGrokEvent()"
    [ngSrc]="resizedImage()!.src"
    [width]="resizedImage()!.image.width"
    [height]="resizedImage()!.image.height"
    placeholder
    loading="lazy"
    fetchpriority="high"
  />
  <div class="card-body">
    <div class="nx-flex col al-c gap-16">
      <div class="title multi-line-box break-word">
        {{ event().eventTitle }}
      </div>
      <div class="description multi-line-box break-word">
        {{ event().description }}
      </div>
    </div>
    <div class="nx-flex row al-c jc-c gap-12">
      <app-anchor
        class="anchor"
        cssClass="app-button app-button-filled"
        [link]="routerLink()"
        [label]="learnMoreLabel()"
      >
        Learn More
        <span class="link-text">{{ learnMoreLabel() }}</span>
      </app-anchor>
      <app-anchor
        class="anchor"
        cssClass="app-button app-button-outlined"
        [link]="registerLink()"
        [queryParams]="registerQueryParams()"
        [label]="registerLabel()"
      >
        Register
        <span class="link-text">{{ registerLabel() }}</span>
      </app-anchor>
    </div>
  </div>
</div>
