:host {
  display: block;
  height: 100%;
  width: 96%;
  padding: 0;
  margin: 0;
  border: 2px solid var(--next-border);
  border-radius: 20px;

  background-color: var(--next-surface);
  color: var(--next-text);
  text-decoration: none;
  text-align: center;

  position: relative;
  overflow: hidden;

  &:hover {
    img.hero {
      filter: none;
    }
  }
}

.event-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.anchor {
  pointer-events: all;
  z-index: 4;
}

.card {
  position: relative;
  pointer-events: none;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  overflow: hidden;
  height: 100%;
}

img.hero {
  height: 180px;
  filter: grayscale(15%) saturate(120%) contrast(105%) brightness(95%);
  transition: filter 0.3s ease;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  padding: 20px;
  overflow: hidden;
}

.multi-line-box {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  text-align: center;
}

.multi-line-box.description {
  white-space: pre-wrap;
}

.title {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  max-height: 63px;
  line-clamp: 3;
  -webkit-line-clamp: 3;
}

.description {
  font-size: 14px;
  line-height: 19px;
}

.description.multi-line-box {
  min-height: 76px;
  max-height: 76px;
  line-clamp: 4;
  -webkit-line-clamp: 4;
}

.upcoming {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.upcoming .material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 48;
  color: var(--red-torii-gate);
}

.upcoming .banner {
  color: var(--next-accent);

  font-weight: 700;
}
