<a [routerLink]="routerLink()" class="event-link"></a>

<div class="card">
  <img
    [alt]="event().eventTitle"
    class="hero"
    [class.grok]="isGrokEvent()"
    [ngSrc]="resizedImage()!.src"
    [width]="resizedImage()!.image.width"
    [height]="resizedImage()!.image.height"
    placeholder
    loading="lazy"
    fetchpriority="high"
  />
  <div class="card-body">
    <div class="nx-flex col al-c gap-16">
      <div class="title multi-line-box break-word">
        {{ event().eventTitle }}
      </div>
      <div class="description multi-line-box break-word">
        {{ event().description }}
      </div>
    </div>
    <!-- <div class="upcoming">
      @if (event().nextOpportunityDate) {
      <div class="banner">Next Opportunity</div>
      <app-opportunity-date
        [opportunity]="event().nextOpportunityDate!"
      ></app-opportunity-date>
      } @else {
      <div class="coming-soon">
        <span class="material-symbols-outlined">campaign</span>
        <div class="banner disabled">Coming Soon</div>
      </div>
      }
    </div> -->
    <div class="nx-flex row al-c jc-c gap-12">
      <app-anchor
        class="anchor"
        cssClass="app-button app-button-filled"
        [link]="routerLink()"
      >
        Learn More
      </app-anchor>
      <app-anchor
        class="anchor"
        cssClass="app-button app-button-outlined"
        [link]="registerLink()"
        [queryParams]="registerQueryParams()"
      >
        Register
      </app-anchor>
    </div>
  </div>
</div>
