<div class="content nj-flex col justify-space-between gap-24">
  <div class="payment-card nj-flex col gap-20">
    <!-- <div class="fake-card">
        <div class="card-number">4242 4242 4242 4242</div>
        <div class="card-meta">Exp 12/29 • VISA</div>
      </div> -->
    <form class="nj-flex col gap-20" [formGroup]="paymentForm">
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>Name on Card</mat-label>
        <input
          type="text"
          matInput
          required
          name="nameOnCard"
          formControlName="nameOnCard"
          autocomplete="off"
          readonly="true"
        />
      </mat-form-field>
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>Credit Card Number</mat-label>
        <input
          type="text"
          matInput
          required
          name="creditCardNumber"
          formControlName="creditCardNumber"
          readonly="true"
        />
      </mat-form-field>
      <div class="nj-flex row gap-20">
        <mat-form-field class="half-width" subscriptSizing="dynamic">
          <mat-label>Exp Month</mat-label>
          <input matInput formControlName="expirationMonth" readonly="true" />
        </mat-form-field>
        <mat-form-field class="half-width" subscriptSizing="dynamic">
          <mat-label>Exp Year</mat-label>
          <input matInput formControlName="expirationYear" readonly="true" />
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="payment-summary">
    <div class="nj-flex row justify-space-between align-center">
      <span>Total</span>
      <span class="amount">¥{{ plan().price }}/month</span>
    </div>
    <p class="legalese">
      This is a recurring subscription that auto-renews monthly. You can cancel
      at any time through your account settings. By clicking “Submit Payment,”
      you agree to our
      <a routerLink="/legal/tos" target="_blank">Terms of Service</a> and
      <a routerLink="/legal/privacy" target="_blank">Privacy Policy</a>. No
      payment will be processed because this is a pretend web site.
    </p>
  </div>
  <div class="nj-flex col gap-10">
    @if(user().userId) {
    <app-button
      cssClass="app-button dialog-button app-button-filled dark"
      (buttonClick)="updateSubscription()"
      [disabled]="paymentForm.invalid || busy()"
    >
      Update Subscription
    </app-button>
    <app-button cssClass="app-button dialog-button app-button-outlined">
      Cancel Subscription
    </app-button>
    } @else {
    <app-button
      cssClass="app-button dialog-button app-button-filled dark"
      (buttonClick)="createSubscription()"
      [disabled]="paymentForm.invalid"
    >
      Submit Payment
    </app-button>
    }
  </div>
</div>
