@if (isAuthenticated()) {
  <!-- registered -->
  @if (context()?.registration?.status) {
    @switch (context()?.registration?.status) {
      @case ("requested") {
        <button
          nextButton
          class="app-button-filled grey flex-button"
          (click)="viewRegistration()"
        >
          <span class="material-symbols-outlined">pending_actions</span>
          {{ context()!.registration?.status | titlecase }}
        </button>
      }
      @case ("registered") {
        <button
          nextButton
          class="flex-button"
          variant="priority"
          (click)="viewRegistration()"
        >
          <span class="material-symbols-outlined">verified</span>
          Registered
        </button>
      }
    }
  } @else {
    @if (context()?.conflicted) {
      <button
        nextButton
        class="inactive"
        disabled="disabled"
        tooltip="This event conflicts with one you've already registered for."
      >
        Conflict
      </button>
    } @else {
      <button
        nextButton
        class="app-button-filled"
        (click)="requestRegistration()"
      >
        Let's Go!
      </button>
    }
  }
  <!-- End Authenticated -->
} @else {
  <button
    nextButton
    class="app-button-filled"
    [disabled]="true"
    tooltip="Please sign in to register for an event."
  >
    Let's Go!
  </button>
}
