<section class="component-box">
  <div class="cb-content pad nx-flex col">
    <app-logo mode="dark" />
    <nav>
      <ul class="nx-flex row al-c jc-c">
        <li>
          <a routerLink="/legal/privacy">Privacy Policy</a>
        </li>
        <li>
          <a routerLink="/legal/tos">Terms of Service</a>
        </li>
        <li>
          <a routerLink="/legal/cookies">Cookies</a>
        </li>
        <li>
          <a routerLink="/legal/acceptable-use">Acceptable Use</a>
        </li>
        <li>
          <a routerLink="/about-this-project">About Next Japan</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
