:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-height: 240px;
}

.component-box {
  background-color: var(--next-footer-bg);
  color: #fff;
  padding: 40px 0;
}

.component-box-content {
  align-items: center;
  gap: 24px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  gap: 20px;
  flex-flow: row wrap;

  li {
    display: list-item;
    text-align: center;
  }
}

a {
  text-decoration: none;
  color: #fff;
}

@media only screen and (min-width: 992px) {
  a:hover {
    color: var(--vivid-yellow-text);
  }
}

@media (min-width: 1200px) {
  .component-box-content {
    align-items: flex-start;
    gap: 36px;
  }

  ul {
    gap: 40px;
  }
}
