<section>
  <div class="brand-logo">
    <app-logo [size]="100" />
  </div>
  <div class="nav-bar">
    <nav>
      <ul>
        <li>
          <a routerLink="home">Privacy Policy</a>
        </li>
        <li>
          <a routerLink="home">Terms of Service</a>
        </li>
        <li>
          <a routerLink="home">Cookies</a>
        </li>
        <li>
          <a routerLink="home">Acceptable Use</a>
        </li>
        @if(isAuthenticated()) {
        <li>
          <a routerLink="/legal/delete-my-data">Delete my Data</a>
        </li>
        }
        <li>
          <a href="" (click)="openAboutDialog($event)">About</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
