<app-modal (close)="close.emit(true)">
  <div class="progress-spinner" [class.open]="busy()">
    @if(busy()) {
    <app-loading-spinner message="Sending Requests..." />
    }
  </div>
  <header class="dialog">
    <span>Request Opportunities</span>
    <button
      type="button"
      class="dialog-close"
      mat-icon-button
      (click)="close.emit(true)"
    >
      <span class="material-icons">close</span>
    </button>
  </header>
  <main class="dialog" #main>
    @if(completed()) {
    <div class="completed">
      <div class="icon">
        <span class="material-icons">pending_actions</span>
      </div>
      <div>
        <p>We have received your registration request.</p>
        <p>You will be notified once your registration is complete.</p>
      </div>
    </div>
    } @else { @for(location of selectedLocations; track location.locationId) {
    <app-registration-location
      [location]="location"
      [locationCount]="selectedLocations.length"
    />
    } }
  </main>
  <footer class="dialog">
    <button
      type="button"
      matRipple
      class="app-button dialog-button app-button-cancel"
      (click)="closeDialog()"
    >
      Close
    </button>
    <button
      (click)="sendRequest()"
      [disabled]="selected().length === 0"
      type="button"
      matRipple
      class="app-button dialog-button app-button-save"
    >
      Request
    </button>
  </footer>
</app-modal>
