:host {
  position: relative;
  background: url("/assets/images/default-event.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  min-height: calc(var(--app-height));
}

.overlay {
  position: relative;
  width: 100%;
  min-height: calc(var(--app-height));
  background: rgba($color: #000000, $alpha: 0.75);
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%); /* Shifts the element up by half its height */
  z-index: 1000;
  margin: 0 auto;
  color: var(--vivid-yellow-text);
  text-align: center;
}
