:host {
  background: url("/assets/images/sky_background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100lvh;
}

.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100lvh;
  background: rgba($color: #000000, $alpha: 0.32);
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%); /* Shifts the element up by half its height */
  z-index: 1000;
  margin: 0 auto;
  color: var(--vivid-yellow-text);
  text-align: center;
  min-height: 200px;
}

.loading {
  font-size: 24px;
  font-weight: 600;
  white-space: nowrap;
  padding-top: 50px;
}
