.dialog {
  position: absolute;
  width: 95vw;
  height: auto;
  padding: 20px;
  z-index: 202;
  background: var(--next-surface);
  border: 1px solid var(--next-border-modal);
  border-radius: 8px;
  overflow: auto;
  overscroll-behavior: contain;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  animation: mobile-slide-down-fade-in 0.3s ease-out forwards;
  max-height: calc(100lvh - 40px);
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 201;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);

  &.backdrop {
    background: rgba(0, 0, 0, 0.32);
  }

  &.open {
    opacity: 1;
  }
}

:host-context(.dark-theme) {
  .container.backdrop {
    background: rgba(0, 0, 0, 0.5);
  }
}

.dialog.dynamic {
  width: auto;
  max-width: 94vw;
  min-width: auto;
}

@media (min-width: 600px) {
  .dialog:not(.dynamic) {
    width: auto;
    max-height: calc(100lvh - 200px);
  }
}

@keyframes mobile-slide-down-fade-in {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }
  80% {
    opacity: 0.8;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down-fade-in {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }
  80% {
    opacity: 1;
    transform: translateY(96px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
