<div class="component-box">
  <div class="cb-content pad fade-in" [class.open]="loaded()">
    @if(user()) {
    <section class="nx-flex col gap-20">
      <ul class="header">
        <li>
          <div class="user nx-flex row gap-10">
            <app-user-avatar [user]="avatar()!" [size]="128" />
            <div class="nx-flex col jc-c gap-10">
              <div>
                <span class="title-text">
                  {{ user()?.firstName }} {{ user()?.lastName }}
                </span>
                <span class="nx-flex al-c gap-2 muted">
                  <span class="material-symbols-outlined">
                    calendar_month
                  </span>
                  <span class="soft">
                    Joined {{ user()?.createdAt | date }}
                  </span>
                </span>
              </div>
              <button
                type="button"
                class="app-button app-button-filled user-profile"
                (click)="openProfile()"
              >
                Edit Profile
              </button>
            </div>
          </div>
        </li>
        <!-- <li>
          <app-profile-badges
            [user]="user()!"
            [eventRegistrationCount]="nextEventRegistration() ? 1 : 0"
          />
        </li> -->
      </ul>
    </section>
    <mat-tab-group dynamicHeight [selectedIndex]="selectedIndex">
      <mat-tab label="Start">
        <div class="tab-content banner">
          <!-- <div>
            This is your launch page for all things Next Japan.
            <p>
              Open
              <b>My Events</b> to view all of your registered events. To see the
              full list of upcoming events, visit the <b>Landing Page</b>, or
              get creative using our <b>AI Designer</b>!
            </p>
          </div> -->
          <div
            class="nx-flex col gap-24"
            style="max-width: 800px; line-height: 22px"
          >
            <div>
              Welcome to your personal launch pad for all things
              <b>Next Japan</b> - A place where you can check what's coming up
              next or set off on new adventures. From here, you'll see your
              upcoming events, along with quick access to your profile and
              account settings, achievements, suggested events, and more!
            </div>
            <div>
              <div>
                <b> Where to Go Next </b>
              </div>
              Want to explore everything that's happening across Next Japan?
              Head over to the
              <b>Landing Page</b> for a full list of events. Feeling
              adventurous? Use our <b>AI Event Designer</b> to dream up your own
              one-of-a-kind gathering.
            </div>
            <div class="buttons">
              <a routerLink="/home" class="app-button app-button-filled">
                Open Landing Page
              </a>
              <a routerLink="/ai/create" class="app-button app-button-filled">
                Open AI Designer
              </a>
              <button
                class="app-button app-button-filled"
                (click)="openSurprise()"
              >
                Surprise Me!
              </button>
            </div>
          </div>
        </div>
      </mat-tab>
      <!-- <mat-tab label="Your Next Event">
        <div class="tab-content">
          @if(nextEventRegistration()) {
          <app-next-event [nextEventRegistration]="nextEventRegistration()" />
          } @else {
          <div class="banner">
            You haven't registered for any events yet.<br />
            Start planning your adventure and your next event will appear here!
          </div>
          }
        </div>
      </mat-tab> -->
      <mat-tab label="Your Events">
        <div class="tab-content banner">
          <app-event-registrations />
        </div>
      </mat-tab>
      <mat-tab label="Achievements">
        <!-- <div class="title-text">Achievements</div> -->
        <div class="tab-content banner">
          <app-profile-badges
            [user]="user()!"
            [eventRegistrationCount]="nextEventRegistration() ? 1 : 0"
          />
        </div>
      </mat-tab>
      <mat-tab label="Suggested for You">
        @if(suggestedEvent()) {
        <div class="tab-content">
          <!-- <div class="title-text">Suggested For You</div> -->
          <div style="max-width: 840px">
            <app-next-event [suggestedEvent]="suggestedEvent()" />
          </div>
        </div>
        }
      </mat-tab>
      <mat-tab label="Manage Subscription">Content 3</mat-tab>
    </mat-tab-group>
    }
  </div>
</div>
<!-- My Profile -->
@if(showProfileForm()) {
<app-user-profile [user]="user()!" (close)="closeProfileDialog()" />
} @if(showSurprise()) {
<app-modal (close)="closeSurprise()">
  <app-surprise (ready)="surpriseReady($event)" (dismiss)="closeSurprise()" />
</app-modal>
}
