:host {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 12px 0;
  //margin-bottom: 48px;
}

.cb-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.app-button-filled.user-profile {
  //width: 100%;
  border-radius: 24px;
  background-color: var(--next-surface);
  border-color: var(--next-border);
  color: var(--next-text);

  &:hover {
    background-color: var(--next-surface-alt);
  }
}

.mat-mdc-tab-group {
  width: 100%;
}

.tab-content {
  margin: 16px 0;
  width: 100%;
}

.muted {
  color: var(--next-note);
}

.app-button {
  border-radius: 24px;
}

ul.header {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;

  width: 100%;
}

.banner {
  padding: 24px 24px;
  border: 1px solid var(--next-border);
  border-radius: 10px;
  background-color: var(--next-surface);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  max-width: 700px;

  .app-button-filled {
    border-radius: 24px;
    //border-color: var(--red-torii-gate);
    //background-color: var(--red-torii-gate);
    //color: #fff;
  }
}

@media screen and (min-width: 600px) {
  .profile {
    //min-width: 400px;
  }

  ul.header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .buttons {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

@media screen and (min-width: 1040px) {
  :host {
    padding: 24px 0;
  }

  .cb-content {
    //flex-direction: row;
    //gap: 48px;
  }

  // .left {
  //   min-width: 320px;
  // }

  .nx-flex.responsive {
    gap: 48px;
  }
}
