@use "sass:map";
@use "variables.scss" as var;

.card-container {
  height: 100%;
  width: 100%;
}

button {
  //font-family: var.$app-font;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  color: #000;
  transition: 0.25s ease-in-out;
  background-color: white;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    background-color: map.get(var.$colors, section-gray);
    border-color: map.get(var.$colors, light-gray-accent);

    .image-container {
      img {
        //filter: brightness(85%);

        &.no-image {
          filter: brightness(95%);
        }
      }
    }
  }
}

.image-container {
  width: 192px;
  height: 128px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: var(--creamy-white-clouds);
  background: url("/assets/images/no-image.png");
  background-size: cover;
  overflow: hidden;
  padding: 3px;

  img {
    border-radius: 3px;
    border-top-right-radius: 3px;
    object-fit: fill;
    height: 100%;
    width: 100%;
    vertical-align: top;
    transition: 0.25s;
  }
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  gap: 14px;
  width: 100%;
  padding: 10px 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
  text-align: left;
}

.multi-line-box {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  text-align: left;

  &.description {
    white-space: pre-wrap;
  }
}

.title {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;

  &.multi-line-box {
    max-height: 63px;
    line-clamp: 3;
    -webkit-line-clamp: 3;
  }
}

.description {
  font-size: 14px;
  line-height: 19px;

  &.multi-line-box {
    max-height: 76px;
    line-clamp: 4;
    -webkit-line-clamp: 4;
  }
}

.upcoming {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  .banner {
    font-weight: 700;
  }
}

@media (min-width: 600px) {
  button {
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
  }
}
