@use "variables.scss" as var;

:host {
  display: block;
  width: 100%;
}

.background-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  backdrop-filter: brightness(80%) blur(20px);
  filter: blur(0.01px) grayscale(0.001);
}

.header-content {
  width: 100%;
  max-width: var.$max-page-width;
}

.banner-container {
  position: relative;
  width: 100%;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  img {
    object-fit: cover;
    width: auto;
    height: auto;

    &.grok {
      object-fit: contain;
    }
  }
}

.banner-bar {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
}

.banner-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 225px;
  line-clamp: 5;
  -webkit-line-clamp: 5;
  color: var(--next-highlight);
}

.event-desc {
  font-size: 12px;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 225px;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  margin-bottom: 10px;
}

.material-icons {
  color: var(--next-highlight);
}

@media (min-width: var.$screen-sm) {
  .banner-title {
    font-size: 36px;
    line-height: 45px;
  }
  .banner-bar {
    flex-direction: row;
    align-items: center;
    padding: 20px;
  }

  .event-desc {
    font-size: 16px;
    line-height: 20px;
  }
}
