<header>
  <div class="card-title">
    {{ event().eventTitle }}
  </div>
</header>
<main>
  @if (eventImage()) {
    <img
      class="hero"
      [class.grok]="event().aiProvider === 'Grok'"
      [ngSrc]="eventImage()!.src"
      [width]="eventImage()!.image.width"
      [height]="eventImage()!.image.height"
      placeholder
      alt="An image of the event."
    />
  }
  <p>
    {{ event().description }}
  </p>
</main>
<footer class="nj-flex row align-center gap-10">
  <app-anchor
    class="anchor"
    cssClass="app-button app-button-filled"
    [link]="routerLink()"
  >
    Open Event Details
  </app-anchor>
  <app-event-like-button [event]="event()" />
  <app-event-share-button [event]="event()" />
</footer>
