<header class="dialog">
  <span id="dialog-title"> Cancel Registration </span>
  <button
    type="button"
    class="dialog-close"
    mat-icon-button
    (click)="closeDialog()"
  >
    <span class="material-symbols-outlined"> close </span>
  </button>
</header>
<main class="dialog nj-flex col gap-16">
  <app-registration-card [registration]="eventToCancel()!" />
  @if (eventCanceled()) {
    <div class="confirm">This registration has been canceled.</div>
  } @else {
    <div class="confirm">
      Are you sure you want to cancel this event registration?
    </div>
    <div class="soft xs">
      You can cancel your registration up to 48 hours before the event starts.
      Questions?
      <a class="link-text" href="mailto: joe.svatek@icloud.com"> Contact us </a>
      - we're happy to help!
    </div>
  }
</main>
<footer class="dialog nj-flex col gap-10">
  @if (eventCanceled()) {
    <app-button
      cssClass="app-button app-button-filled priority"
      (buttonClick)="closeDialog()"
    >
      OK
    </app-button>
  } @else {
    <app-button
      cssClass="app-button app-button-filled priority"
      (buttonClick)="cancelEvent()"
    >
      Yes, I'm sure
    </app-button>
    <app-button
      cssClass="app-button app-button-outlined"
      (buttonClick)="closeDialog()"
    >
      No, I'll keep it.
    </app-button>
  }
</footer>
