.app-container {
  display: flex;
  flex-direction: column;
  min-height: calc(var(--app-height));
}

header {
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 101;
  width: 100%;
  background-color: rgba(var(--next-surface-rgb), 0.75);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}

main {
  flex: 1;
  width: 100%;
  margin-top: calc(var(--navbar-height) + var(--color-bar-height));

  .router-content {
    flex: 1;
  }
}

footer {
  width: 100%;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  &.open {
    height: 100%;
    width: 100%;
    z-index: 100;
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
  }
}
