<div class="app-container nx-flex col" [class.search-mode]="inSearchMode()">
  <header>
    <app-header />
  </header>
  <main class="nx-flex col jc-sb">
    <section class="router-content">
      <ng-content />
    </section>
    <footer>
      <app-footer />
    </footer>
    @defer(on timer(50ms)) {
    <!-- defer sign-in banner -->
    @if(!isAuthenticated()) {
    <app-sign-in-banner />
    }
    <!-- end defer -->
    } @placeholder {
    <i></i>
    }
  </main>
</div>
<div
  class="backdrop"
  [class.open]="inSearchMode()"
  (click)="toggleSearchMode()"
></div>

@if(isAuthenticating()) {
<app-login />
}

<!-- My Profile -->
@if(showProfileDialog()) {
<app-user-profile (close)="closeProfileDialog()" />
}
